{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    Demo
{% endblock title %}
{% block content %}
    <p>Click on confirm to activate a demo environment where you can freely test the system with no constraints.</p>
    <p>
        <i>(Note that the demo environment is temporary; to create a permanent one, <a href="{% url 'join' %}">click here to join</a>.</i>
    </p>
    <form action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <table class="mob ">
            {{ form.as_table }}
        </table>
        <input type="submit" value="{% trans "Confirm" %}">
    </form>
{% endblock content %}
