{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    Just a quick check
{% endblock title %}
{% block content %}
    <p>Please confirm you’re not a bot before joining our Discord server!</p>
    <form action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <table class="mob ">
            {{ form.as_table }}
        </table>
        <input type="submit" value="{% trans "Confirm" %}">
    </form>
{% endblock content %}
