{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    LarpManager Donation
{% endblock title %}
{% block content %}
    <h3>Thank you so much!</h3>
    <p>
        <!-- linter, it's ok! -->
    </p>
    <p>
        Your support helps us sustain and improve the LarpManager project, allowing us to keep building tools for the community.
    </p>
    <p>To proceed, simply click the confirmation button and you will be redirected to PayPal to complete your donation.</p>
    <form action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <table class="mob ">
            {{ form.as_table }}
        </table>
        <input type="submit" id="id_submit" value="{% trans "Confirm" %}">
    </form>
{% endblock content %}
