{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    {{ guide.title }} - LarpManager
{% endblock title %}
{% block js2 %}
    {% if iframe %}
        <style>
        #header, #footer, header, .main_nav, #topbar, #sidebar { display: none !important; }
        #main { padding: 0 !important; width: 100% !important; max-width: 100% !important; }
        #page-wrapper, #page-wrapper.topbar, #page-wrapper.sidebar { padding: 0 !important; margin: 0 !important; width: 100% !important; }
        </style>
    {% endif %}
{% endblock js2 %}
{% block meta %}
    <meta name="keywords" content="{{ guide.keywords }}">
    <meta name="description" content="{{ guide.description }}">
{% endblock meta %}
{% block content %}
    <div id="article">
        {% if guide.photo %}
            <div class="article-image">
                <img src="{{ guide.photo.url }}"
                     alt="{{ guide.title }}"
                     class="img-responsive" />
            </div>
        {% endif %}
        <div class="article-content">{{ guide.text | safe }}</div>
    </div>
{% endblock content %}
