{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    Howto
{% endblock title %}
{% block content %}
    <p>
        We’ve built an extensive library of video tutorials that cover every aspect of the software, helping you master it in no time! (If you prefer, you can follow the <a href="https://www.youtube.com/playlist?list=PLpoog3qL8tPKap0Q4a5TgL7INRduooeuu">youtube playlist</a>)
    </p>
    <p>
        <i>Below you will find the list of all video available; you can write a keyword to filter them. Then click on "view", and the video will appear on the bottom.</i>
    </p>
    <hr />
    <input type="text" name="search" id="search" placeholder="Search" />
    <hr />
    <!--
<div class="c nav hide tutorial" style="font-size: 70%;">
{% for el in list %}
<a href="#a{{ el.order }}">#{{ el.order }} - {{ el.name }}</a>
{% endfor %}
</div>
-->
    <div id="howtos">
        <table class="mob">
            {% for el in list %}
                <tr class="ht">
                    <th>#{{ el.order }} - {{ el.name }}</th>
                    <td>
                        <a href="#" onClick="return show('{{ el.link }}');">View</a>
                    </td>
                    <td>{{ el.descr }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <hr />
    <h2>F.A.Q.</h2>
    <p>
        We have a comprehensive list of information on how to use the larpmanager here, at the <a href="https://docs.google.com/document/d/1Uqx2aIe4JOsZ1k-uPLarsOIvYVgeOD-sM5Kbf0Gpo_k/edit#">LarpManager F.A.Q.!</a>
    </p>
{% endblock content %}
{% block js %}
    <script>
window.addEventListener('DOMContentLoaded', function() {
    $(function() {

        $('#search').on('input', function() { search($(this).val()); });
    });
});

function search(key) {
    $('.ht').each(function( index ) {
        chi = $(this).children();
        var tx = chi.eq(0).html() + chi.eq(1).html();

        if (tx.toLowerCase().includes(key.toLowerCase())) {
            $(this).show(300);
        } else {
            $(this).hide(300);
        }
    });
}

function show(key) {

    // console.log(key);

    var d_w = window.innerWidth;
    var d_h = window.innerHeight;

    // console.log(d_w);
    // console.log(d_h);

    var w1 = Math.ceil(d_w*0.8);
    var h1 = Math.ceil(w1*9/16.0);

    // console.log(w1);
    // console.log(h1);

    var h2 = Math.ceil(d_h*0.7);
    var w2 = Math.ceil(h2*16/9.0);

    // console.log(w2);
    // console.log(h2);

    var w = w2;
    var h = h2;

    if (w2 > d_w) {
        var w = w1;
        var h = h1;
    }

    var el = "<iframe width='" + w + "' height='"+ h + "' frameborder='0' allow='encrypted-media' allowfullscreen src='https://www.youtube.com/embed/" + key + "?rel=0&cc_load_policy=1'></iframe>";


        uglipop({class:'popup', //styling class for Modal
            source:'html',
            content: el});

        $('.popup').scrollTop( 0 );

     return false;
}

    </script>
{% endblock js %}
