{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    {{ texts.join_page_title }}
{% endblock title %}
{% block meta %}
    <meta name="keywords" content="{{ texts.join_meta_keywords }}">
    <meta name="description" content="{{ texts.join_meta_description }}">
{% endblock meta %}
{% block content %}
    {% include "elements/member/my_hub.html" %}
    {{ texts.join_content }}
    <form action="{{ request.path }}"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        <div class="form_container auto_resize">
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" id="id_submit" value="{% trans "Submit" %}">
        </div>
    </form>
    {{ texts.desktop_recommendation | safe }}
{% endblock content %}
{% block js %}
    <script> const base_domain = ".{{ association.base_domain }}"; </script>
    {% include "elements/association_preview.js" %}
{% endblock js %}
