{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    Join
{% endblock title %}
{% block content %}
    <p>Compile the info below, and you can start to use your own LarpManager immediately!</p>
    <form action="{{ request.path }}"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        <table class="mob no_csv">
            {{ form.as_table }}
        </table>
        <input type="submit" value="{% trans "Submit" %}">
    </form>
{% endblock content %}
{% block js %}
    <script> const base_domain = ".larpmanager.com"; </script>
    {% include "elements/assoc_preview.js" %}
{% endblock js %}
