{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    Get Started
{% endblock title %}
{% block meta %}
    <meta name="keywords"
          content="Get Started larpmanager, create larp account, start larp organization, larp registration platform, free larp signup, larp event setup">
    <meta name="description"
          content="Start using LarpManager today! Create your free account and begin managing your LARP events with our comprehensive platform - no installation or setup required.">
{% endblock meta %}
{% block content %}
    {% include "elements/member/my_hub.html" %}
    <h3>Create Your Organization</h3>
    <p>
        Compile the information below to get started immediately with LarpManager.
        A dedicated subdomain will be created for your LARP organization, with you as administrator.
        You will then be guided through creating your first event.
    </p>
    <form action="{{ request.path }}"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        <div class="form_container auto_resize">
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" id="id_submit" value="{% trans "Submit" %}">
        </div>
    </form>
    <p>(We strongly recommend using a desktop computer rather than a mobile device)</p>
{% endblock content %}
{% block js %}
    <script> const base_domain = ".{{ association.base_domain }}"; </script>
    {% include "elements/association_preview.js" %}
{% endblock js %}
