{% extends "base.html" %}
{% load i18n static %}
{% block maintitle %}
    {{ assoc.name }}
    {% if assoc.id > 0 %}- {{ assoc.platform }}{% endif %}
{% endblock maintitle %}
{% block robots %}
    {% include "elements/robots_show.html" %}
{% endblock robots %}
{% block meta %}
    <meta property="og:title" content="{{ assoc.name }} - {{ assoc.platform }}" />
    <meta name="description"
          content="Discover the next events of {{ assoc.name }} on LarpManager!">
{% endblock meta %}
{% block title %}
    {{ assoc.name }}
{% endblock title %}
{% block content %}
    <div class="clearer"></div>
    {% if custom_text %}
        {{ custom_text | safe }}
        <hr />
    {% endif %}
    {% if open %}
        {% if future %}
            <h2>{% trans "upcoming events" %}</h2>
        {% endif %}
        {% include "elements/run_list.html" with list=open %}
    {% endif %}
    {% if future %}
        <h2>{% trans "Next events" %}</h2>
        {% include "elements/run_list.html" with list=future %}
    {% endif %}
    {% if 'past_events' in assoc.features %}
        <div class="nav">
            <a href="{% url 'calendar_past' %}">{% trans "Past events" %}</a>
        </div>
    {% endif %}
{% endblock content %}
