{% extends "base.html" %}
{% load i18n %}
{% block title %}
    Casting {{ gl_name }} - {{ run.search }}
{% endblock title %}
{% block content %}
    <div class="centerized">
        {% if features.questbuilder %}
            <p>
                {% trans "Go to the casting for" %}:
                <a href="{% url 'casting' event.slug run.number 0 %}">{% trans "Characters" %}</a>
                {% for qtnum, qt in quest_types.items %}
                    , <a href="{% url 'casting' event.slug run.number qt.number %}">{{ qt.name }}</a>
                {% endfor %}
            </p>
            <h3>Casting {{ gl_name }}</h3>
        {% endif %}
        {% if casting_history %}
            <p>
                {% trans "Show the" %} <a href="{% url 'casting_history' event.slug run.number typ %}">{% trans "history of preferences" %}.</a>
            </p>
        {% endif %}
        {% if assigned %}
            <p>
                {% trans "Assigned" %}: <b>{{ assigned }}</b>
            </p>
        {% else %}
            <p>{% trans "Enter your preferences here" %}!</p>
            {% if casting_show_pref %}
                <p>
                    {% trans "Show the" %} <a href="{% url 'casting_preferences' event.slug run.number typ %}">{% trans "global preferences" %}.</a>
                </p>
            {% endif %}
            {% if faction_filter %}
                <br />
                <h3>
                    <a href="#" class="my_toggle" tog='factions'>{% trans "Filter factions" %}</a>
                </h3>
                <span class="helptext">{% trans "Select the faction on which you want to filter characters" %}.</span>
                <div id="factions" class="nav hide factions">
                    {% for f in faction_filter %}
                        <a id="f{{ f.id }}" href="#" onclick="return select_f({{ f.id }});">{{ f.name }}</a>
                    {% endfor %}
                </div>
                <br />
            {% endif %}
            <br />
            <form action="{{ request.path }}" method="post">
                {% csrf_token %}
                <table id="casting" class="no-more-tables">
                    <tr>
                        <th>{% trans "Preference" %}</th>
                        <th>{{ cl_name }}</th>
                        <th>{{ el_name }}</th>
                    </tr>
                    <tr>
                        <!-- filled later -->
                    </tr>
                </table>
                {% if casting_avoid %}
                    <p>
                        <i>{% trans "Indicate here any element you wish to avoid in the assignment" %}:</i>
                    </p>
                    <input type="text" name="avoid" id="avoid" value="{{ avoid }}" />
                    <br />
                    <br />
                {% endif %}
                <input type="submit"
                       name="subm"
                       id="submit"
                       value="{% trans "Submit" %}"
                       onClick="return confirm('{% trans "Confirm your choices" %}?');">
                <p id="err"></p>
            </form>
        </div>
    {% endif %}
{% endblock content %}
{% block js %}
    <script>
    var casting_max = {{ casting_max }};
    var casting_min = {{ casting_min }};
    var faction_list = {{ factions | safe }};
    var choices_dict = {{ choices | safe }};

    var faction_filter = [];

    var already = {{ already | safe }};

    function add_rows() {
        for (var ix = 0; ix < casting_max; ix++) {
            var row = "<tr><td class='simple'><h3>#{1}</h3></td>".format(ix, ix+1);
            row += "<td class='simple'><select id='faction{0}' name='faction{0}'><option value='' selected disabled>Choose here</option></select></td>".format(ix, ix+1);
            row += "<td class='simple'><select id='choice{0}' name='choice{0}'></select></td></tr>".format(ix, ix+1);
            $('#casting tr:last').prev().after(row);
        }
    }

    function load_choice() {

        // debug(faction_list);
        // debug(choices_dict);
        // debug(faction_list.length);

        for (var ix = 0; ix < casting_max; ix++) {
            for (var iy = 0; iy < faction_list.length; iy++) {
                // debug(faction_list[iy]);
                $('#faction' + ix).append(new Option(faction_list[iy], faction_list[iy]));
            }

            const g = ix;

            $('#faction' + ix).change(function() {
                update_el_dict(g);
            });

            $('#choice' + ix).change(function() {
                check_preferences();
            });
        }

        load_already();

        check_preferences();
    }

    function load_already() {
        for (var ix = 0; ix < casting_max; ix++) {
            if (already[ix] === undefined || already[ix] === '') continue;
            load_already_el(ix, already[ix]);
        }
    }

    function load_already_el(ix, elem) {

        for (var iy = 0; iy < faction_list.length; iy++) {
            var faction = faction_list[iy];
            for (kkey in choices_dict[faction]) {

                if (parseInt(kkey) !== parseInt(elem)) continue;

                $('#faction' + ix + ' option[value="'+faction+'"]').attr('selected', 'selected');
                update_el_dict(ix);
                // debug(kkey);
                $('#choice' + ix + ' option[value="'+kkey+'"]').attr('selected', 'selected');
                return;
            }
        }
    }


    function update_el_dict(ix) {
        var faction = $('#faction' + ix).children('option:selected').val();
        var alr = [];
        for (var yx = 0; yx < casting_max; yx++) {
            if (ix != yx) alr.push($('#choice' + yx).children('option:selected').val());
        }
        alr.sort();
        // console.log(alr);
        // alert(faction);
        $('#choice' + ix).empty();
        $('#choice' + ix).append('<option value=\'\' selected disabled>Choose here</option>');
        for (key in choices_dict[faction]) {
            var el = choices_dict[faction][key];
            if (!in_faction(el)) continue;
            var text = "#{0} {1}".format(el['number'], el['name']);
            if (el['title'] !== undefined && el['title'].trim() !== "") {
                text = "{0} - {1}".format(text, el['title']);
            }
            $('#choice' + ix).append(new Option(text, key));
        }

    }

    function check_preferences() {
        $('#submit').prop( 'disabled', true );
        $('#err').hide();

        for (var ix = 0; ix < casting_min; ix++) {
            var pref = $('#choice' + ix).children('option:selected').val();
            if (pref === undefined || pref === '') { show_err('{% trans "You have not reached the minimum number of preferences" %}'); return; }
        }

        for (var ix = 0; ix < casting_max; ix++) {
            var pref1 = $('#choice' + ix).children('option:selected').val();
            if (pref1 === undefined) continue;
            for (var iy = ix + 1; iy < casting_max; iy++) {
                var pref2 = $('#choice' + iy).children('option:selected').val();
                if (pref1 === pref2) { show_err('{% trans "You have chosen the same option in more than one preference" %}'); return; }
            }
        }

        $('#err').hide();
        $('#submit').prop( 'disabled', false );

    }

    function show_err(txt) {
        $('#err').text(txt);
        $('#err').show();
    }

window.addEventListener('DOMContentLoaded', function() {
    $(function() {

        add_rows();

        load_choice();
        /*
        $('#tipo').change(function() {
            url = document.URL;
            url = url.replace(/&t=[0-9]/i, '');
            url += '&t=' + this.value;
            window.location = url;
        });
        $('#tipo').val($this->tipo);
        */

        $('#choices').attr('action', document.URL);
    });
});

    function select_f(id) {
        $('#f' + id).toggleClass('sel');

        if (faction_filter.includes(id)) faction_filter.pop(id);
        else faction_filter.push(id);

        return false;
    }


    function in_faction(el) {
        if (faction_filter.length == 0) return true;

        var el_f = [];
        for (var ix = 0; ix < el.factions.length; ix++) {
            el_f.push(el.factions[ix].id);
        }
        el_f.sort();

        for (var ix = 0; ix < faction_filter.length; ix++) {
            const index = el_f.indexOf(faction_filter[ix]);
            if (index < 0) return false;
        }

        return true;
    }


    </script>
{% endblock js %}
