{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Quotas" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the quota options available for payment of the event" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/orga.html" %}
    <p>
        <i>{% trans "The ticket will be divided equally in the number of quotas indicated" %}.</i>
    </p>
    <p>
        <i>{% trans "Payment deadlines will be similarly equally divided, based on the date of registration" %}.</i>
    </p>
    <p>
        <i>{% trans "Beyond the minimum number of days indicated, the quota will no longer be available during registration" %}.</i>
    </p>
    <table id="registration_quotas" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Quotas" %}</th>
                <th>{% trans "Available days" %}</th>
                <th>{% trans "Surcharge" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'orga_registration_quotas_edit' run.event.slug run.number el.id %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.quotas }}</td>
                    <td>{{ el.days_available }}</td>
                    <td>
                        {% if el.surcharge %}{{ el.surcharge }}{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
