{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Registrations" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the signups of the event" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/orga.html" %}
    {% if reg_all %}
        <div id="overlay">
            <div class="lds-roller">
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
            </div>
        </div>
        <div class="staff-list">
            <div class="nav">
                <b>{% trans "Columns" %}</b>:
                <a href="#" id="load_accounting">{% trans "accounting" %}</a>
                <a href="#" class="table_toggle hide" tog='acc'>hidden</a>
                <a href="#" class="table_toggle" tog='email'>{% trans "email" %}</a>
                {% if features.unique_code %}
                    <a href="#" class="table_toggle" tog='special_cod'>{% trans "unique code" %}</a>
                {% endif %}
                {% if registration_reg_que_age %}
                    <a href="#" class="table_toggle" tog='age'>{% trans "age" %}</a>
                {% endif %}
                {% if features.additional_tickets %}
                    <a href="#" class="table_toggle" tog='additionals'>{% trans "additional" %}</a>
                {% endif %}
                {% if features.gift %}
                    <a href="#" class="table_toggle" tog='gift'>{% trans "gift" %}</a>
                {% endif %}
                {% if features.membership %}
                    <a href="#" class="table_toggle" tog='membership'>{% trans "member" %}</a>
                {% endif %}
                {% if features.faction %}
                    <a href="#" class="table_toggle" tog='factions'>{% trans "factions" %}</a>
                {% endif %}
                {% if features.custom_character %}
                    <a href="#" class="table_toggle" tog='custom'>{% trans "customisations" %}</a>
                {% endif %}
                {% if features.reg_surcharges %}
                    <a href="#" class="table_toggle" tog='sur'>{% trans "surcharge" %}</a>
                {% endif %}
                {% if features.discount %}
                    <a href="#" class="table_toggle" tog='disc'>{% trans "Discounts" %}</a>
                {% endif %}
                <a href="#" class="table_toggle" tog='date'>{% trans "chronology" %}</a>
            </div>
        </div>
        {% if reg_questions %}
            <div class="staff-list">
                <div class="nav">
                    {% trans "Questions" %}:
                    {% for key, que in reg_questions.items %}
                        {% if que.typ == 'e' %}
                            <a href="#" class="table_toggle no_jump" tog='q_{{ key }}'>{{ que.name | truncatechars:25 }}</a>
                        {% else %}
                            <a href="#" class="load_que lq_{{ key }}"  key="{{ key }}">{{ que.name | truncatechars:25 }}</a>
                            <a href="#" class="table_toggle hide no_jump" tog='q_{{ key }}'>hidden</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if features.questbuilder %}
            <div class="staff-list">
                <div class="nav">
                    Questbuilder:
                    {% for key, qt in quest_types.items %}
                        {% include "elements/comma.html" %}
                        <a href="#" class="table_toggle" tog='qt_{{ qt.number }}'>{{ qt.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% for key, dc in reg_all %}
            <h2>{{ dc.type }} ({{ dc.count }})</h2>
            <table id="regs_{{ run.id }}_{{ dc.type }}"
                   class="que_load go_datatable reg_list">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans "Member" %}</th>
                        {% if registration_reg_que_age %}
                            <th class="age">{% trans "Age (during the event)" %}</th>
                        {% endif %}
                        <th class="email">{% trans "Email" %}</th>
                        {% if features.gift %}
                            <th class="gift">{% trans "Gift" %}</th>
                        {% endif %}
                        {% if features.membership %}
                            <th class="membership">{% trans "Language" %}</th>
                            <th class="membership">{% trans "Member" %}</th>
                        {% endif %}
                        <th>{% trans "Ticket" %}</th>
                        {% if features.additional_tickets %}
                            <th class="additionals">{% trans "Additions" %}</th>
                        {% endif %}
                        {% if features.character %}
                            <th>{% trans "Character" %}</th>
                        {% endif %}
                        {% if features.faction %}
                            <th class="factions">{% trans "Factions" %}</th>
                        {% endif %}
                        {% if features.questbuilder %}
                            {% for key, qt in quest_types.items %}<th class="qt_{{ qt.number }}">{{ qt.name }}</th>{% endfor %}
                        {% endif %}
                        {% if features.custom_character %}
                            {% for nm in custom_info %}<th class="custom">{{ nm | capfirst }}</th>{% endfor %}
                        {% endif %}
                        {% for key, que in reg_questions.items %}<th class="q_{{ key }}">{{ que.name }}</th>{% endfor %}
                        {% if features.discount %}
                            <th class="disc">{% trans "Discounts" %}</th>
                        {% endif %}
                        <th class="date">{% trans "Creation" %} (y/m/d)</th>
                        <th class="date">{% trans "Last change" %} (y/m/d)</th>
                        {% if features.pay_what_you_want %}
                            <th class="acc pay_what">{% trans "PWYW" %}</th>
                        {% endif %}
                        {% if features.reg_surcharges %}
                            <th class="sur">{% trans "Surcharge" %}</th>
                        {% endif %}
                        {% if features.reg_quotas or features.reg_installments %}
                            <th class="acc quota">{% trans "Next quota" %}</th>
                        {% endif %}
                        <th class="acc deadline">{% trans "Deadline" %}</th>
                        <th class="acc remaining">{% trans "Owing" %}</th>
                        <th class="acc tot_payed">{% trans "Payed" %}</th>
                        <th class="acc tot_iscr">{% trans "Total" %}</th>
                        {% if features.vat %}
                            <th class="acc ticket_price">{% trans "Ticket" %}</th>
                            <th class="acc options_price">{% trans "Options" %}</th>
                        {% endif %}
                        {% if 'token_credit' in assoc.features %}
                            <th class="acc pay_a">{% trans "Money" %}</th>
                            <th class="acc pay_b">{{ credit_name }}</th>
                            <th class="acc pay_c">{{ token_name }}</th>
                        {% endif %}
                        {% if features.unique_code %}
                            <th class="special_cod">{% trans "Code" %}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for reg in dc.list %}
                        <tr id="{{ reg.id }}">
                            <td>
                                <a href="{% url 'orga_registrations_edit' run.event.slug run.number reg.id %}"
                                   qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                {{ reg.member | title }}
                                <a href="#" class="post_popup_member" pop="{{ reg.member.id }}"><i class="fas fa-eye"></i></a>
                            </td>
                            {% if registration_reg_que_age %}<td class="age">{{ reg.age }}</td>{% endif %}
                            <td class="email">{{ reg.member.email }}</td>
                            {% if features.gift %}
                                <td class="gift">
                                    {% if reg.redeem_code %}<i class="fa-solid fa-gift"></i>{% endif %}
                                </td>
                            {% endif %}
                            {% if features.membership %}
                                <td class="membership">{{ reg.member.language }}</td>
                                <td class="membership">{{ reg.membership }}</td>
                            {% endif %}
                            <td>{{ reg.ticket_show }}</td>
                            {% if features.additional_tickets %}
                                <td class="additionals">
                                    {% if reg.additionals %}{{ reg.additionals }}{% endif %}
                                </td>
                            {% endif %}
                            {% if features.character %}
                                <td>
                                    {% for el in reg.chars %}
                                        {% include "elements/comma.html" %}
                                        <a href="{% url 'orga_characters_edit' run.event.slug run.number el.id %}">#{{ el.number }} {{ el.name }}</a>
                                        {% if features.custom_character %}
                                            <a href="{% url 'orga_registrations_customization' run.event.slug run.number el.id %}"><i class="fas fa-user-pen"></i></a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endif %}
                            {% if features.faction %}
                                <th class="factions">
                                    {% for fnum in reg.factions %}
                                        {% with factions|get:fnum as ft %}
                                            {% if ft.id %}
                                                {% include "elements/comma.html" %}
                                                <a href="{% url 'orga_factions_edit' run.event.slug run.number ft.id %}">{{ ft.name }}</a>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                </th>
                            {% endif %}
                            {% if features.questbuilder %}
                                {% for key, qt in quest_types.items %}<th class="qt_{{ qt.number }}">{{ reg.traits | get:qt.number }}</th>{% endfor %}
                            {% endif %}
                            {% if features.custom_character %}
                                {% for nm in custom_info %}
                                    <th class="custom }}">
                                        {% if reg.custom|get:nm %}
                                            {% if nm != "profile" %}
                                                {{ reg.custom | get:nm | safe | clean_tags | truncatechars:50 }}
                                            {% else %}
                                                {{ reg.custom | get:nm | safe }}
                                            {% endif %}
                                            {% if reg.custom|get:nm|length > 50 %}
                                                <a href="#" class="show_popup" pop="{{ reg.id }}" fie="{{ nm }}"><i class="fas fa-eye"></i></a>
                                                <span class="popup_text {{ nm }}">
                                                    <h2>{{ reg.member }} - {{ nm | capfirst }}</h2>
                                                {{ reg.custom | get:nm | safe }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </th>
                                {% endfor %}
                            {% endif %}
                            {% for key, que in reg_questions.items %}
                                {% if que.typ == 'e' %}
                                    <td class="question q_{{ key }}">
                                        {% with ed_id=key|concat:'_red' %}
                                            {% lookup reg ed_id as value %}
                                            {{ value | safe }}
                                        {% endwith %}
                                    </td>
                                {% else %}
                                    <td class="question q_{{ key }}">
                                        <!-- filled later -->
                                    </td>
                                {% endif %}
                            {% endfor %}
                            {% if features.discount %}
                                <td class="disc">
                                    {% for d in reg.discounts %}
                                        {% include "elements/comma.html" %}
                                        {{ d }}
                                    {% endfor %}
                                    <a href="{% url 'orga_registration_discounts' run.event.slug run.number reg.id %}">{% trans "Manage" %}</a>
                                </td>
                            {% endif %}
                            <td class="date">{{ reg.created | date:"y/m/d H:i" }}</td>
                            <td class="date">{{ reg.updated | date:"y/m/d H:i" }}</td>
                            {% if features.pay_what_you_want %}<td class="acc pay_what"></td>{% endif %}
                            {% if features.surcharge %}
                                <td class="sur">
                                    <!-- filled later -->
                                </td>
                            {% endif %}
                            {% if features.reg_quotas or features.reg_installments %}
                                <td class="acc quota">
                                    <!-- filled later -->
                                </td>
                            {% endif %}
                            <td class="acc deadline">
                                <!-- filled later -->
                            </td>
                            <td class="acc remaining">
                                <!-- filled later -->
                            </td>
                            <td class="acc tot_payed">
                                <!-- filled later -->
                            </td>
                            <td class="acc tot_iscr">
                                <!-- filled later -->
                            </td>
                            {% if features.vat %}
                                <td class="acc ticket_price">
                                    <!-- filled later -->
                                </td>
                                <td class="acc options_price">
                                    <!-- filled later -->
                                </td>
                            {% endif %}
                            {% if 'token_credit' in assoc.features %}
                                <td class="acc pay_a">
                                    <!-- filled later -->
                                </td>
                                <td class="acc pay_b">
                                    <!-- filled later -->
                                </td>
                                <td class="acc pay_c">
                                    <!-- filled later -->
                                </td>
                            {% endif %}
                            {% if features.unique_code %}
                                <td class="special_cod">
                                    {% if reg.special_cod %}{{ reg.special_cod }}{% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        <a href="{% url 'orga_registrations_reload' run.event.slug run.number %}">{% trans "Recalculate" %}</a>
        <h2>{% trans "Email list" %}</h2>
        <p>
            <a href="#" class="table_toggle" tog='email_players'>{% trans "Players" %}</a>,
            <a href="#" class="table_toggle" tog='email_tickets'>{% trans "Tickets" %}</a>,
            {% if features.membership %}
                <a href="#" class="table_toggle" tog='email_memb'>{% trans "Membership" %}</a>,
            {% endif %}
            {% if features.discount %}
                <a href="#" class="table_toggle" tog='email_disc'>{% trans "Discounts" %}</a>,
            {% endif %}
        </p>
        <div class="hide email_players">
            <br />
            <h4>{% trans "Players" %}</h4>
            <table>
                <tr>
                    <th>{% trans "Players" %}</th>
                    <td>{{ list_all.all.emails | length }}</td>
                    <td>
                        {% for el in list_all.all.emails %}
                            {% include "elements/comma.html" %}
                            {{ el }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for el in list_all.all.players %}
                            {% include "elements/comma.html" %}
                            {{ el }}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="hide email_tickets">
            <br />
            <h4>{% trans "Tickets" %}</h4>
            <table>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Emails</th>
                    <th>Names</th>
                </tr>
                {% for key, t in list_tickets.items %}
                    <tr>
                        <th>{{ t.name }}</th>
                        <td>{{ t.emails | length }}</td>
                        <td>
                            {% for el in t.emails %}
                                {% include "elements/comma.html" %}
                                {{ el }}
                            {% endfor %}
                        </td>
                        <td>
                            {% for el in t.players %}
                                {% include "elements/comma.html" %}
                                {{ el }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="hide email_type">
            <br />
            <h4>Email - {% trans "Registration" %}</h4>
            <table>
                <tr>
                    <th>{% trans "Staff" %}</th>
                    <td>{{ ticket_staff }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>{{ ticket_e }}</td>
                </tr>
                <tr>
                    <th>{% trans "Player" %}</th>
                    <td>{{ ticket.b }}</td>
                </tr>
                {% if features.filler %}
                    <tr>
                        <th>{% trans "Filler" %}</th>
                        <td>{{ ticket.f }}</td>
                    </tr>
                {% endif %}
                {% if features.waiting %}
                    <tr>
                        <th>{% trans "Waiting" %}</th>
                        <td>{{ ticket.w }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        {% if features.membership %}
            <div class="hide email_memb">
                <br />
                <h4>Email - {% trans "Membership" %}</h4>
                <table>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Emails</th>
                        <th>Names</th>
                    </tr>
                    {% for key, t in list_membership.items %}
                        <tr>
                            <th>{{ t.name }}</th>
                            <td>{{ t.emails | length }}</td>
                            <td>
                                {% for el in t.emails %}
                                    {% include "elements/comma.html" %}
                                    {{ el }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for el in t.players %}
                                    {% include "elements/comma.html" %}
                                    {{ el }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if features.discount %}
            <div class="hide email_disc">
                <br />
                <h4>Email - {% trans "Discounts" %}</h4>
                <table>
                    {% for key, t in list_discount.items %}
                        <tr>
                            <th>{{ t.name }}</th>
                            <td>{{ t.emails | length }}</td>
                            <td>
                                {% for el in t.emails %}
                                    {% include "elements/comma.html" %}
                                    {{ el }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for el in t.players %}
                                    {% include "elements/comma.html" %}
                                    {{ el }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if list_factions %}
            <br />
            {% for k, fc in list_factions.items %}
                <a href="#" class="my_toggle" tog='email_fc_{{ k }}'>{{ fc.name }}</a>,
            {% endfor %}
            {% for k, fc in list_factions.items %}
                <div class="hide email_fc_{{ k }}">
                    <h4>{{ fc.name }}</h4>
                    <table>
                        <tr>
                            <td>{{ fc.emails | length }}</td>
                            <td>
                                {% for el in fc.emails %}
                                    {% include "elements/comma.html" %}
                                    {{ el }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for el in fc.players %}
                                    {% include "elements/comma.html" %}
                                    {{ el }}
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
        {% if reg_questions %}
            <br />
            <p id="show">
                <b>{% trans "Load list" %}</b>
            </p>
            <div class="nav fields">
                {% for key, que in reg_questions.items %}
                    {% if que.typ == 's' or que.typ == 'm' %}
                        <a href="#" class="load_email_que" key="{{ key }}">{{ que.name | truncatechars:25 }}</a>
                        <a href="#" class="my_toggle hide" tog='email_que_{{ key }}'>hidden</a>
                    {% endif %}
                {% endfor %}
            </div>
            {% for key, que in reg_questions.items %}
                {% if que.typ == 's' or que.typ == 'm' %}
                    <div class="hide email_que_{{ key }}">
                        <br />
                        <h4>{{ que.name }}</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Option</th>
                                    <th>Count</th>
                                    <th>Emails</th>
                                    <th>Names</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- loaded after -->
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        <br />
        <p>
            <i>{% trans "No registrations have been received for this event yet" %}</i>
        </p>
    {% endif %}
{% endblock content %}
{% block js %}
    <script>
var url_load_questions = "{% url 'orga_registration_form_list' run.event.slug run.number %}";
var url_load_questions_email = "{% url 'orga_registration_form_email' run.event.slug run.number %}";

var download_text = '{% trans "Download" %}';

var accounting = true;

window.trigger_togs = {{ default_fields | safe }};

{% include "elements/questions/load.js" %}

window.addEventListener('DOMContentLoaded', function() {

    function load_accounting(el) {

        if ($('#load_accounting').hasClass('select')) {
            el.next().trigger('click');
            $('#load_accounting').removeClass('select');
            return;
        }

        request = $.ajax({
            url: "{% url 'orga_registrations_accounting' run.event.slug run.number %}",
            method: "POST",
            datatype: "json",
        });

        start_spinner();

        request.done(function(data) {
            for (let key in data) {
                for (let nm in data[key]) {
                    let vl = data[key][nm];
                    if (parseInt(vl) != 0) {

                        {% if interface_old %}
                        $('#' + key + ' .' + nm).html(vl);
                        {% else %}

                        Object.keys(window.datatables).forEach(function(dt_key) {
                            var table = window.datatables[dt_key];
                            var cell = table.cell('#' + key, '.' + nm);
                            if (cell && cell.node()) {
                                cell.data(vl).draw(false);
                            }
                        });
                        {% endif %}
                    }
                }
            }

            done['acc'] = 1;

            $('#load_accounting').addClass('select');

            el.next().trigger('click');

            stop_spinner();

            setTimeout(reload_table, 1000);
        });

    }

    $(function() {

        $('#load_accounting').on('click', function () {
            load_accounting($(this));
            return false;
        });

        $(document).on('click', '.post_popup_member', function (e) {

                start_spinner();

                request = $.ajax({
                    url: "{% url 'orga_registration_member' run.event.slug run.number %}",
                    method: "POST",
                    data: { mid: $(this).attr("pop") },
                    datatype: "json",
                });

                request.done(function(res) {
                    if (res.k == 0) return;
                    stop_spinner();

                    uglipop({class:'popup', source:'html', content: res.v});

                    $('.popup').scrollTop( 0 );
                    $(".popup .hide").hide();
                });

                return false;
            });

    });
});
    </script>
{% endblock js %}
