{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Registrations" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the signups of the event" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/edit.html" %}
    {% if reg_all %}
        <div id="overlay">
            <div class="lds-roller">
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
                <div>
                    <!-- spinner -->
                </div>
            </div>
        </div>
        <div class="staff-list">
            <div class="nav">
                <b>{% trans "Columns" %}</b>:
                <a href="#" id="load_accounting">{% trans "accounting" %}</a>
                <a href="#" class="table_toggle hide" tog='acc'>hidden</a>
                <a href="#" class="table_toggle" tog='email'>{% trans "email" %}</a>
                {% if registration_reg_que_age %}
                    <a href="#" class="table_toggle" tog='age'>{% trans "age" %}</a>
                {% endif %}
                {% if features.gift %}
                    <a href="#" class="table_toggle" tog='gift'>{% trans "gift" %}</a>
                {% endif %}
                {% if features.membership %}
                    <a href="#" class="table_toggle" tog='membership'>{% trans "member" %}</a>
                {% endif %}
                {% if features.faction %}
                    <a href="#" class="table_toggle" tog='factions'>{% trans "factions" %}</a>
                {% endif %}
                {% if features.custom_character %}
                    <a href="#" class="table_toggle" tog='custom'>{% trans "customisations" %}</a>
                {% endif %}
                {% if features.discount %}
                    <a href="#" class="table_toggle" tog='disc'>{% trans "Discounts" %}</a>
                {% endif %}
                <a href="#" class="table_toggle" tog='date'>{% trans "chronology" %}</a>
            </div>
        </div>
        {% if reg_questions %}
            <div class="staff-list">
                <div class="nav">
                    {% trans "Questions" %}:
                    {% for key, que in reg_questions.items %}
                        {% if que.typ == 'e' %}
                            <a href="#" class="table_toggle no_jump" tog='q_{{ key }}'>{{ que.name | truncatechars:25 }}</a>
                        {% else %}
                            <a href="#" class="load_que lq_{{ key }}"  key="{{ key }}">{{ que.name | truncatechars:25 }}</a>
                            <a href="#" class="table_toggle hide no_jump" tog='q_{{ key }}'>hidden</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if features.questbuilder and quest_types %}
            <div class="staff-list">
                <div class="nav">
                    Questbuilder:
                    {% for key, qt in quest_types.items %}
                        {% include "elements/comma.html" %}
                        <a href="#" class="table_toggle" tog='qt_{{ qt.number }}'>{{ qt.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% for key, dc in reg_all %}
            {% if dc.list %}
                <h2>{{ dc.type }} ({{ dc.count }})</h2>
                <table id="regs_{{ run.uuid }}_{{ dc.type }}"
                       class="que_load go_datatable registration_list">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "Participant" %}</th>
                            {% if registration_reg_que_age %}
                                <th class="age">{% trans "Age (during the event)" %}</th>
                            {% endif %}
                            <th class="email">{% trans "Email" %}</th>
                            {% if features.gift %}
                                <th class="gift">{% trans "Gift" %}</th>
                            {% endif %}
                            {% if features.membership %}
                                <th class="membership">{% trans "Language" %}</th>
                                <th class="membership">{% trans "Participant" %}</th>
                            {% endif %}
                            {% if features.character %}
                                <th>{% trans "Character" %}</th>
                            {% endif %}
                            {% if features.faction %}
                                <th class="factions">{% trans "Factions" %}</th>
                            {% endif %}
                            {% if features.questbuilder %}
                                {% for key, qt in quest_types.items %}<th class="qt_{{ qt.number }}">{{ qt.name }}</th>{% endfor %}
                            {% endif %}
                            {% if features.custom_character %}
                                {% for nm in custom_info %}<th class="custom">{{ nm | capfirst }}</th>{% endfor %}
                            {% endif %}
                            {% for key, que in reg_questions.items %}<th class="q_{{ key }}">{{ que.name }}</th>{% endfor %}
                            {% if features.discount %}
                                <th class="disc">{% trans "Discounts" %}</th>
                            {% endif %}
                            <th class="date">{% trans "Creation" %} (y/m/d)</th>
                            <th class="date">{% trans "Last change" %} (y/m/d)</th>
                            <th class="date">{% trans "Full payment" %} (y/m/d)</th>
                            {% if features.reg_quotas or features.reg_installments %}
                                <th class="acc quota">{% trans "Next quota" %}</th>
                            {% endif %}
                            <th class="acc deadline">{% trans "Deadline" %}</th>
                            <th class="acc remaining">{% trans "Owing" %}</th>
                            <th class="acc tot_payed">{% trans "Payed" %}</th>
                            <th class="acc tot_iscr">{% trans "Total" %}</th>
                            {% if features.vat %}
                                <th class="acc ticket_price">{% trans "Ticket" %}</th>
                                <th class="acc options_price">{% trans "Options" %}</th>
                            {% endif %}
                            <th class="acc pay_a">{% trans "Money" %}</th>
                            {% if 'credits' in association.features %}<th class="acc pay_b">{{ credits_name }}</th>{% endif %}
                            {% if 'tokens' in association.features %}<th class="acc pay_c">{{ tokens_name }}</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for reg in dc.list %}
                            <tr id="{{ reg.uuid }}">
                                <td>
                                    <a href="{% url 'orga_registrations_edit' run.get_slug reg.uuid %}"
                                       qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                                </td>
                                <td>
                                    {{ reg.member | title }}
                                    <a href="#" class="post_popup_member" pop="{{ reg.member.uuid }}"><i class="fas fa-eye"></i></a>
                                </td>
                                {% if registration_reg_que_age %}<td class="age">{{ reg.age }}</td>{% endif %}
                                <td class="email">{{ reg.member.email }}</td>
                                {% if features.gift %}
                                    <td class="gift">
                                        {% if reg.redeem_code %}<i class="fa-solid fa-gift"></i>{% endif %}
                                    </td>
                                {% endif %}
                                {% if features.membership %}
                                    <td class="membership">{{ reg.member.language }}</td>
                                    <td class="membership">{{ reg.membership }}</td>
                                {% endif %}
                                {% if features.character %}
                                    <td>
                                        {% for el in reg.chars %}
                                            {% include "elements/comma.html" %}
                                            <a href="{% url 'orga_characters_edit' run.get_slug el.uuid %}">#{{ el.number }} {{ el.name }}</a>
                                            {% if features.custom_character %}
                                                <a href="{% url 'orga_registrations_customization' run.get_slug el.uuid %}"><i class="fas fa-user-pen"></i></a>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endif %}
                                {% if features.faction %}
                                    <td class="factions">
                                        {% for fnum in reg.factions %}
                                            {% with factions|get:fnum as ft %}
                                                {% if ft.id %}
                                                    {% include "elements/comma.html" %}
                                                    <a href="{% url 'orga_factions_edit' run.get_slug ft.uuid %}">{{ ft.name }}</a>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </td>
                                {% endif %}
                                {% if features.questbuilder %}
                                    {% for key, qt in quest_types.items %}
                                        <th class="qt_{{ qt.number }}"  tooltip="{{ qt.name }}">{{ reg.traits | get:qt.number }}</th>
                                    {% endfor %}
                                {% endif %}
                                {% if features.custom_character %}
                                    {% for nm in custom_info %}
                                        <td class="custom" tooltip="{{ nm }}">
                                            {% if reg.custom|get:nm %}
                                                {% if nm != "profile" %}
                                                    {{ reg.custom | get:nm | safe | clean_tags | truncatechars:50 }}
                                                {% else %}
                                                    {{ reg.custom | get:nm | safe }}
                                                {% endif %}
                                                {% if reg.custom|get:nm|length > 50 %}
                                                    <a href="#" class="show_popup" pop="{{ reg.uuid }}" fie="{{ nm }}"><i class="fas fa-eye"></i></a>
                                                    <span class="popup_text {{ nm }}">
                                                        <h2>{{ reg.member }} - {{ nm | capfirst }}</h2>
                                                    {{ reg.custom | get:nm | safe }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                {% endif %}
                                {% for key, que in reg_questions.items %}
                                    {% if que.typ == 'e' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            {% with ed_id=key|concat:'_red' %}
                                                {% lookup reg ed_id as value %}
                                                {{ value | safe }}
                                            {% endwith %}
                                        </td>
                                    {% elif que.typ == 'additional_tickets' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            {% if reg.additionals %}{{ reg.additionals }}{% endif %}
                                        </td>
                                    {% elif que.typ == 'pay_what_you_want' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            {% if reg.pay_what %}{{ reg.pay_what }}{% endif %}
                                        </td>
                                    {% elif que.typ == 'reg_quotas' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            {% if reg.quotas %}{{ reg.quotas }}{% endif %}
                                        </td>
                                    {% elif que.typ == 'reg_surcharges' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            {% if reg.surcharge %}{{ reg.surcharge }}{% endif %}
                                        </td>
                                    {% elif que.typ == 'ticket' %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">{{ reg.ticket_show }}</td>
                                    {% else %}
                                        <td class="question q_{{ key }}" tooltip="{{ que.name }}">
                                            <!-- filled later -->
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                {% if features.discount %}
                                    <td class="disc">
                                        {% for d in reg.discounts %}
                                            {% include "elements/comma.html" %}
                                            {{ d }}
                                        {% endfor %}
                                        <a href="{% url 'orga_registration_discounts' run.get_slug reg.uuid %}">{% trans "Manage" %}</a>
                                    </td>
                                {% endif %}
                                <td class="date">{{ reg.created | date:"y/m/d H:i" }}</td>
                                <td class="date">{{ reg.updated | date:"y/m/d H:i" }}</td>
                                <td class="date">
                                    {% if reg.payment_date %}{{ reg.payment_date | date:"y/m/d H:i" }}{% endif %}
                                </td>
                                {% if features.reg_quotas or features.reg_installments %}
                                    <td class="acc quota"
                                        tooltip="{% trans "Amount of the next payment instalment required" %}">
                                        <!-- filled later -->
                                    </td>
                                {% endif %}
                                <td class="acc deadline"
                                    tooltip="{% trans "Number of days within which the player must pay his next installment" %}">
                                    <!-- filled later -->
                                </td>
                                <td class="acc remaining"
                                    tooltip="{% trans "Total remaining to be paid" %}">
                                    <!-- filled later -->
                                </td>
                                <td class="acc tot_payed"
                                    tooltip="{% trans "Total of what has already been paid at the current date" %}">
                                    <!-- filled later -->
                                </td>
                                <td class="acc tot_iscr"
                                    tooltip="{% trans "Sum of the signup fee, total to be paid" %}">
                                    <!-- filled later -->
                                </td>
                                {% if features.vat %}
                                    <td class="acc ticket_price"
                                        tooltip="{% trans "Part of the registration fee derived only from the ticket chosen" %}">
                                        <!-- filled later -->
                                    </td>
                                    <td class="acc options_price"
                                        tooltip="{% trans "Part of the registration fee derived only from the additional options chosen" %}">
                                        <!-- filled later -->
                                    </td>
                                {% endif %}
                                <td class="acc pay_a"
                                    tooltip="{% trans "Sum of payments received with means of payment" %}">
                                    <!-- filled later -->
                                </td>
                                {% if 'credits' in association.features %}
                                    <td class="acc pay_b"
                                        tooltip="{% trans "Sum of payments received through" %} {{ credits_name }}">
                                        <!-- filled later -->
                                    </td>
                                {% endif %}
                                {% if 'tokens' in association.features %}
                                    <td class="acc pay_c"
                                        tooltip="{% trans "Sum of payments received through" %} {{ tokens_name }}">
                                        <!-- filled later -->
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
        <div class="staff-list">
            <div class="orga-buttons">
                <a class="new button"
                   href="{% url 'orga_registration_transfer' run.get_slug %}">
                    <i class="fas fa-exchange-alt"></i> {% trans "Transfer" %}
                </a>
                <a class="new button"
                   href="{% url 'orga_registrations_reload' run.get_slug %}">
                    <i class="fas fa-arrow-rotate-right"></i> {% trans "Recompute" %}
                </a>
            </div>
        </div>
        {% include "elements/registrations_list.html" %}
    {% else %}
        <br />
        <p>
            <i>{% trans "No registrations have been received for this event yet" %}</i>
        </p>
    {% endif %}
{% endblock content %}
{% block js %}
    <script>
var url_load_questions = "{% url 'orga_registration_form_list' run.get_slug %}";
var url_load_questions_email = "{% url 'orga_registration_form_email' run.get_slug %}";

var download_text = '{% filter escapejs %}{% trans "Download" %}{% endfilter %}';

var accounting = true;

window.trigger_togs = {{ default_fields | safe }};

{% include "elements/questions/load.js" %}

window.addEventListener('DOMContentLoaded', function() {

    function load_accounting(el) {

        if ($('#load_accounting').hasClass('select')) {
            el.next().trigger('click');
            $('#load_accounting').removeClass('select');
            return;
        }

        request = $.ajax({
            url: "{% url 'orga_registrations_accounting' run.get_slug %}",
            method: "POST",
            datatype: "json",
        });

        // Show spinner only after 500ms delay
        let spinnerTimeout = setTimeout(function() {
            start_spinner();
        }, 500);

        request.done(function(data) {
            // Clear the spinner timeout since request completed
            clearTimeout(spinnerTimeout);

            // Batch updates by table to minimize DOM operations
            const tableUpdates = {};
            let totalUpdates = 0;

            // Collect all updates first
            for (let key in data) {
                for (let nm in data[key]) {
                    let vl = data[key][nm];
                    if (parseInt(vl) != 0) {
                        Object.keys(window.datatables).forEach(function(dt_key) {
                            const table = window.datatables[dt_key];
                            const row = table.row('#' + key);

                            if (row.length > 0) {
                                if (!tableUpdates[dt_key]) {
                                    tableUpdates[dt_key] = [];
                                }
                                tableUpdates[dt_key].push({
                                    rowSelector: '#' + key,
                                    columnClass: '.' + nm,
                                    value: vl
                                });
                                totalUpdates++;
                            }
                        });
                    }
                }
            }

            // Apply all updates per table and draw once
            Object.keys(tableUpdates).forEach(function(dt_key) {
                const table = window.datatables[dt_key];
                const updates = tableUpdates[dt_key];

                updates.forEach(function(update) {
                    const cell = table.cell(update.rowSelector, update.columnClass);
                    if (cell && cell.node()) {
                        cell.data(update.value);
                    }
                });

                // Single draw call per table instead of multiple
                table.draw(false);
            });

            done['acc'] = 1;

            $('#load_accounting').addClass('select');

            el.next().trigger('click');

            clearTimeout(spinnerTimeout);
            stop_spinner();

            setTimeout(reload_table, 1000);
        }).fail(function() {
            // Clear the spinner timeout and handle errors gracefully
            clearTimeout(spinnerTimeout);
            stop_spinner();
            console.error('Failed to load accounting data');
        });

    }

    $(function() {

        $('#load_accounting').on('click', function () {
            load_accounting($(this));
            return false;
        });

        $(document).on('click', '.post_popup_member', function (e) {

                // Show spinner only after 500ms delay
                let spinnerTimeout = setTimeout(function() {
                    start_spinner();
                }, 500);

                request = $.ajax({
                    url: "{% url 'orga_registration_member' run.get_slug %}",
                    method: "POST",
                    data: { mid: $(this).attr("pop") },
                    datatype: "json",
                });

                request.done(function(res) {
                    // Clear the spinner timeout since request completed
                    clearTimeout(spinnerTimeout);

                    if (res.k == 0) return;
                    stop_spinner();

                    uglipop({class:'popup', source:'html', content: res.v});

                    $('.popup').scrollTop( 0 );
                    $(".popup .hide").hide();
                });

                return false;
            });

    });
});
    </script>
{% endblock js %}
