{% extends "larpmanager/landing/base.html" %}
{% load i18n static %}
{% block maintitle %}
    {{ texts.demo_page_title }}
{% endblock maintitle %}
{% block landing_eyebrow %}
    Demo
{% endblock landing_eyebrow %}
{% block landing_title %}
    {{ texts.demo_title }}
{% endblock landing_title %}
{% block landing_content %}
    <div class="about-prose landing-prose">{{ texts.demo_content | safe }}</div>
    <form class="contact-form"
          action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <input class="btn btn-primary"
               type="submit"
               id="id_submit"
               value="{% trans "Confirm" %}">
    </form>
    <div class="contact-alt">{{ texts.desktop_recommendation | safe }}</div>
{% endblock landing_content %}
