{% extends "utils.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    {% trans "Accounting" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows the total membership accounts, dues, donations, expenses, the overall cash and individual event/run budget" %}
{% endblock info %}
{% block content %}
    <p>
        {% trans "Global balance" %}: <b>{{ global_sum }}</b>
        <br />
        <i>({% trans "This is the associative positive operating margin, taking into account the budgets of completed runs, minus credits or tokens issued" %})</i>
        <br />
        <br />
    </p>
    <table>
        {% if features.membership %}
            <tr>
                <td>{% trans "Membership fees" %}</td>
                <td>
                    <b>{{ membership_sum }}</b>
                </td>
            </tr>
        {% endif %}
        {% if features.donate %}
            <tr>
                <td>{% trans "Donations" %}</td>
                <td>
                    <b>{{ donations_sum }}</b>
                </td>
            </tr>
        {% endif %}
        {% if features.inflow %}
            <tr>
                <td>{% trans "Organization inflows" %}</td>
                <td>
                    <b>{{ inflow_exec_sum }}</b>
                </td>
            </tr>
        {% endif %}
        {% if features.outflow %}
            <tr>
                <td>{% trans "Outflows" %}</td>
                <td>
                    <b>{{ outflow_exec_sum }}</b>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>{% trans "Run balance" %}</td>
            <td>
                <b>{{ balance_sum }}</b>
            </td>
        </tr>
        {% if features.token_credit %}
            <tr>
                <td>{{ token_name }} {% trans "issued" %}</td>
                <td>
                    <b>{{ tokens_sum }}</b>
                </td>
            </tr>
            <tr>
                <td>{{ credit_name }} {% trans "issued" %}</td>
                <td>
                    <b>{{ credits_sum }}</b>
                </td>
            </tr>
        {% endif %}
    </table>
    <p>
        {% trans "Overall balance" %}: <b>{{ bank_sum }}</b>
        <br />
        <i>({% trans "This is the overall amount that should be held in the organization’s bank and financial accounts" %})</i>
        <br />
        <br />
    </p>
    <table>
        {% if features.membership %}
            <tr>
                <td>{% trans "Membership fees" %}</td>
                <td>
                    <b>{{ membership_sum }}</b>
                </td>
            </tr>
        {% endif %}
        {% if features.donate %}
            <tr>
                <td>{% trans "Donations" %}</td>
                <td>
                    <b>{{ donations_sum }}</b>
                </td>
            </tr>
        {% endif %}
        {% if features.payment %}
            <tr>
                <td>{% trans "Total payments" %}</td>
                <td>
                    <b>{{ pay_money_sum }}</b>
                </td>
            </tr>
        {% endif %}
        {% if features.payment_fees %}
            <tr>
                <td>{% trans "Transaction totals" %}</td>
                <td>
                    <b>{{ transactions_sum }}</b>
                </td>
            </tr>
        {% endif %}
        {% if features.inflow %}
            <tr>
                <td>{% trans "Inflows total" %}</td>
                <td>
                    <b>{{ inflow_sum }}</b>
                </td>
            </tr>
        {% endif %}
        {% if features.outflow %}
            <tr>
                <td>{% trans "Outflows total" %}</td>
                <td>
                    <b>{{ outflow_sum }}</b>
                </td>
            </tr>
        {% endif %}
        {% if features.refund %}
            <tr>
                <td>{% trans "Refund given" %}</td>
                <td>
                    <b>{{ refund_sum }}</b>
                </td>
            </tr>
        {% endif %}
    </table>
    <p>
        {% trans "Show" %}:
        {% for year in sum_year %}
            <a href="#" class="summary" tog='{{ year }}'>{% trans "Summary" %} {{ year }}</a>,
            <a href="#" class="my_toggle hide" tog='sum_{{ year }}'>hidden</a>
        {% endfor %}
        {% if features.token_credit %}
            <a href="#" class="my_toggle" tog='tcm'>{{ token_name }} / {{ credit_name }}</a>,
        {% endif %}
        <a href="#" class="my_toggle" tog='runs'>{% trans "Run balance" %}</a>
    </p>
    {% for year in sum_year %}
        <div class="hide sum_{{ year }}">
            <h2>{% trans "Summary" %} {{ year }}</h2>
            <br />
            <table>
                {% if features.membership %}
                    <tr>
                        <td>{% trans "Membership fees" %}</td>
                        <td>
                            <b class="membership_sum"></b>
                        </td>
                    </tr>
                {% endif %}
                {% if features.donate %}
                    <tr>
                        <td>{% trans "Donations" %}</td>
                        <td>
                            <b class="donations_sum"></b>
                        </td>
                    </tr>
                {% endif %}
                {% if features.payment %}
                    <tr>
                        <td>{% trans "Total payments" %}</td>
                        <td>
                            <b class="pay_money_sum"></b>
                        </td>
                    </tr>
                {% endif %}
                {% if features.payment_fees %}
                    <tr>
                        <td>{% trans "Transaction totals" %}</td>
                        <td>
                            <b class="transactions_sum"></b>
                        </td>
                    </tr>
                {% endif %}
                {% if features.inflow %}
                    <tr>
                        <td>{% trans "Inflows total" %}</td>
                        <td>
                            <b class="inflow_sum"></b>
                        </td>
                    </tr>
                {% endif %}
                {% if features.outflow %}
                    <tr>
                        <td>{% trans "Outflows total" %}</td>
                        <td>
                            <b class="outflow_sum"></b>
                        </td>
                    </tr>
                {% endif %}
                {% if features.refund %}
                    <tr>
                        <td>{% trans "Refund given" %}</td>
                        <td>
                            <b class="refund_sum"></b>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endfor %}
    <div class="hide tcm">
        <h2>{{ token_name }} / {{ credit_name }}</h2>
        <table class="writing tablesorter">
            <thead>
                <tr>
                    <th>{% trans "Member" %}</th>
                    <th>{{ token_name }}</th>
                    <th>{{ credit_name }}</th>
                </tr>
            </thead>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>{{ el }}</td>
                    <td>{{ el.tokens }}</td>
                    <td>{{ el.credit }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="hide runs">
        <h2>{% trans "Run balance" %}</h2>
        <table class="writing tablesorter">
            <thead>
                <tr>
                    <th>{% trans "Run" %}</th>
                    <th>{% trans "Balance" %}</th>
                    <th>{% trans "Close" %}</th>
                    <th>{% trans "Start date" %}</th>
                </tr>
            </thead>
            {% for el in runs %}
                <tr>
                    <td>
                        <a href="{% url 'exe_run_accounting' el.id %}">{{ el }}</a>
                    </td>
                    <td>{{ el.balance }}</td>
                    <td>
                        {% if el.development != '9' %}NO{% endif %}
                    </td>
                    <td>{{ el.start }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
{% block js %}
    <script>
    window.addEventListener('DOMContentLoaded', function() {
        $(function() {

            $('.summary').on( "click", function(event) {
                event.preventDefault();
                var year = $(this).attr("tog");
                var el = $(this);

                request = $.ajax({
                    url: "{% url 'exe_year_accounting' %}",
                    data: {'year': year},
                    method: "POST",
                    datatype: "json",
                });

                request.done(function(data) {
                    res = data['res'];
                    for (let key in res) {
                        $('.sum_' + year + ' .' + key).html(res[key]);
                    }

                    el.next().trigger('click');
                });

            });
        });
    });
    </script>
{% endblock js %}
