{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Donations" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows all donations recorded in the system" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/exe.html" %}
    {% include "elements/paginate.html" %}
    <table id="donations" class="tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Member" %}</th>
                <th>{% trans "Descr" %}</th>
                <th>{% trans "Value" %}</th>
                <th>{% trans "Date" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'exe_donations_edit' el.id %}" qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.member }}</td>
                    <td>{{ el.descr }}</td>
                    <td>{{ el.value }}</td>
                    <td>{{ el.created | date:"d/m/Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
