{% extends "utils.html" %}
{% load i18n show_tags %}
{% block title %}
    {% trans "Confirm payments" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows all invoices registered in the system" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/exe.html" %}
    {% include "elements/paginate.html" %}
    <table id="invoices" class="tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Member" %}</th>
                <th>{% trans "Method" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Gross" %}</th>
                <th>{% trans "Net" %}</th>
                <th>{% trans "Causal" %}</th>
                <th>{% trans "Details" %}</th>
                <th>{% trans "Date" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'exe_invoices_edit' el.id %}" qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.member }}</td>
                    <td>
                        {% if el.method %}{{ el.method }}{% endif %}
                    </td>
                    <td>{{ el.get_typ_display }}</td>
                    <td>{{ el.get_status_display }}</td>
                    <td>{{ el.mc_gross|format_decimal }}</td>
                    <td>
                        {% if el.mc_fee %}{{ el.mc_fee }}{% endif %}
                    </td>
                    <td>{{ el.causal }}</td>
                    <td>{{ el.get_details | safe }}</td>
                    <td>{{ el.created | date:"d/m/Y" }}</td>
                    <td>
                        {% if el.status == 's' %}
                            <a href="{% url 'exe_invoices_confirm' el.id %}">{% trans "Confirm" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
