{% extends "utils.html" %}
{% load i18n show_tags %}
{% block title %}
    {% trans "Payments" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "Track all member payments across events, review amounts and statuses, and confirm pending registration invoices" %}.
{% endblock info %}
{% block content %}
    {% include "elements/pending_invoices_exe.html" %}
    {% include "elements/header/edit.html" %}
    {% include "elements/paginate.html" %}
{% endblock content %}
