{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    Dashboard - {{ association.name }}
{% endblock title %}
{% block content %}
    <div id="manage">
        {% include "larpmanager/manage/sticky_messages.html" %}
        {% include "larpmanager/manage/widgets/wwyltd.html" %}
        <div {% if not old_dashboard %}class="grid"{% else %}class="old_dashboard"{% endif %}>
            {% if old_dashboard %}
                {% include "larpmanager/manage/widgets/exe_events_old.html" %}
            {% else %}
                {% include "larpmanager/manage/widgets/exe_events.html" %}
            {% endif %}
            {% include "larpmanager/manage/widgets/exe_accounting.html" %}
            {% include "larpmanager/manage/widgets/exe_deadlines.html" %}
            {% include "larpmanager/manage/widgets/exe_logs.html" %}
            {% with list=priorities typ="priorities" %}
                {% include "larpmanager/manage/widgets/helpers.html" %}
            {% endwith %}
            {% with list=actions typ="actions" %}
                {% include "larpmanager/manage/widgets/helpers.html" %}
            {% endwith %}
            {% with list=suggestions typ="suggestions" %}
                {% include "larpmanager/manage/widgets/helpers.html" %}
            {% endwith %}
        </div>
        <hr />
        <div class="staff-list">
            <div class="orga-buttons">
                <a class="new button" href="{% url 'exe_reload_cache' %}">
                    <i class="fas fa-sync"></i>
                    Reset cache
                </a>
            </div>
        </div>
        <p>
            <a href="#" id="intro_driver">{% trans "Launch guided interface tour" %}</a>
        </p>
    </div>
{% endblock content %}
{% block css %}
    <link rel="stylesheet"
          href="{% static 'node_modules/driver.js/dist/driver.css' %}">
{% endblock css %}
{% block js %}
    {% include "elements/dashboard/tutorial_query.js" %}
    {% include "elements/dashboard/driver.js.html" %}
    {% include "elements/dashboard/wwyltd.js.html" %}
{% endblock js %}
