{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    {% trans "Dashboard" %} - {{ assoc.name }}
{% endblock title %}
{% block content %}
    <div id="manage">
        {% if not event_counts %}
            <h2>{% trans "Welcome to" %} {{ assoc.platform }}!</h2>
            {% include "larpmanager/manage/assoc_help.html" %}
            <hr />
        {% else %}
            <h2>
                <a href="#" class="my_toggle" tog='quick_help'>{% trans "Quick Help" %}</a>
            </h2>
            <div class="hide quick_help">{% include "larpmanager/manage/assoc_help.html" %}</div>
        {% endif %}
        <input type="text"
               name="tutorial_query"
               id="tutorial_query"
               placeholder="{% trans "What would you like to do" %}?" />
        <input type="button" id="tutorial_query_go" value="{% trans "Search" %}" />
        <div class="helptext">
            <i>
                ({% trans "Type a keyword in the search bar to find a reference - please write in English" %})
            </i>
        </div>
        <hr />
        {% with list=actions header=actions_header %}
            {% include "larpmanager/manage/helpers.html" %}
        {% endwith %}
        {% if ongoing_runs %}
            <h2>{% trans "Ongoing events" %}</h2>
            <table class="mob">
                {% for run in ongoing_runs %}
                    <tr>
                        <td>
                            <a href="{% url 'manage' run.event.slug run.number %}">{{ run }}</a>
                        </td>
                        <td>
                            <i>{{ run.pretty_dates }}</i>
                        </td>
                        <td>{{ run.get_development_display }}</td>
                        <td>
                            <a href="{% url 'register' run.event.slug run.number %}">{{ run.registration_status }}</a>
                        </td>
                        <td>
                            {% if run.counts.count_reg %}
                                ({% trans "registrations" %}: {{ run.counts.count_reg }})
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if global_sum or bank_sum %}
            <h2>
                <a href="{% url 'exe_accounting' %}">{% trans "Accounting" %}</a>
            </h2>
            <table>
                <tr>
                    <th descr="{% trans "This is the associative positive operating margin, taking into account the budgets of completed runs, minus credits or tokens issued" %}">
                        <a href="#" class="sidebar-link">{% trans "Global balance" %}</a>
                        <a href="#" class="explain-icon"><i class="fas fa-question-circle"></i></a>
                    </th>
                    <th descr="{% trans "This is the overall amount that should be held in the organization’s bank and financial accounts" %}">
                        <a href="#" class="sidebar-link">{% trans "Overall balance" %}</a>
                        <a href="#" class="explain-icon"><i class="fas fa-question-circle"></i></a>
                    </th>
                </tr>
                <tr>
                    <td>{{ global_sum }}</td>
                    <td>{{ bank_sum }}</td>
                </tr>
            </table>
        {% endif %}
        {% with list=suggestions header=suggestions_header suggestion=1 %}
            {% include "larpmanager/manage/helpers.html" %}
        {% endwith %}
    </div>
{% endblock content %}
{% block css %}
    <link rel="stylesheet"
          href="{% static 'node_modules/driver.js/dist/driver.css' %}">
{% endblock css %}
{% block js %}
    {% include "elements/tutorial_query.js" %}
    <script src="{% static 'node_modules/driver.js/dist/driver.js.iife.js' %}"
            defer></script>
    <script>
document.addEventListener('DOMContentLoaded', () => {

const driver = window.driver.js.driver;

const driverObj = driver({
  showProgress: true,
  steps: [
    { popover: { title: '{% trans "Welcome to" %} {{ assoc.platform }}!', description: 'Here is a step-by-step walkthrough of the interface' } },
    { element: '#sidebar', popover: { title: 'Sidebar', description: 'This is the sidebar containing all the functions needed to manage your organization (it remains visible on every management page)', side: "right", align: 'start' }},
    { element: '#select_workspace', popover: { title: 'Workspace selector', description: 'Here you can select the workspace to use: your organization, and your events once created.', side: "bottom", align: 'start' }},
    { element: '#select_side', popover: { title: 'Side selector', description: 'Here you can switch between administration pages and user-facing pages.', side: "bottom", align: 'start' }},
    { element: '#sidebar-open', popover: { title: 'Sidebar toggle', description: 'Toggle the sidebar visibility', side: "bottom", align: 'start' }},
    { element: '#tutorial_query', popover: { title: 'What would you like to do?', description: 'If you need help, type your request here in English using single keywords.', side: "bottom", align: 'start' }},
    { element: '#actions', popover: { title: 'Actions', description: 'Here is a to-do list of actions for managing your organization.', side: "top", align: 'start' }},
    { element: '#suggestions', popover: { title: 'Suggestions', description: 'And here is a to-do list of suggestions to help you set everything up properly.', side: "top", align: 'start' }},
    { element: '.feature_tutorial', popover: { title: 'Tutorials', description: 'Click the tutorial to open it and follow the step-by-step instructions.', side: "top", align: 'start' }},
    { popover: { title: 'And that is all', description: 'Write to us if you need help in setting things up!' } }
  ]
});

  driverObj.drive();
});

    </script>
{% endblock js %}
