{% extends "utils.html" %}
{% load i18n show_tags %}
{% block title %}
    {% trans "Feature activated" %}
    - {{ run }}
{% endblock title %}
{% block content %}
    {% trans "You have activated the following features, for each here's the links to follow: " %}
    <table class="no_csv">
        {% for feature in new_features %}
            <tr>
                <td>{{ feature.name }}</td>
                <td>
                    <a href="{{ follow_link }}" target="_blank">{% blocktrans %}{{ feature.after_text }}{% endblocktrans %}</a>
                </td>
                {% if feature.tutorial %}
                    <td>
                        (<a href="{% url 'tutorials' %}{{ feature.tutorial }}">Tutorial</a>)
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
