{% load i18n %}
{% if list %}
    <h2 id="{{ typ }}">
        {% if typ == "priorities" %}
            <i class="fa-solid fa-triangle-exclamation"></i> {% trans "Priorities" %}
        {% elif typ == "actions" %}
            <i class="fa-solid fa-square-check"></i> {% trans "Actions" %}
        {% elif typ == "suggestions" %}
            <i class="fa-solid fa-circle-info"></i> {% trans "Suggestions" %}
        {% endif %}
    </h2>
    <table>
        {% for obj in list %}
            <tr>
                <td>
                    {{ obj.text | safe }}:
                    <a href="{{ obj.href }}">{{ obj.link }}</a>
                    {% if obj.tutorial %}(<a href="#" class="feature_tutorial" tut="{{ obj.tutorial }}">Tutorial</a>){% endif %}
                </td>
                {% if typ == "suggestions" %}
                    <td>
                        <span class="list-close">
                            {% if event %}
                                <a href="{% url 'orga_close_suggestion' event.slug run.number obj.slug %}">
                                    <i class="fa fa-window-close" aria-hidden="true"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'exe_close_suggestion' obj.slug %}">
                                    <i class="fa fa-window-close" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </span>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
