{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% if run %}
        {% trans "Management" %} - {{ run }}
    {% else %}
        {% trans "Management" %} - {{ assoc.name }}
    {% endif %}
{% endblock title %}
{% block content %}
    <h2>
        {% if run %}
            {% trans "Management" %} - {{ run }}
        {% else %}
            {% trans "Management" %} - {{ assoc.name }}
        {% endif %}
    </h2>
    <div class="roles">
        {% if role_names %}
            <i>{% trans "Role" %}:
                {% for rn in role_names %}
                    {% include "elements/comma.html" %}
                    {{ rn }}
                {% endfor %}
            </i>
        {% endif %}
    </div>
{% endblock content %}
