{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Badge" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows membership badges. You can edit them, assign them, create new ones" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/exe.html" %}
    <table id="tb" class="tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Photo" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Code" %}</th>
                <th>{% trans "Assigned" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'exe_badges_edit' el.id %}" qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>
                        <img src="{{ el.img_thumb.url }}" class="inv_photo" alt="badge image" />
                    </td>
                    <td>{{ el.descr }}</td>
                    <td>{{ el.cod }}</td>
                    <td>{{ el.members.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
