{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Send emails" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "From this page you can email any list of recipients" %}
{% endblock info %}
{% block content %}
    {% include "elements/form/main.html" %}
{% endblock content %}
{% block js %}
    <script>window.addEventListener('DOMContentLoaded', function() {
$(function() {
    $('form').on('submit', function() {
        return confirm('{% filter escapejs %}{% trans "Are you really sure" %}{% endfilter %}?');
    });
});
});
    </script>
{% endblock js %}
