{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Volunteer Registry" %}
{% endblock title %}
{% block info %}
    {% trans "This page summarises the organization's volunteers" %}
{% endblock info %}
{% block content %}
    <p>
        Clicca qui per ottenere una stampa del registro a norma di legge:
        <a href="{% url 'exe_volunteer_registry_print' %}" class="link" download>{% trans "Print registry" %}</a>
        Ricorda di applicare firma digitale, e salvarlo in un sistema di storage adeguato.
    </p>
    <hr />
    {% include "elements/header/edit.html" %}
    <table id="volunteers" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Participant" %}</th>
                <th>{% trans "Start date" %}</th>
                <th>{% trans "End date" %}</th>
                <th class="only_new_form"></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td>
                        <a href="{% url 'exe_volunteer_registry_edit' el.member.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.member }}</td>
                    <td>{{ el.start }}</td>
                    <td>{{ el.end }}</td>
                    <td class="only_new_form">
                        <a href="{% url 'exe_volunteer_registry_delete' el.uuid %}"
                           qtip="{% trans "Delete" %}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
