{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Questions WS" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the workshop questions for the event" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/orga.html" %}
    <table id="workshop_questions" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Module" %}</th>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'orga_workshop_questions_edit' run.event.slug run.number el.id %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.module }}</td>
                    <td>{{ el.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
