{% extends "utils.html" %}
{% load i18n %}
{% load i18n show_tags %}
{% block title %}
    {% if nonum is None %}
        {% if num != "0" %}
            {{ name }}
        {% else %}
            {% trans "New" %}
        {% endif %}
        -
    {% endif %}
    {{ form.page_title }}
    - {{ run }}
{% endblock title %}
{% block info %}
    {{ form.page_info }}
{% endblock info %}
{% block content %}
    {% include "elements/form/main.html" %}
    <div id="options" class="hide auto_resize">
        <iframe id="options-iframe"
                src="{% url 'orga_writing_options_list' run.get_slug typ num %}">
        </iframe>
    </div>
{% endblock content %}
{% block js %}
    {% include "elements/question_edit.js.html" %}
{% endblock js %}
