{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {{ credit_name }} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page summarises the assignments in this event of" %} {{ credit_name }}
{% endblock info %}
{% block content %}
    {% include "elements/header/orga.html" %}
    {% include "elements/paginate.html" %}
    <table id="credits" class="tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Collaborator" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Value" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'orga_credits_edit' run.event.slug run.number el.id %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.member }}</td>
                    <td>{{ el.descr }}</td>
                    <td>{{ el.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
