{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "New refund request" %} - {{ run.search | truncatechars:50 }}
{% endblock title %}
{% block info %}
    {% trans "Submit a new personal expense reimbursement request for this event" %}
{% endblock info %}
{% block content %}
    {% include "elements/form/main.html" %}
{% endblock content %}
{% block js %}
    <script>window.addEventListener('DOMContentLoaded', function() {
$(function() {
    $('#main_form').attr('data-confirm', '{% filter escapejs %}{% trans "Submit this refund request?" %}{% endfilter %}');
});
});
    </script>
{% endblock js %}
