{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Expenses" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page provides a summary of all expenses submitted by collaborators" %};
    {% trans "once approved, the corresponding amounts are assigned as " %} {{ credit_name }}
{% endblock info %}
{% block content %}
    {% include "elements/header/orga.html" %}
    {% include "elements/paginate.html" %}
    <table id="expenses" class="tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Collaborator" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Value" %}</th>
                <th>{% trans "Approved" %}</th>
                <th>{% trans "Statement" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'orga_expenses_edit' run.event.slug run.number el.id %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.member }}</td>
                    <td>{{ el.get_exp_display }}</td>
                    <td>{{ el.descr }}</td>
                    <td>{{ el.value }}</td>
                    <td>{{ el.is_approved }}</td>
                    <td>
                        <a href="{{ el.download }}">{% trans "Download" %}</a>
                    </td>
                    <td>
                        {% if not el.is_approved %}
                            <a href="{% url 'orga_expenses_approve' run.event.slug run.number el.id %}"
                               class="delete">{% trans "Approve" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
