{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "New refund request" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page allows you to upload a new personal expense item" %}
{% endblock info %}
{% block content %}
    <form action="{{ request.path }}"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        <table class="mob ">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Confirm">
        <br />
        <br />
        <div class="continue">
            <input type="checkbox" id="continue" name="continue" class="hide">
            <label for="continue">{% trans "After confirmation, add another" %}</label>
        </div>
        <br />
    </form>
{% endblock content %}
{% block js %}
    <script>window.addEventListener('DOMContentLoaded', function() {
$(function() {
    $('form').on('submit', function() {
        return confirm('{% trans "Are you really sure" %}?');
    });
});
});
    </script>
{% endblock js %}
