{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Event navigation" %}
{% endblock title %}
{% block info %}
    {% trans "This page summarises the customised navigation buttons of the event" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/orga.html" %}
    <table id="buttons" class="go_datatable">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Tooltip" %}</th>
                <th>{% trans "Link" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'orga_buttons_edit' run.event.slug run.number el.id %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>{{ el.tooltip }}</td>
                    <td>{{ el.link }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
