{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Copy" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page allows you to copy the event settings from another one" %}
{% endblock info %}
{% block content %}
    <p>{% trans "Select which elements to copy, from which other event" %}.</p>
    <p>
        <i>{% trans "ATTENTION: This action overwrites changes made to this event" %}</i>
    </p>
    <br />
    <br />
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <table class="mob ">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
