{% extends "utils.html" %}
{% load i18n show_tags %}
{% block title %}
    {{ form.page_title }}
    {% if nonum is None %}
        {% if num %}
            - {% trans "Change" %}
        {% else %}
            - {% trans "New" %}
        {% endif %}
    {% endif %}
    - {{ run }}
{% endblock title %}
{% block info %}
    {{ form.page_info }}
{% endblock info %}
{% block content %}
    {% include "elements/form/main.html" %}
{% endblock content %}
{% block js2 %}
    {% include "elements/form/max_length.js" %}
    {% include "elements/form/jump_section.js" %}
{% endblock js2 %}
