{% extends "utils.html" %}
{% load i18n show_tags %}
{% block title %}
    {% if welcome_message %}
        {% trans "Welcome to" %} {{ platform }}!
    {% else %}
        {% if nonum is None %}
            {% if num != "0" %}
                {{ name }}
            {% else %}
                {% trans "New" %}
            {% endif %}
            -
        {% endif %}
        {{ form1.page_title }}
        {% if run %}- {{ run }}{% endif %}
    {% endif %}
{% endblock title %}
{% block info %}
    {% if welcome_message %}
        <div id="welcome_message">
            <p>{% trans "This page will guide you through the creation of your first event, step by step" %}.</p>
            <p>{% trans "Simply follow the instructions and provide the required information" %}.</p>
        </div>
        <hr />
        <br />
    {% else %}
        {{ form1.page_info }}
    {% endif %}
{% endblock info %}
{% block content %}
    {% include "elements/form/load_template.html" with form=form1 %}
    {% include "elements/form/load_template.html" with form=form2 %}
    {% include "elements/form/informations.html" with form=form1 %}
    {% include "elements/form/errors.html" with form=form1 %}
    {% include "elements/form/errors.html" with form=form2 %}
    <form action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data"
          id="main_form">
        {% csrf_token %}
        <div>
            <table>
                {% include "elements/form/inner.html" with form=form1 %}
                {% include "elements/form/inner.html" with form=form2 %}
            </table>
        </div>
        <input id="form_submit" type="submit" value="{% trans "Confirm" %}">
        <br />
    </form>
    {% if additional %}{{ additional | safe }}{% endif %}
{% endblock content %}
{% block js2 %}
    {{ form1.media }}
    {{ form2.media }}
    {% include "elements/form/max_length.js" %}
    {% include "elements/form/jump_section.js" %}
    {% include "elements/working-ticket.js" %}
{% endblock js2 %}
