{% extends 'utils.html' %}
{% load i18n %}
{% block title %}
    {% trans "Secret registration link" %}
{% endblock %}
{% block content %}
    <p xmlns="http://www.w3.org/1999/html">
        {% trans "Here is the secret registration code: only users accessing from this address will be able to register." %}
    </p>
    <h3>
        <a href="{% url 'register_exclusive' run.event.slug run.number run.registration_secret %}">
        https://{{ assoc.slug }}.larpmanager.com{% url 'register_exclusive' run.event.slug run.number run.registration_secret %}</a>
    </a>
</h3>
{% endblock %}
