{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Upload" %} - {{ run }}
{% endblock title %}
{% block content %}
    <br />
    <p>{% trans "You can upload data directly from CSV file" %}.</p>
    {% if typ == 'registration' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below" %}:</p>
        <table class="no_csv">
            {% for column, description in columns.0.items %}
                <tr>
                    <th>{{ column | safe }}</th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            {% trans "Then you can add columns, whose name must match with the field configured in the " %}
            <a href="{% url 'orga_registration_form' event.slug run.number %}">{% trans "registration form" %}</a>.
        </p>
        <p>
            <i>{% trans "Note that existing registrations with the same player email, will be overwritten with the uploaded data" %}.</i>
        </p>
        <p>
            <a href="{% url 'orga_upload_template' event.slug run.number 'registrations' %}">{% trans "Download example template" %}</a>
        </p>
    {% elif typ == 'registration_form' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below" %}:</p>
        <table class="no_csv">
            {% for column, description in columns.0.items %}
                <tr>
                    <th>{{ column | safe }}</th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <a href="{% url 'orga_upload_template' event.slug run.number 'reg_questions' %}">{% trans "Download example template" %}</a>
        </p>
        <br />
        <hr />
        <p>{% trans "You can also upload a second file with the registration options" %}:</p>
        <table class="no_csv">
            {% for column, description in columns.1.items %}
                <tr>
                    <th>{{ column | safe }}</th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <a href="{% url 'orga_upload_template' event.slug run.number 'reg_options' %}">{% trans "Download example template" %}</a>
        </p>
        <br />
        <hr />
        <p>
            <i>{% trans "Note that existing elements with the same name, will be overwritten with the uploaded data" %}.</i>
        </p>
    {% elif typ == 'character_form' %}
        <p>{% trans "The first line of the file must contain the column names, see the descriptions below" %}:</p>
        <table class="no_csv">
            {% for column, description in columns.0.items %}
                <tr>
                    <th>{{ column | safe }}</th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <a href="{% url 'orga_upload_template' event.slug run.number 'writing_questions' %}">{% trans "Download example template" %}</a>
        </p>
        <br />
        <hr />
        <p>{% trans "You can also upload a second file with the registration options" %}:</p>
        <table class="no_csv">
            {% for column, description in columns.1.items %}
                <tr>
                    <th>{{ column | safe }}</th>
                    <td>{{ description | safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>
            <a href="{% url 'orga_upload_template' event.slug run.number 'writing_options' %}">{% trans "Download example template" %}</a>
        </p>
        <br />
        <hr />
        <p>
            <i>{% trans "Note that existing elements with the same name, will be overwritten with the uploaded data" %}.</i>
        </p>
    {% else %}
        <p>{% trans "The first line of the file are the field names that you want to upload" %}.</p>
        <p>
            {% trans "Those names must match with the field configured in the " %}
            <a href="{% url 'orga_writing_form' event.slug run.number typ %}">{% trans "writing form" %}</a>.
        </p>
        <p>{% trans "The only mandatory column is for the *name*, the other are optional" %}.</p>
        <p>
            <i>{% trans "Note that existing elements with the same name, will be overwritten with the uploaded data" %}.</i>
        </p>
        <p>
            <a href="{% url 'orga_upload_template' event.slug run.number typ %}">{% trans "Download example template" %}</a>
        </p>
    {% endif %}
    <br />
    <br />
    {% trans "Select the files to upload (must be in CSV format, encoded in UTF-8)" %}:
    <form action="{{ request.path }}"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        {{ form.elem }}
        <br />
        <input type="hidden" name="upload" value="elements">
        <input type="submit" value="Submit">
    </form>
    <hr />
{% endblock content %}
