{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Upload" %} - {{ run }}
{% endblock title %}
{% block content %}
    {% trans "You can upload data directly from CSV file" %}.
    <br />
    <br />
    {% if typ == 'registrations' %}
        {% trans "The first line of the file must contain the column names, see the descriptions below" %}:
        <br />
        <br />
        <table class="no_csv">
            <tr>
                <th>
                    <h3>player</h3>
                </th>
                <td>
                    {% trans "The player's email. If not found in the system, a new user will be created" %}
                    <i>({% trans "If the player is already registered, their information will be updated" %})</i>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>ticket</h3>
                </th>
                <td>
                    {% trans "The name of the ticket" %}
                    <i>({% trans "If it doesn't exist, it will be created" %})</i>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>character</h3>
                </th>
                <td>{% trans "(Optional) The character name to assign to the player" %}</td>
            </tr>
            <tr>
                <th>
                    <h3>donation</h3>
                </th>
                <td>{% trans "(Optional) The amount of a voluntary donation" %}</td>
            </tr>
        </table>
    {% elif typ == 'registration_form' %}
        {% trans "The first line of the file must contain the column names, see the descriptions below" %}:
        <br />
        <br />
        <table class="no_csv">
            <tr>
                <th>
                    <h3>display</h3>
                </th>
                <td>
                    {% trans "The question name" %}
                    <i>({% trans "If already existing, the information will be replaced; if not, will be created" %})</i>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>typ</h3>
                </th>
                <td>
                    {% trans "The type of the question" %}
                    <i>({% trans "'s' for single choice, 'm' for multiple choice, 't' for short text, 'p' for long text" %})</i>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>details</h3>
                </th>
                <td>{% trans "Optional - Extended description (displayed in small gray text)" %}</td>
            </tr>
            <tr>
                <th>
                    <h3>status</h3>
                </th>
                <td>
                    {% trans "The question status" %}
                    <i>({% trans "'o' for optional, 'm' for mandatory, 'd' for disabled, 'h' for hidden" %})</i>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>max_length</h3>
                </th>
                <td>
                    {% trans "Optional - For text questions, maximum number of characters; For multiple options, maximum number of options (0 = no limit)" %}
                </td>
            </tr>
        </table>
        {% trans "You can also upload a second file with the registration options" %}:
        <br />
        <br />
        <table class="no_csv">
            <tr>
                <th>
                    <h3>question</h3>
                </th>
                <td>
                    {% trans "The name of the question this option belongs to" %}
                    <i>({% trans "If not found, the option will be skipped" %})</i>
                </td>
            </tr>
            <tr>
                <th>
                    <h3>display</h3>
                </th>
                <td>{% trans "The name of the option" %}</td>
            </tr>
            <tr>
                <th>
                    <h3>details</h3>
                </th>
                <td>{% trans "Optional – Additional information about the option, displayed below the question" %}</td>
            </tr>
            <tr>
                <th>
                    <h3>price</h3>
                </th>
                <td>{% trans "Optional – Amount added to the registration fee if selected (0 = no extra cost)" %}</td>
            </tr>
            <tr>
                <th>
                    <h3>max_available</h3>
                </th>
                <td>{% trans "Optional – Maximum number of times it can be selected across all registrations (0 = unlimited)" %}</td>
            </tr>
        </table>
    {% elif typ == 'character_form' %}
        ctx["upload"] = (
        _(
        "typ (type: 's' for single choice, 'm' for multiple choice, 't' for short text, 'p' for long text, 'e' for editor)"
        )
        + ", "
        )
        ctx["upload"] += _("display (question text)") + ", " + _("description (application description)") + ", "
        ctx["upload"] += (
        _("status of application: 'o' for optional, 'm' mandatory, 'c' creation, 'd' disabled, 'h' hidden") + ", "
        )
        ctx["upload"] += _("visibility (demand visibility: 's' for Searchable, 'c' for Public, 'e' for Private") + ", "
        ctx["upload"] += (
        _("options (number of options)")
        + ", "
        + _(
        "for each option five columns: name, description, available seats (0 for "
        "infinite), prerequisite options, ticket required"
        )
        )
    {% else %}
        {% trans "The first line are the field names, such as 'number', 'name', 'presentation', 'text'. (Only 'number' is required)" %}
        <br />
    {% endif %}
    {% trans "To download a sample file, click here" %}.
    # TODO link with typ
    <br />
    <br />
    {% trans "Select the files to upload (must be in CSV format, encoded in UTF-8)" %}:
    <form action="{{ request.path }}"
          enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        {{ form.elem }}
        <br />
        <input type="hidden" name="upload" value="elements">
        <input type="submit" value="Submit">
    </form>
    <hr />
{% endblock content %}
