{% load static show_tags %}
{% if form_questions %}
    {% for key, que in form_questions.items %}
        {% if que.typ == 'teaser' or que.typ == 'text' %}
            <td class="q_{{ key }} editable" qid="{{ que.id }}">
                {% with ed_id=que.typ|concat:'_red' %}
                    {% lookup el ed_id as value %}
                    {{ value | safe }}
                {% endwith %}
            </td>
            <td class="stats">
                {% with ed_id=que.typ|concat:'_ln' %}
                    {% lookup el ed_id as value %}
                    {{ value }}
                {% endwith %}
            </td>
        {% elif que.typ == 'e' %}
            <td class="question q_{{ key }} editable" qid="{{ que.id }}">
                {% with ed_id=key|concat:'_red' %}
                    {% lookup el ed_id as value %}
                    {{ value | safe }}
                {% endwith %}
            </td>
            <td class="question stats">
                {% with ed_id=key|concat:'_ln' %}
                    {% lookup el ed_id as value %}
                    {{ value }}
                {% endwith %}
            </td>
        {% elif que.typ == 's' or que.typ == 'm' or que.typ == 't' or que.typ == 'p' %}
            <td class="question q_{{ key }} editable" qid="{{ que.id }}">
                <!-- fill later -->
            </td>
        {% else %}
            <td class="q_{{ key }} editable" qid="{{ que.id }}">
                {% if que.typ == 'progress' %}
                    {% include "elements/show_progress.html" with el=el %}
                {% elif que.typ == 'title' %}
                    {{ el.title | safe | striptags }}
                {% elif que.typ == 'assigned' %}
                    {% if el.assigned_id %}{{ assigned|get:el.assigned_id }}{% endif %}
                {% elif que.typ == 'faction' %}
                    {% for g in el.factions %}
                        <a href="{% url 'orga_factions_edit' run.event.slug run.number g.id %}">{{ g.name }}</a>
                        <br />
                    {% endfor %}
                {% elif que.typ == 'mirror' %}
                    {% if el.mirror %}<i>{{ el.mirror }}</i>{% endif %}
                {% elif que.typ == 'hide' %}
                    {% if el. %}<i class="fa-solid fa-check"></i>{% endif %}
                {% elif que.typ == 'cover' %}
                    {% if el.cover %}
                        <a href="{{ el.thumb.url }}">
                            <img src="{{ el.thumb.url }}"
                                 class="character-cover"
                                 alt="character cover" />
                        </a>
                    {% endif %}
                {% endif %}
            </td>
        {% endif %}
    {% endfor %}
{% endif %}
