{% extends "utils.html" %}
{% load i18n show_tags static %}
{% block title %}
    {% trans "Sensitive data" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the general information of registered participants" %}
{% endblock info %}
{% block content %}
    <p>
        <i>{% trans "Please remember that the information on this page was given with the implicit trust that it will be treated with the utmost care" %}.</i>
    </p>
    <table>
        <tr>
            <th></th>
            <th>{% trans "Player" %}</th>
            <th>{% trans "Characters" %}</th>
            {% for field_name, field_verbose in fields.items %}<th>{{ field_verbose }}</th>{% endfor %}
        </tr>
        {% for el in list %}
            <tr>
                <td class="member_cover">
                    <div class="img_cover"
                         style="background-image:url('{% if el.profile %}{{ el.profile_thumb.url }}{% else %}{% static 'larpmanager/assets/blank-avatar.svg' %}{% endif %}')">
                    </div>
                </td>
                <td>{{ el.display_real }}</td>
                <td>
                    {% if el.chars %}
                        {% for ch in el.chars %}
                            {% include "elements/comma.html" %}
                            {{ ch }}
                        {% endfor %}
                    {% endif %}
                </td>
                {% for field_name in fields.keys %}
                    <th>{% lookup el field_name %}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
