{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Character Inventories" %}
{% endblock title %}
{% block info %}
    {% trans "This page summarizes the character inventories" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/orga.html" %}
    <table id="pool_types" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Inventory" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'orga_ci_character_inventory_edit' run.event.slug run.number el.id %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>
                        <a href="{% url 'orga_ci_character_inventory_view' run.event.slug run.number el.id %}"
                            qtip="{% trans "View" %}"><i class="fa-solid fa-book-open"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}