{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Delivery" %} - {{ run }}
{% endblock title %}
{% block info %}
    {% trans "This page summarizes px delivery to characters" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/orga.html" %}
    <table id="deliveries" class="go_datatable writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Amount" %}</th>
                <th>{% trans "Participants" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'orga_px_deliveries_edit' run.event.slug run.number el.id %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>{{ el.amount }}</td>
                    <td>
                        {% for ab in el.characters.all %}
                            {% include "elements/comma.html" %}
                            <a href="{% url 'orga_characters_edit' run.event.slug run.number ab.id %}">{{ ab.name }}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
