{% load show_tags i18n %}
<div class="nav">
    <a href="#" class="my_toggle" tog='instr'>{% trans 'Instructions' %}</a>
    {% for m in form.methods %}<a href="#" class="my_toggle" tog='instr_{{ m.slug }}'>{{ m.name }}</a>{% endfor %}
</div>
<br />
<table class="no_csv">
    <tr class="hide instr">
        <th>{% trans "Instructions" %}</th>
        <td>
            <p>
                {% trans "Select the payment methods to be activated; then return to this page to enter the necessary information." %}
            </p>
            <p>{% trans "Each payment method works differently, click on its name for a detailed guide on how to proceed." %}</p>
            <b>{% trans "Description" %}:</b> {% trans "Indicate the description you wish to be displayed when this payment method is proposed to the user." %}</b>
            {% if 'payment_fees' in assoc.features %}
                <p>
                    <b>{% trans "Fee" %}:</b> {% trans "Enter the percentage to be managed as retained by the payment system. Enter the value as a number, without entering the percentage symbol." %}
                </p>
            {% endif %}
        </td>
    </tr>
    {% for m in form.methods %}
        <tr class="hide instr_{{ m.slug }}">
            <th>{{ m.name }}</th>
            <td>{{ m.instructions | safe }}</td>
        </tr>
    {% endfor %}
</table>
<p>
    {% trans "Available payment methods:" %}
    {% for el in form.all_methods %}
        {% include "elements/comma.html" %}
        {{ el }}
    {% endfor %}
</p>
