{% load show_tags static %}
<td>
    {% if el.player_id > 0 and el.player_prof %}
        <img class="cover" src="{{ el.player_prof }}" alt="player profile" />
    {% else %}
        <img class="cover"
             src="{% static 'larpmanager/assets/blank-avatar-bk.png' %}"
             alt="player profile" />
    {% endif %}
    <div class="character">
        <a href="{% url 'character' event.slug run.number el.number %}">{{ el.name }}</a>
        {% if el.title and show_character.title %}- <b>{{ el.title }}</b>{% endif %}
        {% if el.pronoun %}({{ el.pronoun }}){% endif %}
        <br />
        {% if el.factions %}
            <p>
                {% for fnum in el.factions %}
                    {% with factions|get:fnum as g %}
                        {% if not g.typ == 'g' %}
                            {% include "elements/comma.html" %}
                            {{ g.name }}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </p>
        {% endif %}
        {% if el.player %}
            <p>
                <b>{{ el.player }}</b>
                {% if el.first_aid == 'y' %}
                    <img class="first-aid"
                         src="{% static 'larpmanager/assets/first-aid.png' %}"
                         alt="first aid" />
                {% endif %}
            </p>
        {% endif %}
    </div>
</td>
