{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Deadlines" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows the deadlines of upcoming organization events, the activities to be monitored, and the list of users to be solicited" %}
{% endblock info %}
{% block content %}
    {% for el in list %}
        <h2>{{ el.run }}</h2>
        {% include "elements/deadlines.html" with res=el run=el.run %}
    {% endfor %}
{% endblock content %}
