{% extends "utils.html" %}
{% load i18n tz show_tags static %}
{% block title %}
    {{ form.page_title }}
    {% if nonum is None %}
        {% if num %}
            - {% trans "Change" %}
        {% else %}
            - {% trans "New" %}
        {% endif %}
    {% endif %}
    - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {{ form.page_info }}
{% endblock info %}
{% block content %}
    {% include "elements/form/main.html" %}
    {% include "elements/form/jump_section.js" %}
    {% if additional %}{{ additional | safe }}{% endif %}
{% endblock content %}
