{% extends "utils.html" %}
{% load i18n tz show_tags static %}
{% block title %}
    {% if nonum is None %}
        {% if num != "0" %}
            {{ name }}
        {% else %}
            {% trans "New" %}
        {% endif %}
        -
    {% endif %}
    {{ form.page_title }}
{% endblock title %}
{% block info %}
    {{ form.page_info }}
{% endblock info %}
{% block content %}
    {% include "elements/form/main.html" %}
    {% include "elements/form/jump_section.js" %}
    {% if additional %}{{ additional | safe }}{% endif %}
{% endblock content %}
{% block js2 %}
    {% include "elements/working-ticket.js" %}
{% endblock js2 %}
