{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Events" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows all events; you can edit them, or create new ones" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/exe.html" %}
    <table id="events" class="tablesorter writing gall">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Run" %}</th>
                <th>{% trans "Cover" %}</th>
                <th>{% trans "Link" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'exe_events_edit' el.id %}" qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el }}</td>
                    <td>
                        {% for r in el.runs.all %}
                            <a href="{% url 'manage' r.event.slug r.number %}">{{ r }}</a>
                            <br />
                        {% endfor %}
                    </td>
                    <td>
                        <div class="img"
                             style="background-image:url({{ el.get_cover_thumb_url }})"></div>
                    </td>
                    <td>
                        <a href="{% url 'event' el.slug 1 %}">{% trans "Event link" %}</a>
                        <br />
                        {% if el.cover %}
                            <a href="{{ el.cover.url }}">{% trans "Cover link" %}</a>
                            <br />
                            <a href="{{ el.cover_thumb.url }}">{% trans "Cover (thumb) link" %}</a>
                            <br />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
