{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Events" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows all events; you can edit them, or create new ones" %}
{% endblock info %}
{% block content %}
    <div class="staff-list">
        <a class="new button" href="{% url 'exe_events_edit' 0 %}">{% trans "New event" %}</a>
        {% if list %}
            <a class="new button" href="{% url 'exe_runs_edit' 0 %}">{% trans "New session" %}</a>
        {% endif %}
    </div>
    <table id="events" class="go_datatable writing gall" no_header_cols="[6,7]">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Start" %}</th>
                <th>{% trans "End" %}</th>
                <th>{% trans "Registrations" %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.uuid }}">
                    <td>
                        <a href="{% url 'exe_events_edit' el.uuid %}" qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.search }}</td>
                    <td>{{ el.get_development_display }}</td>
                    <td>{{ el.start | date:"Y/m/d" }}</td>
                    <td>{{ el.end | date:"Y/m/d" }}</td>
                    <td>
                        {% for ticket_name, count in el.registration_counts.items %}
                            {% include "elements/comma.html" %}
                            {{ ticket_name }}: {{ count }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'register' el.get_slug %}">{{ el.registration_status }}</a>
                        <button class="copy-link-btn"
                                data-url="{% url 'register' el.get_slug %}"
                                title="{% trans "Copy link to clipboard" %}">
                            <i class="fa-solid fa-copy"></i>
                        </button>
                    </td>
                    <td>
                        <a href="{% url 'gallery' el.get_slug %}">{% trans "Gallery" %}</a>
                        <button class="copy-link-btn"
                                data-url="{% url 'gallery' el.get_slug %}"
                                title="{% trans "Copy link to clipboard" %}">
                            <i class="fa-solid fa-copy"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
