{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Custodies" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows inventory custody items" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/exe.html" %}
    <p>
        {% trans "Columns" %}: <a href="#" class="my_toggle" tog='history'>{% trans "past" %}</a>
    </p>
    <table id="tb" class="tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Object" %}</th>
                <th>{% trans "Number" %}</th>
                <th>{% trans "Note" %}</th>
                <th>{% trans "Start" %}</th>
                <th>{% trans "End" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}" {% if el.end %}class="hide history"{% endif %}>
                    <td>
                        <a href="{% url 'exe_inventory_custodies_edit' el.id %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.item.name }}</td>
                    <td>{{ el.number }}</td>
                    <td>{{ el.notes | truncatechars:100 }}</td>
                    <td>{{ el.start }}</td>
                    <td>
                        {% if el.end %}{{ el.end }}{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
