{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Inventory objects" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows organization inventory items" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/exe.html" %}
    <table id="tb" class="tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Photo" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Setting" %}</th>
                <th>{% trans "Price" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'exe_inventory_items_edit' el.id %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>{{ el.description }}</td>
                    <td>
                        <img src="{{ el.thumb.url }}" class="inv_photo" alt="item photo" />
                    </td>
                    <td>{{ el.get_typ_display }}</td>
                    <td>{{ el.get_setting_display }}</td>
                    <td>{{ el.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
