{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Inventory" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows the organization inventory" %}
{% endblock info %}
{% block content %}
    {% include "elements/header/exe.html" %}
    <hr />
    <i>{% trans "Filter for every field" %}</i>
    <table>
        <tr>
            {% for f in inv_fields %}
                <th>
                    <input id="{{ f }}" type="text" placeholder="{{ f }}" />
                </th>
            {% endfor %}
        </tr>
    </table>
    <hr />
    <table id="inv" class="tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>Cod</th>
                <th>Name</th>
                <th>Shelf</th>
                <th>Rack</th>
                <th>Description</th>
                <th>Tag</th>
                <th>Photo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'exe_inventory_edit' el.id %}" qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td class="cod">{{ el.cod }}</td>
                    <td class="name">{{ el.name }}</td>
                    <td class="shelf">{{ el.shelf }}</td>
                    <td class="rack">{{ el.rack }}</td>
                    <td>
                        {{ el.description | truncatechars:200 }}
                        {% if el.description|length > 200 %}
                            <a href="#" class="show_popup" pop="{{ el.id }}" fie="description"><i class="fas fa-eye"></i></a>
                            <span class="popup_text description">
                                <h2>{{ el }} - Description</h2>
                                <p>{{ el.description }}</p>
                            </span>
                        {% endif %}
                    </td>
                    <td class="tag">{{ el.tag }}</td>
                    <td>
                        {% if el.photo %}<img src="{{ el.thumb.url }}" class="inv_photo" alt="inventory photo" />{% endif %}
                    </td>
                    <td>
                        <a href="{% url 'exe_inventory_history' el.id %}">{% trans "History" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
{% block js %}
    <script>
var fields = {{ inv_fields | safe }};

window.addEventListener('DOMContentLoaded', function() {
    for (var ix = 0; ix < fields.length; ix++) {
        $('#' + fields[ix]).change(function() { filter() });
    }
});

function filter() {
    $('#inv tbody tr').each(function() { $(this).hide() });

    vals = {}
    for (var ix = 0; ix < fields.length; ix++) {
         val = $('#' + fields[ix]).val();
         if (!val) continue;
         vals[fields[ix]] = val;
    }

    // console.log(vals);

    $('#inv tbody tr').each(function() {
        for (key in vals) {
            cnt = $(this).find('.' + key).first().text();
            // console.log(cnt);
            if (!(cnt.toLowerCase().includes(vals[key].toLowerCase()))) return;
        }

        $(this).show();
    });

}
    </script>
{% endblock js %}
