{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Pre registrations" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page shows the total number of pre-registrations for each event" %}
{% endblock info %}
{% block content %}
    <table id="pre_registrations" class="go_datatable">
        <thead>
            <tr>
                <td>{% trans "Name" %}</td>
                {% if preferences %}
                    <td>{% trans "First" %}</td>
                    <td>{% trans "Second" %}</td>
                    <td>{% trans "Third" %}</td>
                    <td>{% trans "Fourth" %}</td>
                    <td>{% trans "Fifth" %}</td>
                {% else %}
                    <td>{% trans "Total" %}</td>
                {% endif %}
            </tr>
        </thead>
        {% for el in list %}
            <tr>
                <td>
                    <a href="{% url 'orga_pre_registrations' el.slug %}">{{ el }}</a>
                </td>
                {% if preferences %}
                    {% for k, v in el.count.items %}<td>{{ v }}</td>{% endfor %}
                {% else %}
                    <td>{{ el.total }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
