{% extends "utils.html" %}
{% load i18n %}
{% block title %}
    {% trans "Roles" %} - {% trans "Organization" %}
{% endblock title %}
{% block info %}
    {% trans "This page summarises the roles to be assigned in order to use the functions concerning the organisation." %}
{% endblock info %}
{% block content %}
    {% include "elements/header/exe.html" %}
    <p>
        <a href="#" class="my_toggle" tog='missing'>{% trans "Can't find a user?" %}</a>
    </p>
    <div class="hide missing">
        <p>
            {% trans "According to LarpManager's privacy rules, you can only view users who have
            granted LarpManager permission to share their data with your organisation." %}
            {% trans "Ask your co-workers to access this link; after their confirmation, their
            data will be shared with your organisation, and you will be able to add them to roles." %}
            {% trans "Links to be accessed:" %} &nbsp;
            <a href="{% url 'share' %}">https://{{ assoc.slug }}.larpmanager.com{% url 'share' %}</a>
        </p>
    </div>
    <table id="roles" class="tablesorter mob">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Users" %}</th>
                <th>{% trans "Role" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'exe_roles_edit' el.id %}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>{{ el.name }}</td>
                    <td>
                        {% for mb in el.members.all %}
                            {% include "elements/comma.html" %}
                            {{ mb }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if el.number == 1 %}
                            <i>{% trans "All" %}</i>
                        {% else %}
                            {% for pm in el.permissions.all %}
                                {% include "elements/comma.html" %}
                                {% trans pm.name %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
