{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Questions" %}
    {% if run %}- {{ run }}{% endif %}
{% endblock %}
{% block content %}
    {% trans "You can contact us at this " %} <a class="mail"
    href="mailto:{{ mail.0 }}@badmail-{{ mail.1 }}{% if run %}?subject=[{{ run }}]{% endif %}">{% trans "address" %}</a>!
{% endblock %}
{% block js %}
    <script>window.addEventListener('DOMContentLoaded', function() {
$( document ).ready(function() {
    var el = $('a.mail');
    var href = el.attr('href');
    el.attr('href', href.replace('badmail-', ''));
});
});
    </script>
{% endblock %}
