{% load i18n %}
{% if association %}
    <div class="nav">
        <div class="sidebar-link-wrap">
            <a class="sidebar-link {% if active == 'profile' %}sel{% endif %}"
               href="{% url 'profile' %}"><i class="fa-solid fa-user"></i> <span class="nav-label">{% trans "Profile" %}</span></a>
        </div>
        <div class="sidebar-link-wrap">
            <a class="sidebar-link {% if active == 'privacy' %}sel{% endif %}"
               href="{% url 'profile_privacy' %}"><i class="fa-solid fa-shield-halved"></i> <span class="nav-label">{% trans "Privacy" %}</span></a>
        </div>
        {% if 'membership' in association.features %}
            <div class="sidebar-link-wrap">
                <a class="sidebar-link {% if active == 'membership' %}sel{% endif %}"
                   href="{% url 'membership' %}"><i class="fa-solid fa-id-card"></i> <span class="nav-label">{% trans "Membership" %}</span></a>
            </div>
        {% endif %}
        <div class="sidebar-link-wrap">
            <a class="sidebar-link {% if active == 'accounting' %}sel{% endif %}"
               href="{% url 'accounting' %}"><i class="fa-solid fa-money-bill"></i> <span class="nav-label">{% trans "Accounting" %}</span></a>
        </div>
        <div class="sidebar-link-wrap">
            <a class="sidebar-link {% if active == 'registrations' %}sel{% endif %}"
               href="{% url 'registrations' %}"><i class="fa-solid fa-list-check"></i> <span class="nav-label">{% trans "Registrations" %}</span></a>
        </div>
        {% if 'badge' in association.features %}
            <div class="sidebar-link-wrap">
                <a class="sidebar-link {% if active == 'badges' %}sel{% endif %}"
                   href="{% url 'badges' %}"><i class="fa-solid fa-trophy"></i> <span class="nav-label">{% trans "Badges" %}</span></a>
            </div>
        {% endif %}
        {% if 'delegated_members' in association.features %}
            <div class="sidebar-link-wrap">
                <a class="sidebar-link {% if active == 'delegated' %}sel{% endif %}"
                   href="{% url 'delegated' %}"><i class="fa-solid fa-user-shield"></i> <span class="nav-label">{% trans "Delegated users" %}</span></a>
            </div>
        {% endif %}
        {% if 'chat' in association.features %}
            <div class="sidebar-link-wrap">
                <a class="sidebar-link {% if active == 'messages' %}sel{% endif %}"
                   href="{% url 'chats' %}"><i class="fa-solid fa-message"></i> <span class="nav-label">{% trans "Messages" %}</span></a>
            </div>
        {% endif %}
        <div class="sidebar-link-wrap">
            <a class="sidebar-link {% if active == 'language' %}sel{% endif %}"
               href="{% url 'language' %}"><i class="fa-solid fa-language"></i> <span class="nav-label">{% trans "Language" %}</span></a>
        </div>
        <div class="sidebar-link-wrap">
            <a class="sidebar-link {% if active == 'security' %}sel{% endif %}"
               href="{% url 'profile_otp' %}"><i class="fa-solid fa-lock"></i> <span class="nav-label">{% trans "Security" %}</span></a>
        </div>
    </div>
{% endif %}
