{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Registrations" %}
{% endblock title %}
{% block content %}
    {% if registration_list %}
        <table id="my_registrations" class="go_datatable">
            <thead>
                <tr>
                    <th>{% trans "Event" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Details" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for registration in registration_list %}
                    <tr>
                        <td>{{ registration.run.search }}</td>
                        <td>
                            <i>{{ registration.run.pretty_dates }}</i>
                        </td>
                        <td>{{ registration.run.status.text | safe }}</td>
                        <td>
                            {% if registration.run.status.details %}{{ registration.run.status.details | safe }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "You don't have any registrations yet" %}.</p>
    {% endif %}
{% endblock content %}
