{% load i18n %}
<div class="grid-item">
    <h2>
        <a href="{% url 'orga_event' run.get_slug %}" target="_blank"><i class="fa-solid fa-calendar-days"></i> {% trans "Event" %}</a>
    </h2>
    <table>
        <tr>
            <th>{% trans "Name" %}</th>
            <td>
                <b>{{ run }}</b>
            </td>
        </tr>
        {% if event.parent %}
            <tr>
                <th>{% trans "Campaign" %}</th>
                <td>
                    <b>{{ event.parent }}</b>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>{% trans "Dates" %}</th>
            <td>
                <i>{{ run.pretty_dates }}</i>
                <a href="{% url 'orga_run_quick_edit_dates' run.get_slug %}"
                   class="btn btn-sm btn-primary action-link"
                   data-slug="orga_event"
                   data-modal-eligible="true"
                   title="{% trans "Edit dates" %}">
                    <i class="fa-solid fa-pencil"></i>
                </a>
            </td>
        </tr>
        <tr>
            <th>{% trans "Status" %}</th>
            <td>
                {{ run.get_development_display }}
                <a href="{% url 'orga_run_quick_edit_development' run.get_slug %}"
                   class="btn btn-sm btn-primary action-link"
                   data-slug="orga_event"
                   data-modal-eligible="true"
                   title="{% trans "Edit status" %}">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                |
                <a href="{% url 'gallery' run.get_slug %}" target="_blank">Event link</a>
                <button class="copy-link-btn"
                        data-url="{% url 'gallery' run.get_slug %}"
                        title="{% trans "Copy link to clipboard" %}">
                    <i class="fa-solid fa-copy"></i>
                </button>
            </td>
        </tr>
    </table>
</div>
