<!-- start snippet fb messanger -->
<script>
    window.fbAsyncInit = function() {
    FB.init({
      appId            : '135904891845235',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v10.0'
    });
    };
</script>
<script async
        defer
        crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js"></script>
<div id="fb-root"></div>
<script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v10.0'
          });
        };
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/it_IT/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your Plug-in della chat code -->
<div class="fb-customerchat"
     attribution="page_inbox"
     page_id="105888821290566"></div>
<!-- end snippet fb messanger -->
