{% load i18n static %}
{% trans "Here is a step-by-step walkthrough of the interface" as intro %}
{% trans "This is the sidebar containing all the functions (it remains visible on every management page)" as sidebar %}
{% trans "Create and manage events here" as exe_events %}
{% trans "Here you can select the workspace to use: your organization, and your events once created" as select_workspace %}
{% trans "Here you can switch between administration pages and user-facing pages" as select_side %}
{% trans "Toggle the sidebar visibility" as sidebar_open %}
{% trans "If you need help, type your request here in English using single keywords" as tutorial_query %}
{% trans "Here is a list of critical problems to fix" as priorities %}
{% trans "Here is a to-do list of important actions to complete" as actions %}
{% trans "And here is a to-do list of suggestions to help you set everything up properly" as suggestions %}
{% trans "Click the tutorial to open it and follow the step-by-step instructions" as feature_tutorial %}
{% trans "Write to us if you need help in setting things up!" as outro %}
<script src="{% static 'node_modules/driver.js/dist/driver.js.iife.js' %}"
        defer></script>
<script>
window.addEventListener('DOMContentLoaded', function() {

    function driverIntro() {
        const driver = window.driver.js.driver;

        let steps = [
          {
            popover: {
              title: '{% trans "Welcome to" %} {{ assoc.platform }}!',
              description: '{{ intro | escapejs }}'
            }
          }
        ];

        if ($('.sidebar_button').is(':visible')) {
          steps.push({
            element: '#sidebar',
            popover: {
              title: 'Sidebar',
              description: '{{ sidebar | escapejs }}',
              side: 'right',
              align: 'start'
            }
          });
        }

        {% if not run %}
        if ($('#exe_events').is(':visible')) {
        steps.push({
          element: '#exe_events',
          popover: {
            title: 'Events',
            description: '{{ exe_events | escapejs }}',
            side: 'right',
            align: 'start'
          }
        });
        }
        {% endif %}

        steps.push(
          {
            element: '#select_workspace',
            popover: {
              title: 'Workspace selector',
              description: '{{ select_workspace | escapejs }}',
              side: 'bottom',
              align: 'start'
            }
          },
          {
            element: '#select_side',
            popover: {
              title: 'Side selector',
              description: '{{ select_side | escapejs }}',
              side: 'bottom',
              align: 'start'
            }
          }
        );

        const sidebar_id = $('.sidebar_tutorial:visible').first().attr('id');
        if (sidebar_id) {
          steps.push({
            element: '#' + sidebar_id,
            popover: {
              title: 'Sidebar toggle',
              description: '{{ sidebar_open | escapejs }}',
              side: 'bottom',
              align: 'start'
            }
          });
        }

        if ($('#tutorial_query').is(':visible')) {
          steps.push({
            element: '#tutorial_query',
            popover: {
              title: 'What would you like to do?',
              description: '{{ tutorial_query | escapejs }}',
              side: 'bottom',
              align: 'start'
            }
          });
        }

        if ($('#priorities').is(':visible')) {
          steps.push({
            element: '#priorities',
            popover: {
              title: 'Priorities',
              description: '{{ priorities | escapejs }}',
              side: 'top',
              align: 'start'
            }
          });
        }

        if ($('#actions').is(':visible')) {
          steps.push({
            element: '#actions',
            popover: {
              title: 'Actions',
              description: '{{ actions | escapejs }}',
              side: 'top',
              align: 'start'
            }
          });
        }

        if ($('#suggestions').is(':visible')) {
          steps.push({
            element: '#suggestions',
            popover: {
              title: 'Suggestions',
              description: '{{ suggestions | escapejs }}',
              side: 'top',
              align: 'start'
            }
          });
        }

        if ($('.feature_tutorial').is(':visible')) {
          steps.push({
            element: '.feature_tutorial',
            popover: {
              title: 'Tutorials',
              description: '{{ feature_tutorial | escapejs }}',
              side: 'top',
              align: 'start'
            }
          });
        }

        steps.push({
          popover: {
            title: '{% trans "And that is all" %}',
            description: '{{ outro | escapejs }}'
          }
        });


        const driverObj = driver({
            showProgress: true,
            steps: steps
        });

        driverObj.drive();

    }

    {% if intro_driver and request.enviro == "prod" %} driverIntro();{% endif %}

    jQuery(function(){
        $('#intro_driver').on('click', driverIntro);
    });

});

</script>
