{% load i18n show_tags %}
{% if run_status.text %}
    <p>
        {{ run_status.text | safe }}
        {% if features.payment and registration and registration.tot_iscr %}
            (<a href="#" class="my_toggle" tog="reg_accounting">{% trans "Accounting" %}</a>)
        {% endif %}
    </p>
{% endif %}
{% if features.payment and registration and registration.tot_iscr %}
    <span class="hide reg_accounting">
        {% if registration.tot_payed %}
            {% trans "Total registration fee" %}: {{ registration.tot_iscr|format_decimal }}, {% trans "Total payments" %}: {{ registration.tot_payed|format_decimal }}.
        {% else %}
            {% trans "Total registration fee" %}: {{ registration.tot_iscr|format_decimal }}.
        {% endif %}
        {% if registration.quota %}
            <a href="{% url 'accounting_registration' registration.uuid %}">
                {% trans "Next payment" %}: {{ registration.quota | format_decimal }}{{ currency_symbol }},
                {% if registration.deadline > 0 %}
                    {% trans "expected within" %} {{ registration.deadline }} {% trans "days" %}
                {% else %}
                    {% trans "overdue by" %} {{ registration.deadline | abs_value }} {% trans "days" %}
                {% endif %}
            </a>
        {% elif registration.tot_iscr > registration.tot_payed %}
            {% trans "No additional payments are required at this time" %},
            <a href="{% url 'accounting_registration' registration.uuid %}">{% trans "you can still pay the remaining amount if you wish" %}</a>
        {% endif %}
    </span>
{% endif %}
{% if run_status.details %}<p>{{ run_status.details | safe }}</p>{% endif %}
