{% load i18n %}
<div class="calendar">
    <table class="mob">
        {% for run in list %}
            <tr class="gall">
                <td>
                    <h3>
                        <a href="{% url 'gallery' run.get_slug %}">{{ run }}</a>
                    </h3>
                </td>
                {% if run.event.cover %}
                    <td class="cover-container">
                        <img src="{{ run.event.cover_thumb.url }}" alt="run cover image" />
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if association.id == 0 %}
                    <td>
                        <b>{{ run.event.association.name }} </b>
                    </td>
                {% endif %}
                {% if 'genre' in association.features %}
                    <td>
                        <i>{{ run.event.genre }} </i>
                    </td>
                {% endif %}
                {% if 'website' in association.features %}
                    <td>
                        {% if run.event.website %}
                            <a href="{{ run.event.website }}"><i class="fa-solid fa-globe"></i> {% trans "Website" %}</a>
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    <i>{{ run.pretty_dates }}</i>
                </td>
                {% if 'where' in association.features %}
                    <td>
                        {% if run.event.where %}<i>{{ run.event.where }} </i>{% endif %}
                        {% if run.event.maps_url %}
                            <a href="{{ run.event.maps_url }}"
                               target="_blank"
                               rel="noopener noreferrer"><i class="fa-solid fa-map-location-dot"></i></a>
                        {% endif %}
                    </td>
                {% endif %}
                <td>{% include "elements/reg_status.html" with run_status=run.status registration=run.status.registration %}</td>
            </tr>
        {% endfor %}
    </table>
</div>
