<script>window.addEventListener('DOMContentLoaded', function() {

    $(document).ready(function(){


    $( document ).tooltip({
        tooltipClass: "my-tooltip",
      show: null,
      position: {
        my: "left top",
        at: "left bottom"
      },
      open: function( event, ui ) {
        ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast" );
      }
    });

    $(".has_tooltip").each(function(index) {
        var t = $( this ).attr("tooltip");
        var lb = $( this ).parent().parent().find("label").first();
        lb.attr("title", t);
        lb.addClass("subl");
    })
});

});
</script>
