{% extends 'base.html' %}
{% load tz show_tags static i18n %}
{% block title %}
    {% trans "Quest" %} {{ name }} - {{ run.search }}
{% endblock %}
{% block content %}
    <div>
        <table class="mob">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Presentation" %}</th>
                    <th>{% trans "Traits" %}</th>
                </tr>
            </thead>
            {% for el in list %}
                <tr>
                    <td>
                        <h3>
                            <a href="{% url 'quest' run.event.slug run.number el.number %}">{{ el.name }}</a>
                        </h3>
                    </td>
                    {% if show_teaser %}<td>{{ el.teaser | safe | clean_tags | truncatechars:200 }}</td>{% endif %}
                    <td>
                        {% for ch in el.traits %}
                            {% include "elements/comma.html" %}
                            {{ ch.name }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
