{% extends "base.html" %}
{% load tz show_tags static i18n %}
{% block title %}
    {% if run.reg and not run.reg.provisional %}
        {% trans "Change registration" %}
    {% else %}
        {% trans "Register" %}
    {% endif %}
    - {{ run.search }}
{% endblock title %}
{% block content %}
    {% if run.reg and not run.reg.provisional %}
        <p>
            {% trans "You can update your registration by simply changing the value of the fields and clicking on confirm" %}.
        </p>
        {% if features.player_cancellation %}
            <hr />
            <p>
                {% trans "If you no longer wish to attend, you can" %} <a href="{% url 'unregister' event.slug run.number %}">{% trans "cancel your registrations" %}.</a>
            </p>
        {% endif %}
        {% if features.bring_friend %}
            <hr />
            <h4>{% trans "Bring a friend" %}!</h4>
            <p>
                {% trans "Personal code" %}: <b>{{ run.reg.special_cod }}</b>
            </p>
            <p>{% trans "Copy this code and share it with friends" %}!</p>
            <p>
                {% trans "Every friend who registers and uses this code will receive the following discount directly on their ticket" %}: {{ bring_friend_discount_to|floatformat:"0" }}{{ currency_symbol_symbol }}.
            </p>
            <p>
                {% trans "For each of them, you will receive the following discount on your membership event registration" %}: {{ bring_friend_discount_from|floatformat:"0" }}{{ currency_symbol_symbol }}.
            </p>
        {% endif %}
    {% else %}
        <p>{% trans "To register for the event, please fill in the following form and click on confirm" %}.</p>
    {% endif %}
    {% if run.reg or not run.status.closed %}
        {% if event.website %}
            <hr />
            <p>
                {% trans "View all event information in the" %} <a target="_blank" href="{{ event.website }}">{% trans "website" %}!</a>
            </p>
        {% endif %}
        {% if not features.laog %}
            {% if event_terms_conditions %}
                <hr />
                <p>
                    <a href="{% url 'register_conditions' event.slug %}">{% trans "Terms and Conditions of registration" %}</a>
                </p>
            {% elif assoc_terms_conditions %}
                <hr />
                <p>
                    <a href="{% url 'register_conditions' %}">{% trans "Terms and Conditions of registration" %}</a>
                </p>
            {% endif %}
        {% endif %}
        {% if custom_text %}
            <hr />
            {{ custom_text | safe }}
        {% endif %}
        <div class="centerized">
            <form id="register_form" action="{{ request.path }}" method="post">
                {% csrf_token %}
                <div>
                    <table class="mob">
                        {% include "elements/form/register.html" %}
                    </table>
                    {% if features.discount and 'waiting' not in run.status %}
                        <h1 class="head_discount">
                            <a href="#" class="my_toggle section-link" tog='sec_discount'>
                                {% trans "Discounts" %} <i class="fa-solid fa-chevron-down"></i>
                            </a>
                        </h1>
                        <div class="hide sec_discount">
                            <table class="mob section " section="discount">
                                <tr>
                                    <td class="discount_wrp">
                                        <p id="discount_res" class="error hide"></p>
                                        <div id="discount_riep" {% if not discounts %}class="hide"{% endif %}>
                                            <table id="discount_tbl">
                                                <tr>
                                                    <th>{% trans "Name" %}</th>
                                                    <th>{% trans "Value" %}</th>
                                                    <th>{% trans "Deadline" %}</th>
                                                </tr>
                                            </table>
                                        </div>
                                        <input type="text" name="discount" id="id_discount">
                                        <input type="button" value="{% trans "Confirm" %}" id="discount_go">
                                        <br>
                                        <span class="helptext">{% trans "If you have a discount code, enter it here and press enter" %}.</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                </div>
                <input type="button" id="confirm" value="{% trans "Continue" %}" />
                <div id="riepilogo" class="hide">
                    <br />
                    <table class="mob">
                        <tbody>
                            <tr>
                                <th>
                                    <h3>{% trans "Summary" %}</h3>
                                </th>
                            </tr>
                            {% if 'membership' in assoc.features %}
                                {% if not features.laog and membership_amount %}
                                    <tr>
                                        <td>
                                            {% if membership_fee == 'done' %}
                                                {% trans "You have already paid your dues for the current year, so you are already covered for this event" %}!
                                            {% elif membership_fee == 'future' %}
                                                {% trans "To participate in this event, you will have to pay the annual membership fee of" %}: <b>{{ membership_amount }}{{ currency_symbol }}</b>.
                                            {% else %}
                                                {% trans "To participate in this event, you will have to pay in addition the annual membership fee of" %}: <b>{{ membership_amount }}{{ currency_symbol }}</b>.
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if member.membership.status == 'e' or member.membership.status == 'j' %}
                                    <tr>
                                        <td>
                                            {% trans "In order to confirm your registration, you must request to register as a member of the Association. The procedure will automatically take you through the required steps" %}.
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                            {% if not run.reg %}
                                <tr>
                                    <td>
                                        {% trans "By proceeding with your registration for this event, you are giving us your authorisation to share your data saved on our platform with the organisers of the event" %}.
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <input type="submit" value="{% trans "Confirm" %}" id="register_go">
                </div>
            </form>
        </div>
        {% include "elements/form/register-texts.html" %}
    {% endif %}
{% endblock content %}
{% block js %}
    {% include "elements/form/register.js" %}
    {% include "elements/form/max_length.js" %}
{% endblock js %}
