{% extends "base.html" %}
{% load tz show_tags static i18n compress %}
{% block title %}
    {% trans "Search" %} - {{ run.search }}
{% endblock title %}
{% block content %}
    {% if hide_login %}
        <p>
            <i>{% trans "Characters are only visible to logged in users" %}: <a href="{% url 'login' %}">{% trans "Login" %}</a></i>
        </p>
    {% elif hide_signup %}
        <p>
            <i>{% trans "Characters are only visible to registered players" %}: <a href="{% url 'register' run.event.slug run.number %}">{% trans "Register" %}</a></i>
        </p>
    {% else %}
        {% if features.questbuilder and show_quest %}
            <h2>Quest</h2>
            <p>
                {% trans "Go to the quests of type" %}:
                {% for qt in quest_types %}
                    {% include "elements/comma.html" %}
                    <a href="{% url 'quests' event.slug run.number qt.number %}">{{ qt.name }}</a>
                {% endfor %}
            </p>
        {% endif %}
        {% if search_text %}{{ search_text | safe }}{% endif %}
        <div class="c nav">
            <a href="#" class="my_toggle" tog='istr'>{% trans "Instructions" %}</a>
            <a href="#" class="my_toggle" tog='text_search'>{% trans "Search" %}</a>
            <a href="#" class="my_toggle" tog='spec'>{% trans "Features" %}</a>
            {% if factions %}
                <a href="#" class="my_toggle" tog='factions'>{% trans "Factions" %}</a>
            {% endif %}
            {% if features.character_form %}
                {% for idq in searchable %}
                    {% with questions|get:idq as question %}
                        <a href="#" class="my_toggle" tog='custom_field_{{ idq }}'>{{ question.display }}</a>
                    {% endwith %}
                {% endfor %}
            {% endif %}
            <a href="#" class="my_toggle" tog='link_list'>{% trans "Characters link" %}</a>
        </div>
        <div class="c nav hide istr">
            <hr />
            <p>{% trans "On this page you can filter characters and directly view their information." %}</p>
            <p>
                {% trans "In the text search, you can enter any text; the search will be done on the number, name, teaser, player, groups to which the character belong." %}
            </p>
            <p>
                {% trans "Where you find a button like this, you can press it to perform filtering further." %}<a href="#" onclick="false;">{% trans "Example" %}</a>
            </p>
            <p>
                {% trans "If you press once, it will be *included* in the search. If a character belongs to at least one inclusion category, it will be shown in the search." %}<a href="#" class="sel" onclick="false;">{% trans "Included" %}</a>
            </p>
            <p>
                {% trans "If you press a second time, it will be *excluded* in the search. If a character belongs to even one exclusion category, it will not be shown in the search." %}<a href="#" class="nsel" onclick="false;">{% trans "Excluded" %}</a>
            </p>
        </div>
        <div class="hide text_search">
            <hr />
            <input type="text" id="search" placeholder="{% trans "Insert" %}" />
        </div>
        {% if factions %}
            <div id="factions" class="c nav hide factions">
                <hr />
                {% for fnum in factions_typ.s %}
                    {% with factions|get:fnum as f %}
                        {% if f.name %}<a typ="faction" tog="{{ f.number }}" href="#">{{ f.name }}</a>{% endif %}
                    {% endwith %}
                {% endfor %}
                {% if factions_typ.t %}
                    <br />
                    <br />
                    {% for fnum in factions_typ.t %}
                        {% with factions|get:fnum as f %}
                            {% if f.name %}<a typ="faction" tog="{{ f.number }}" href="#">{{ f.name }}</a>{% endif %}
                        {% endwith %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        {% if features.character_form %}
            {% for idq, options_id in searchable.items %}
                <div class="c nav hide custom_field_{{ idq }}">
                    <hr />
                    {% for ido in options_id %}
                        {% with options|get:ido as option %}
                            <a typ="field_{{ idq }}" href="#" tog="{{ ido }}">{{ option.display }}</a>
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        <div id="spec" class="c nav hide spec">
            <hr />
            {% trans "Player" %}:
            <a typ="spec" href="#" tog="pl">{% trans "Assigned" %}</a>
            {% if features.special %}
                - {% trans "Type" %}:
                <a typ="spec" href="#" tog="sp_r">{% trans "Regular" %}</a>
                {% if features.filler %}
                    <a typ="spec" href="#" tog="sp_f">{% trans "Filler" %}</a>
                {% endif %}
                <a typ="spec" href="#" tog="sp_n">{% trans "NPC" %}</a>
            {% endif %}
            {% if features.gender %}
                - {% trans "Gender" %}:
                <a typ="spec" href="#" tog="g_m">{% trans "Male" %}</a>
                <a typ="spec" href="#" tog="g_f">{% trans "Female" %}</a>
                <a typ="spec" href="#" tog="g_u">{% trans "Unisex" %}</a>
            {% endif %}
        </div>
        <div class="hide link_list">
            <hr />
            <div id="top"></div>
            <span class="helptext">{% trans "Click on a name to go and view it directly." %}</span>
        </div>
        <br />
        <h3>
            {% trans "Characters list" %} (<span class="num"></span>)
        </h3>
        <table>
            <tr>
                <th>{% trans "You are including (at least one of these filters)" %}</th>
                <th>{% trans "You are excluding (none of these filters)" %}</th>
            </tr>
            <tr>
                <td>
                    <span class="incl"></span>
                </td>
                <td>
                    <span class="escl"></span>
                </td>
            </tr>
        </table>
        <div id="characters"></div>
        <div id="teasers" class="hide">
            {% for chnum, el in chars.items %}
                {% if not el.hide %}
                    <div class="{{ el.id }}">{% show_char el.teaser run 1 %}</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
{% block js %}
    <script>
window['all'] = {{ all | safe }};

window['facs'] = {{ facs | safe }};

window['blank'] = "{% static 'larpmanager/assets/blank-avatar.svg' %}";

window['char_url'] = "{% url 'character' event.slug run.number 0 %}";

window['prof_url'] = "{% url 'public' 0 %}";

window['faction_url'] = "{% url 'faction' event.slug run.number 0 %}";

window['cover'] = {% if features.cover %} true {% else %} false {% endif %};

window['cover_orig'] = {% if cover_orig %} true {% else %} false {% endif %};

window['show_char'] = {% if show_char %} true {% else %} false {% endif %};

window['show_teaser'] = {% if show_teaser %} true {% else %} false {% endif %};

window['texts'] = {
    'abs': '{% trans "Absent" %}',
    'pl': '{% trans "Player" %}',
    'png': '{% trans "NPC" %}',
    'filler': '{% trans "Filler" %}',
    'gender': '{% trans "Gender" %}',
    'man': '{% trans "Male" %}',
    'fem': '{% trans "Female" %}',
    'uni': '{% trans "Unisex" %}',
    'cfields': '{% trans "Additional fields" %}',
    'factions': '{% trans "Factions" %}',
    'specs': '{% trans "Features" %}',
    'none': '{% trans "None" %}',
    'all': '{% trans "All" %}',
    'descr_png': '{% trans "This character is played by a staff member" %}',
    'descr_filler': '{% trans "This character has a light game" %}'
}

window['fields'] = {}

window['questions'] = {{ questions | safe }};
window['options'] = {{ options | safe }};
window['searchable'] = {{ searchable | safe }};

    </script>
    {% compress js %}
        <script defer src="{% static 'larpmanager/search.js' %}"></script>
    {% endcompress %}
{% endblock js %}
