{% load static %}
<script src="{% static 'node_modules/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'node_modules/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'node_modules/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-buttons-dt/js/buttons.dataTables.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-columncontrol-dt/js/columnControl.dataTables.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-rowreorder-dt/js/rowReorder.dataTables.min.js' %}"></script>
