{% load static %}
<link href="{% static 'node_modules/datatables.net-buttons-dt/css/buttons.dataTables.min.css' %}"
      rel="stylesheet">
<link href="{% static 'node_modules/datatables.net-columncontrol-dt/css/columnControl.dataTables.min.css' %}"
      rel="stylesheet">
<link href="{% static 'node_modules/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}"
      rel="stylesheet">
<link href="{% static 'node_modules/datatables.net-rowreorder-dt/css/rowReorder.dataTables.min.css' %}"
      rel="stylesheet">
