{% if run %}
    {% if manage %}
        <a href="{% url 'gallery' run.get_slug %}" class="admin-link">
            <i class="fa-solid fa-users"></i> <span class="no_mobile">User</span>
        </a>
        <span class="label only_mobile">User</span>
    {% else %}
        <a href="{% url 'manage' run.get_slug %}" class="admin-link">
            <i class="fa-solid fa-toolbox"></i> <span class="no_mobile">Admin</span>
        </a>
        <span class="label only_mobile">Admin</span>
    {% endif %}
{% else %}
    {% if association_role %}
        {% if manage %}
            <a href="{% url 'home' %}" class="admin-link">
                <i class="fa-solid fa-users"></i> <span class="no_mobile">User</span>
            </a>
            <span class="label only_mobile">User</span>
        {% else %}
            <a href="{% url 'manage' %}" class="admin-link">
                <i class="fa-solid fa-toolbox"></i> <span class="no_mobile">Admin</span>
            </a>
            <span class="label only_mobile">Admin</span>
        {% endif %}
    {% endif %}
{% endif %}
