{% load static i18n %}
<div class="sidebar-section sidebar-end">
    <span class="sidebar-link-wrap">
        <a href="{% url 'help' %}" class="sidebar-link"><i class="fa-solid fa-circle-question"></i> Help</a>
    </span>
    {% if 'help' in association.features %}
        <span class="sidebar-link-wrap">
            <a class="sidebar-link"
               href=" {% if run %}{% url 'help' run.get_slug %}{% else %}{% url 'help' %}{% endif %} "><i class="fa-solid fa-headset"></i> {% trans "Need help" %}?</a>
        </span>
    {% endif %}
    <span class="sidebar-link-wrap">
        <a class="sidebar-link" href="{% url 'privacy' %}"><i class="fa-solid fa-shield-halved"></i> {% trans "Privacy Policy" %}</a>
    </span>
    {% if 'legal_notice' in association.features %}
        <span class="sidebar-link-wrap">
            <a class="sidebar-link" href="{% url 'legal_notice' %}"><i class="fa-solid fa-scale-balanced"></i> {% trans "Legal Notice" %}</a>
        </span>
    {% endif %}
    <span class="sidebar-link-wrap">
        <a class="sidebar-link" href="{% url 'ticket' %}"><i class="fa-solid fa-screwdriver-wrench"></i> {% trans "Tech Support" %}</a>
    </span>
    {% if user.is_authenticated %}
        <span class="sidebar-link-wrap">
            <a id="sidebar-logout" class="sidebar-link" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> {% trans "Logout" %}</a>
        </span>
        <form method="post" action="{% url 'logout' %}" class="hide">
            {% csrf_token %}
            <button type="submit" id="sidebar-real-logout">logout</button>
        </form>
    {% endif %}
</div>
