{% load static i18n %}
<div id="sidebar" class="only_v22 topbar">
    <div class="inner new-menu">
        {% include "elements/structure/sidebar-header.html" %}
        {% if profile_home_nav_items %}
            <div class="sidebar-section">
                {% for item in profile_home_nav_items %}
                    <span class="sidebar-link-wrap">
                        <a class="sidebar-link{% if item.active %} select{% endif %}"
                           href="{{ item.url }}"
                           title="{{ item.label }}">
                            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                            <span>{{ item.label }}</span>
                        </a>
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        {% if not user.is_authenticated %}
            {% include "elements/structure/sidebar-anon.html" %}
        {% endif %}
        {% include "elements/structure/sidebar-footer.html" %}
    </div>
</div>
