{% load i18n %}
<td class="right">
    {% if user_characters_shortcut %}
        <div class="el {% if topbar %}no_mobile{% endif %}">
            <a href="{% url 'characters' %}"><i class="fa-solid fa-users"></i> <span class="no_mobile">{% trans "Characters" %}</span></a>
        </div>
    {% endif %}
    {% if user_registrations_shortcut %}
        <div class="el {% if topbar %}no_mobile{% endif %}">
            <a href="{% url 'registrations' %}"><i class="fa-solid fa-clipboard-list"></i> <span class="no_mobile">{% trans "Registrations" %}</span></a>
        </div>
    {% endif %}
    <div class="el {% if topbar %}no_mobile{% endif %}">
        <a href="{% url 'accounting' %}"><i class="fa-solid fa-money-bill"></i> <span class="no_mobile">{% trans "Accounting" %}</span></a>
    </div>
    <div class="el {% if topbar %}no_mobile{% endif %}">
        <a href="{% url 'profile' %}"><i class="fa-solid fa-user-circle"></i> <span class="no_mobile">{% trans "Profile" %}</span></a>
    </div>
    <div class="el">
        <a id="menu-open" href="#menu"><i class="fa-solid fa-bars"></i> <span class="no_mobile">{% trans "Hi" %}, {{ user.member.display_member }}!</span></a>
    </div>
</td>
