{% extends "structure.html" %}
{% load i18n static %}
{% block main %}
    {% if assoc.id == 0 %}
        {% block header %}
            <!-- Header -->
            <header id="header"
                    {% if manage and is_sidebar_open %}class="sidebar"{% endif %}>
                <!--
            <a href="{% url 'home' %}" class="main" aria-label="LarpManager">
                <span class="logo"><img src="{% static 'lm_logo.png' %}" alt="Logo" /></span>
                LarpManager
            </a>
-->
                <nav id="nav">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}" title="Home">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'discover' %}"
                               title="Discover the platform"
                               {% if request.resolver_match.url_name == "discover" %}class="sel"{% endif %}>Discover</a>
                        </li>
                        <li>
                            <a href="{% url 'tutorials' %}"
                               title="Learn how the system works"
                               {% if request.resolver_match.url_name == "tutorials" %}class="sel"{% endif %}>Tutorials</a>
                        </li>
                        <li>
                            <a href="{% url 'usage' %}"
                               title="Understand how to use it"
                               {% if request.resolver_match.url_name == "usage" %}class="sel"{% endif %}>Usage</a>
                        </li>
                        <li>
                            <a href="{% url 'about_us' %}"
                               title="Meet the team"
                               {% if request.resolver_match.url_name == "about_us" %}class="sel"{% endif %}>About us</a>
                        </li>
                        <li>
                            <a href="{% url 'demo' %}"
                               title="Test freely the system"
                               {% if request.resolver_match.url_name == "demo" %}class="sel"{% endif %}>Demo</a>
                        </li>
                        <li>
                            <a id="join"
                               href="{% url 'join' %}"
                               title="Join us"
                               class="button"
                               {% if request.resolver_match.url_name == "join" %}class="sel"{% endif %}>Join now</a>
                        </li>
                    </ul>
                </nav>
            </header>
        {% endblock header %}
        {% block alpha %}
        {% endblock alpha %}
        <!-- Footer -->
        <footer id="footer"
                {% if manage and is_sidebar_open %}class="sidebar"{% endif %}>
            {% if contact_form %}
                <h3>Contact us</h3>
                <form class="contact"
                      action="{% url 'contact' %}"
                      method="post"
                      id="cnt-form">
                    {% csrf_token %}
                    <div class="row gtr-50 gtr-uniform">
                        <p>Would you like to get in touch with us?</p>
                        {{ contact_form.as_p }}
                        <p>
                            <!-- empty space -->
                        </p>
                        <input id="cnt" type="submit" value="Contact us" class="fit" />
                    </div>
                </form>
                {% if contact_form.errors %}
                    <script>
            window.addEventListener('DOMContentLoaded', function() {
                $( function() {
                    var el = document.getElementById("cnt-form");
                    const yOffset = -80;
                    const y = el.getBoundingClientRect().top + window.pageYOffset + yOffset;
                    window.scrollTo({top: y, behavior: 'smooth'});
                });
            });
                    </script>
                {% endif %}
            {% endif %}
            <hr />
            <h3>
                <a href="{% url 'privacy' %}">Privacy policy</a>
            </h3>
        </footer>
    {% else %}
        <!-- Header -->
        <header id="header"
                class="alt {% if manage and is_sidebar_open %}sidebar{% endif %}">
            {% block sidebar_logo %}
                {% if manage and interface_old %}
                    <nav id="sidebar-nav">
                        <a id="sidebar-open" href="#sidebar">
                            <img alt="menu" src="{% static 'larpmanager/assets/menu.png' %}" />
                            <span>Sidebar</span>
                        </a>
                    </nav>
                {% endif %}
            {% endblock sidebar_logo %}
            <h1>
                <span>
                    {% block title %}
                    {% endblock title %}
                </span>
            </h1>
            {% if interface_old %}
                <nav id="menu-bar">
                    <a id="menu-open" href="#menu"><span>Menu</span>
                        <img alt="menu" src="{% static 'larpmanager/assets/menu.png' %}" />
                    </a>
                </nav>
            {% endif %}
        </header>
        <!-- Menu -->
        {% include "elements/structure/menu.html" %}
        {% block wrapper %}
            <!-- Main -->
            <div id="banner">
                {% block banner %}
                {% endblock banner %}
            </div>
            <!-- Wrapper -->
            <div id="wrapper">
                <div id="one" class="wrapper">
                    <div class="inner">
                        {% block nav %}
                            {% include "larpmanager/manage/nav.html" %}
                        {% endblock nav %}
                        <div class="info">
                            {% block info %}
                            {% endblock info %}
                            {% if tutorial %}(<a href="#" class="feature_tutorial" tut="{{ tutorial }}">Tutorial</a>){% endif %}
                        </div>
                        <div class="page_{{ request_func_name }} {% block special %}{% endblock special %}">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer"
                 {% if manage and is_sidebar_open %}class="sidebar"{% endif %}>
                <div class="inner">
                    {% if assoc.footer %}
                        <div class="footer-text">
                            <hr />
                            {{ assoc.footer | safe }}
                        </div>
                    {% endif %}
                    <table class="mob no_csv">
                        <tr>
                            {% if 'help' in assoc.features %}
                                <td>
                                    <p>
                                        <a href=" {% if run %}{% url 'help' run.event.slug run.number %}{% else %}{% url 'help' %}{% endif %} ">{% trans "Need help" %}?</a>
                                    </p>
                                </td>
                            {% endif %}
                            <td>
                                <p>
                                    <a href="{% url 'privacy' %}">{% trans "Privacy Policy" %}</a>
                                </p>
                            </td>
                            {% if 'legal_notice' in assoc.features %}
                                <td>
                                    <a href="{% url 'legal_notice' %}">{% trans "Legal Notice" %}</a>
                                </td>
                            {% endif %}
                            <td>
                                <a href="{% url 'ticket' %}">{% trans "Technical Support" %}</a>
                            </td>
                        </tr>
                    </table>
                    <p>
                        <!-- Please, do not remove! -->
                        Powered by <a href="https://{{ assoc.main_domain }}">{{ assoc.platform }}</a>
                    </p>
                </div>
            </div>
        {% endblock wrapper %}
    {% endif %}
{% endblock main %}
{% block css-req %}
    <style>
            @font-face {
                font-family: 'easyreading';
                src: url('{% static "fonts/easy_reading/EasyReadingPRO.ttf" %}');
                font-display: swap;
            }
    </style>
    <link rel="preload"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    </noscript>
    <link rel="preload"
          href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
    </noscript>
    <link rel="preload"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
    </noscript>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css"
          integrity="sha512-8D+M+7Y6jVsEa7RD6Kv/Z7EImSpNpQllgaEIQAtqHcI0H6F4iZknRj0Nx1DCdB+TwBaS+702BGWYC0Ze2hpExQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    {% if assoc.id == 0 %}
        <style>
            @font-face {
              font-family: 'future_light';
              src:  url('{% static "fonts/future_light/Future_Light.otf" %}') ,
                    url('{% static "fonts/future_light/Future_Light.ttf" %}') ;

             font-display: swap;
            }
        </style>
        <link rel="preload"
              href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
              as="style"
              onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        </noscript>
    {% endif %}
{% endblock css-req %}
{% block js-req %}
    <script src="https://cdn.jsdelivr.net/npm/uglipop@1.0.0/uglipop.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"
            defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            defer></script>
    <script id='qtip'
            src="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"
            defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"
            integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            defer></script>
    {% if assoc.id == 0 %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
                defer></script>
        <!-- Hotjar -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:3847704,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBCRPY3KDQ"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-DBCRPY3KDQ');
        </script>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
                defer></script>
        {% if assoc.demo %}
            <!-- Hotjar -->
            <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:3847704,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
            </script>
        {% endif %}
    {% endif %}
    <script>
    {% get_current_language as LANGUAGE_CODE %}
    const currentLanguage = "{{ LANGUAGE_CODE }}";


    window.addEventListener('DOMContentLoaded', function() {
        $(function() {

            $('div.info').filter(function() {
              return $(this).children().length === 0 && $.trim($(this).text()) === '';
            }).hide();

            $('#real_logout').parent().hide();

            $('#logout').on( "click", function(event) {
                event.preventDefault();
                $('#real_logout').click();
                return false;
            });

        });

        {% if messages %}
            {% for message in messages %}
                $.toast({
                    text: '{{ message }}',
                    showHideTransition: 'slide',
                    icon: '{{ message.tags }}',
                    position: 'top-center',
                    textAlign: 'center',
                    hideAfter: 5000   // in milli seconds
                });
            {% endfor %}
        {% endif %}

        {% if form.errors %}
            txt = '{% trans "Attention! The form contains errors in the fields" %}';
            fls = []
            {% for field in form.visible_fields %}
                {% if field.errors %}
                    fls.push('{{ field.label }}');
                {% endif %}
            {% endfor %}
            // console.log(fls);

            $.toast({
                text: txt + ': ' + fls.join(', '),
                showHideTransition: 'slide',
                icon: 'error',
                position: 'top-center',
                textAlign: 'center',
                hideAfter: 5000   // in milli seconds
            });

        {% endif %}

        $('#delete_confirm').click(function(event) {
            event.preventDefault();
            $('#id_delete').val('1');
            $('#main_form').submit();
        });
    });
    </script>
{% endblock js-req %}
