{% load i18n static show_tags compress %}
{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block maintitle %}
                {% block title %}
                {% endblock title %}
                - {{ assoc.name }}
            {% endblock maintitle %}
        </title>
        {% block meta %}
            <meta name="keywords" content="{{ assoc.platform }}">
            <meta name="description" content="{{ assoc.platform }}">
        {% endblock meta %}
        <meta property="og:url" content="{{ request.path }}">
        <meta property="og:type" content="website">
        <meta property="og:logo" content="{% static 'lm_fav_new.png' %}">
        <style>html body .hide { display: none; }</style>
        {% if assoc.id == 0 %}
            <link rel="icon" type="image/png" href="{% static 'lm_fav_new.png' %}">
            <link rel="apple-touch-icon" href="{% static 'lm_fav_new.png' %}">
            <meta property="og:site_name" content="{{ assoc.platform }}">
            {% if og_title %}<meta property="og:title" content="{{ og_title }}">{% endif %}
            {% if og_image %}
                <meta property="og:image" content="{{ og_image }}">
                <meta name="thumbnail" content="{{ og_image }}">
            {% else %}
                <meta property="og:image"
                      content="https://larpmanager.com/static/thumbnail.png">
                <meta name="thumbnail"
                      content="https://larpmanager.com/static/thumbnail.png">
            {% endif %}
            {% if og_description %}<meta property="og:description" content="{{ og_description }}">{% endif %}
            <!--
             <PageMap>
                <DataObject type="thumbnail">
                  <Attribute name="src" value="https://larpmanager.com/static/thumbnail.png" />
                  <Attribute name="width" value="523" />
                  <Attribute name="height" value="455" />
                </DataObject>
              </PageMap>
              -->
        {% else %}
            <link rel="icon" type="image/png" href="{{ assoc.favicon }}">
            <link rel="apple-touch-icon" href="{{ assoc.favicon }}">
            <meta name="thumbnail" content="{{ assoc.logo }}">
            <meta property="og:site_name"
                  content="{{ assoc.name }} - {{ assoc.platform }}">
            <meta property="og:image" content="{{ assoc.favicon }}">
            <!--
             <PageMap>
                <DataObject type="thumbnail">
                  <Attribute name="src" value="{{ assoc.logo }}" />
                  <Attribute name="width" value="200" />
                  <Attribute name="height" value="200" />
                </DataObject>
              </PageMap>
              -->
        {% endif %}
        {% block css-req %}
        {% endblock css-req %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.3.2/b-3.2.4/b-colvis-3.2.4/b-html5-3.2.4/b-print-3.2.4/cr-2.1.1/cc-1.0.7/date-1.5.6/fc-5.0.4/fh-4.0.3/kt-2.12.1/r-3.0.5/sc-2.4.3/sb-1.8.3/sp-2.3.4/sr-1.4.1/datatables.min.css"
              rel="stylesheet"
              integrity="sha384-M/9dsiCLRUVi149iSn76/6ZQNoFhHZYIO5YeB8dkc+PSnjgpSozqnhNGkouxafnr"
              crossorigin="anonymous">
        {% block robots %}
        {% endblock robots %}
        {{ form.media }}
        {% if assoc.id == 0 %}
            {% compress css %}
                <link rel="stylesheet" href="{% static 'alpha/assets/css/main.css' %}" />
                <link rel="stylesheet"
                      href="{% static 'larpmanager/assets/css/alpha.css' %}" />
                <link rel="stylesheet" href="{% static 'larpmanager/assets/css/lm.css' %}" />
                <link rel="stylesheet"
                      href="{% static 'larpmanager/assets/css/skins.css' %}" />
            {% endcompress %}
        {% else %}
            {% compress css %}
                <link rel="stylesheet"
                      href="{% static 'solid_state/assets/css/main.css' %}" />
                <link rel="stylesheet"
                      href="{% static 'larpmanager/assets/css/solid_state.css' %}" />
                <link rel="stylesheet" href="{% static 'larpmanager/assets/css/lm.css' %}" />
            {% endcompress %}
            {% if assoc.skin_css %}<style>{{ assoc.skin_css }}</style>{% endif %}
            {% if assoc.css_code %}
                <link rel="stylesheet"
                      href="{% get_media_prefix %}/css/{{ assoc.slug }}_{{ assoc.css_code }}.css" />
            {% endif %}
            {% if event and event.css_code %}
                <link rel="stylesheet"
                      href="{% get_media_prefix %}/css/{{ assoc.slug }}_{{ event.slug }}_{{ event.css_code }}.css" />
            {% endif %}
        {% endif %}
        {% block css %}
        {% endblock css %}
        <noscript>
            <link rel="stylesheet"
                  href="{% static 'larpmanager/assets/css/noscript.css' %}" />
        </noscript>
    </head>
    <body class="is-preload {% if interface_old %}interface_old{% endif %}"
          id="{{ assoc.name | slugify }}">
        {% if staging %}<div id="staging">STAGING</div>{% endif %}
        {% if not interface_old and not frame %}
            {% if user.is_authenticated %}
                {% if topbar %}
                    {% include "elements/structure/topbar-admin.html" %}
                {% else %}
                    {% include "elements/structure/topbar-user.html" %}
                {% endif %}
            {% else %}
                {% include "elements/structure/topbar.html" %}
            {% endif %}
        {% endif %}
        {% include "elements/structure/sidebar.html" %}
        <!-- Page Wrapper -->
        <div id="page-wrapper"
             class=" {% if manage and is_sidebar_open %}sidebar{% endif %} {% if not interface_old %}topbar{% endif %} ">
            {% block main %}
            {% endblock main %}
        </div>
        <script>
    var set_language_url = "{% url 'set_language' %}";
    var set_internaz = {{ set_internaz | default:"null" }};
    window.interface_old = {{ interface_old|yesno:"true,false" }};
    window.enviro = "{{ request.enviro }}";
        </script>
        <!-- Scripts -->
        {% block js-req %}
        {% endblock js-req %}
        <!--- script pipeline -->
        {% compress js %}
            <script defer
                    src="{% static 'solid_state/assets/js/jquery.scrollex.min.js' %}"></script>
            <script defer src="{% static 'solid_state/assets/js/browser.min.js' %}"></script>
            <script defer src="{% static 'solid_state/assets/js/breakpoints.min.js' %}"></script>
            <script defer
                    src="{% static 'solid_state/assets/js/jquery.tablesorter.min.js' %}"></script>
            <script defer
                    src="{% static 'larpmanager/assets/js/jquery.textfill.min.js' %}"></script>
        {% endcompress %}
        <script>
            let url_feature_description = "{% url 'feature_description' %}";
            let url_tutorials = "{% url 'tutorials' %}";
        </script>
        {% if assoc.id == 0 %}
            {% compress js %}
                <script defer src="{% static 'alpha/assets/js/jquery.dropotron.min.js' %}"></script>
                <script defer src="{% static 'alpha/assets/js/util.js' %}"></script>
                <script defer src="{% static 'alpha/assets/js/main.js' %}"></script>
                <script defer src="{% static 'larpmanager/assets/js/lm.js' %}"></script>
            {% endcompress %}
        {% else %}
            {% compress js %}
                <script defer src="{% static 'solid_state/assets/js/util.js' %}"></script>
                <script defer src="{% static 'solid_state/assets/js/main.js' %}"></script>
                <script defer src="{% static 'larpmanager/assets/js/lm.js' %}"></script>
            {% endcompress %}
        {% endif %}
        {% block js %}
        {% endblock js %}
        {% block js2 %}
        {% endblock js2 %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"
                integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"
                integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.3.2/b-3.2.4/b-colvis-3.2.4/b-html5-3.2.4/b-print-3.2.4/cr-2.1.1/cc-1.0.7/date-1.5.6/fc-5.0.4/fh-4.0.3/kt-2.12.1/r-3.0.5/sc-2.4.3/sb-1.8.3/sp-2.3.4/sr-1.4.1/datatables.min.js"
                integrity="sha384-ao+X/Q4zAQelTI1M49AS9DVSo4NiHV4nmS+9y7vU2vqWYWRVeDSuo9UIq2QvZpHx"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script>
        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        function eraseCookie(name) {
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }

        var down_all = false;

        function start_spinner() {
            $('#overlay').fadeIn(200);
            $('body').addClass('noscroll');
        }

        function stop_spinner() {
            if (down_all) return;

            $('#overlay').fadeOut(200);
            $('body').removeClass('noscroll');
        }

        function sidebar() {
            $('#sidebar').toggle();
            $('#header').toggleClass('sidebar');
            $('#page-wrapper').toggleClass('sidebar');
            $('#footer').toggleClass('sidebar');

            $('.sidebar_button').toggle();

            $.ajax({
                url: '{% url "toggle_sidebar" %}',
            });
        }

    window.addEventListener('DOMContentLoaded', function() {

        $(document).ready(function() {

            const csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!(/^GET|HEAD|OPTIONS|TRACE$/.test(settings.type)) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#sidebar-open, #sidebar-close').click(function() {
                sidebar();
            });

            {% if not interface_old %}
                {% if manage and is_sidebar_open %}
                    $('#sidebar-close').hide();
                {% else %}
                    $('#sidebar-open').hide();
                {% endif %}
            {% endif %}

            // add origin for manage links
            {% if run %}
                let origin = '{{ run.id }}';
            {% else %}
                let origin = '0';
            {% endif %}
            $('a[href].origin').each(function() {
                const url = new URL(this.href);
                url.searchParams.set('origin', origin);
                this.href = url.toString();
            });
        });

    });
        </script>
        {% if staging %}
            <script>
            if (getCookie('staging') != 1) {
                if (confirm("WARNING - This is a staging server. Let's just check if you're supposed to be here: if you don't know why this message appeared, please click OK.")) {
                  url = window.location.href;
                  url = url.replace('xyz', 'com');
                  window.location.replace(url);
                } else {
                  setCookie('staging', 1);
                }
            }

            </script>
        {% endif %}
    </body>
</html>
