{% load i18n %}
{% blocktrans %}Writing{% endblocktrans %}
{% blocktrans %}Accounting{% endblocktrans %}
{% blocktrans %}Miscellany{% endblocktrans %}
{% blocktrans %}Registration{% endblocktrans %}
{% blocktrans %}Casting{% endblocktrans %}
{% blocktrans %}Appearance{% endblocktrans %}
{% blocktrans %}Event{% endblocktrans %}
{% blocktrans %}Users{% endblocktrans %}
{% blocktrans %}Organization{% endblocktrans %}
{% blocktrans %}Italy{% endblocktrans %}
{% blocktrans %}Experience{% endblocktrans %}
{% blocktrans %}Events{% endblocktrans %}
{% blocktrans %}Prologues{% endblocktrans %}
{% blocktrans %}Enables "Prologues", short introductory paragraphs for each act of the game, which players receive to guide them{% endblocktrans %}
{% blocktrans %}Now you can create prologues for the event{% endblocktrans %}
{% blocktrans %}Quests and Traits{% endblocktrans %}
{% blocktrans %}Introduces 'Quests' as building blocks of the character sheet, each with multiple 'traits'{% endblocktrans %}
{% blocktrans %}Now you can create quests for the event{% endblocktrans %}
{% blocktrans %}Copy{% endblocktrans %}
{% blocktrans %}Allows you to copy any element directly from another event{% endblocktrans %}
{% blocktrans %}Now you can copy elements from an other event{% endblocktrans %}
{% blocktrans %}Pay what you want{% endblocktrans %}
{% blocktrans %}Allows players to add an optional extra amount to their registration fee{% endblocktrans %}
{% blocktrans %}Now you can set the optional amount field{% endblocktrans %}
{% blocktrans %}Discount{% endblocktrans %}
{% blocktrans %}Allows you to generate discount codes that players can use to reduce their ticket price{% endblocktrans %}
{% blocktrans %}Now you can create discounts for the event{% endblocktrans %}
{% blocktrans %}LAOG{% endblocktrans %}
{% blocktrans %}Treats this event as a digital/online occurrence that does not require in-person registration{% endblocktrans %}
{% blocktrans %}Reminder{% endblocktrans %}
{% blocktrans %}Performs daily checks for upcoming payments deadlines and sends reminder emails automatically{% endblocktrans %}
{% blocktrans %}Now you can set the reminder options{% endblocktrans %}
{% blocktrans %}Bring a friend{% endblocktrans %}
{% blocktrans %}Enables 'bring a friend' discount. A registered player provides their unique code to a new registrant, granting both a discounted price{% endblocktrans %}
{% blocktrans %}Now you can set the discount options{% endblocktrans %}
{% blocktrans %}PDF generation{% endblocktrans %}
{% blocktrans %}Automatically generates and updates PDFs of character sheets, gallery and player profiles{% endblocktrans %}
{% blocktrans %}Now you can set the PDF generation options{% endblocktrans %}
{% blocktrans %}Workshop{% endblocktrans %}
{% blocktrans %}Adds a quiz-style system for workshop questions. Organizers can define forms, questions, and correct answers for players to complete{% endblocktrans %}
{% blocktrans %}Now you can start creating workshops, starting from modules{% endblocktrans %}
{% blocktrans %}Speed Larp{% endblocktrans %}
{% blocktrans %}Manages pre-larp 'mini-scenes.' You can create any number of scenes and assign players to them, with checks to avoid scheduling conflicts{% endblocktrans %}
{% blocktrans %}Now you can start creating speed-larps{% endblocktrans %}
{% blocktrans %}Safety{% endblocktrans %}
{% blocktrans %}Lets staff access the safety information submitted by players{% endblocktrans %}
{% blocktrans %}Now you can review the safety information submitted by players{% endblocktrans %}
{% blocktrans %}Casting algorithm{% endblocktrans %}
{% blocktrans %}Lets players submit character preferences, then finds the optimal overall match{% endblocktrans %}
{% blocktrans %}Now you can set the casting options{% endblocktrans %}
{% blocktrans %}Help{% endblocktrans %}
{% blocktrans %}Allows players to submit questions, and organizers to review and organize them{% endblocktrans %}
{% blocktrans %}Now you can review players' questions{% endblocktrans %}
{% blocktrans %}Collections{% endblocktrans %}
{% blocktrans %}Allows players to create and contribute to collections aimed at assisting another player with event fees{% endblocktrans %}
{% blocktrans %}Now players can submit collections, and you can review them{% endblocktrans %}
{% blocktrans %}Pre-registration{% endblocktrans %}
{% blocktrans %}Enables free pre-registration to events{% endblocktrans %}
{% blocktrans %}Now players can submit preregistrations, and you can review them{% endblocktrans %}
{% blocktrans %}Donation{% endblocktrans %}
{% blocktrans %}Adds a link on personal accounts pages, allowing users to donate money to the association freely{% endblocktrans %}
{% blocktrans %}Now players can submit donation, and you can review them{% endblocktrans %}
{% blocktrans %}Newsletter{% endblocktrans %}
{% blocktrans %}Adds a page displaying member mailing lists, sorted by members' newsletter preferences{% endblocktrans %}
{% blocktrans %}Now you can review users mailing list{% endblocktrans %}
{% blocktrans %}Utility{% endblocktrans %}
{% blocktrans %}Lets you upload and host files directly on larpmanager, making them available either to staff or to players via secret external links{% endblocktrans %}
{% blocktrans %}Now you can host files in the platform{% endblocktrans %}
{% blocktrans %}Character customization{% endblocktrans %}
{% blocktrans %}Enables players to customize specific attributes (name, pronoun, public info, etc.) of the characters they're assigned{% endblocktrans %}
{% blocktrans %}Now you can set customization options{% endblocktrans %}
{% blocktrans %}Membership{% endblocktrans %}
{% blocktrans %}Requires Executive Committee approval of membership before participating in an event{% endblocktrans %}
{% blocktrans %}Now you can set membership options{% endblocktrans %}
{% blocktrans %}Shuttle{% endblocktrans %}
{% blocktrans %}Allows players to submit shuttle requests (e.g., pickup logistics), and staff can manage the status of those requests{% endblocktrans %}
{% blocktrans %}External mail server{% endblocktrans %}
{% blocktrans %}Allows you to configure a custom external mail server that will be used instead of the standard one{% endblocktrans %}
{% blocktrans %}Now you can set the external mail server settings{% endblocktrans %}
{% blocktrans %}Lottery{% endblocktrans %}
{% blocktrans %}Enables 'lottery' tickets with unlimited availability and no cost, from which a random subset is converted into normal tickets{% endblocktrans %}
{% blocktrans %}Now you can create the lottery ticket{% endblocktrans %}
{% blocktrans %}Filler{% endblocktrans %}
{% blocktrans %}Enables 'Filler' characters: simpler character sheets, assigned to players who are ready to replacing last-minute dropout of main characters.{% endblocktrans %}
{% blocktrans %}Now you can create the filler ticket{% endblocktrans %}
{% blocktrans %}Chat{% endblocktrans %}
{% blocktrans %}Enables players to send private messages to each other, without revealing personal email addresses{% endblocktrans %}
{% blocktrans %}Waiting list{% endblocktrans %}
{% blocktrans %}Activates 'waiting list' style tickets, available only when all main tickets are sold out{% endblocktrans %}
{% blocktrans %}Now you can create the waiting ticket{% endblocktrans %}
{% blocktrans %}Player cancellation{% endblocktrans %}
{% blocktrans %}Allows players to cancel their own registrations at any time{% endblocktrans %}
{% blocktrans %}External registration{% endblocktrans %}
{% blocktrans %}Instead of using an internal registration form, redirects the player to an external registration link{% endblocktrans %}
{% blocktrans %}Now you can set the external registration link{% endblocktrans %}
{% blocktrans %}Problems{% endblocktrans %}
{% blocktrans %}Enables a ticket-like system for in-game 'problems,' where staff can log issues, assign severity/urgency, and track them{% endblocktrans %}
{% blocktrans %}Now you can review the event's problems{% endblocktrans %}
{% blocktrans %}Dynamic rates{% endblocktrans %}
{% blocktrans %}Enables dynamic installment management: the total fee is evenly split into multiple installments, each due on a date determined by dividing the remaining days until the event.{% endblocktrans %}
{% blocktrans %}Now you can set the dynamic installments{% endblocktrans %}
{% blocktrans %}Vote{% endblocktrans %}
{% blocktrans %}Lets members cast votes for the election of the organisation's Executive Committee{% endblocktrans %}
{% blocktrans %}Now you can set the vote options{% endblocktrans %}
{% blocktrans %}Badge{% endblocktrans %}
{% blocktrans %}Allows the organisation to award badges and enables a public leaderboard{% endblocktrans %}
{% blocktrans %}Now you can create badges{% endblocktrans %}
{% blocktrans %}Inventory{% endblocktrans %}
{% blocktrans %}Enables basic inventory management. Users can add items to a warehouse table, track quantities, and note item locations{% endblocktrans %}
{% blocktrans %}Now you can add inventory items{% endblocktrans %}
{% blocktrans %}Secret link{% endblocktrans %}
{% blocktrans %}Generates a special, hidden link that lets certain players register even if general registration is closed (e.g., early access for a specific group){% endblocktrans %}
{% blocktrans %}Now you can set the registration secret link{% endblocktrans %}
{% blocktrans %}Fixed instalments{% endblocktrans %}
{% blocktrans %}Enables fixed installment deadlines for registration fees, allowing you to define multiple due dates and amounts{% endblocktrans %}
{% blocktrans %}Now you can create fixed installments{% endblocktrans %}
{% blocktrans %}Relationships{% endblocktrans %}
{% blocktrans %}Allows authors to add relationships to characters{% endblocktrans %}
{% blocktrans %}Now you can add relationships when editing a character{% endblocktrans %}
{% blocktrans %}Sections{% endblocktrans %}
{% blocktrans %}Lets you define sections in the registration form, grouping questions to make lengthy forms clearer{% endblocktrans %}
{% blocktrans %}Now you can define registration form sections{% endblocktrans %}
{% blocktrans %}Campaign{% endblocktrans %}
{% blocktrans %}Enables a 'campaign' style setup where multiple events share the same set of characters and factions{% endblocktrans %}
{% blocktrans %}Patron and Reduced{% endblocktrans %}
{% blocktrans %}Adds 'Patron' and 'Reduced' ticket types. Each Patron ticket purchased makes one Reduced ticket available{% endblocktrans %}
{% blocktrans %}Now you can create the 'patron' and 'reduced' tickets{% endblocktrans %}
{% blocktrans %}Accounting tracking{% endblocktrans %}
{% blocktrans %}Keeps a daily record of the organisation's and events' financial status, displaying trend graphs over time{% endblocktrans %}
{% blocktrans %}Now you can review the historical accounting informations{% endblocktrans %}
{% blocktrans %}Progress{% endblocktrans %}
{% blocktrans %}Adds a 'progress' status field (e.g. draft, ready, approved) to key writing elements{% endblocktrans %}
{% blocktrans %}Now you can create the progress steps{% endblocktrans %}
{% blocktrans %}Diet{% endblocktrans %}
{% blocktrans %}Lets staff access the diet information submitted by players{% endblocktrans %}
{% blocktrans %}Now you can review the diet information submitted by players{% endblocktrans %}
{% blocktrans %}Deadlines{% endblocktrans %}
{% blocktrans %}Activates a page summarizing overdue players and their deadlines (payments, memberships, forms, casting, etc.){% endblocktrans %}
{% blocktrans %}Now you can review the organization's deadlines{% endblocktrans %}
{% blocktrans %}Plots{% endblocktrans %}
{% blocktrans %}Enables Plots, story arcs involving selected characters, adding extra content to their character sheets{% endblocktrans %}
{% blocktrans %}Now you can create the plots of the event{% endblocktrans %}
{% blocktrans %}Factions{% endblocktrans %}
{% blocktrans %}Enables 'Factions' to organize characters into groups, either visible, transversal or secret{% endblocktrans %}
{% blocktrans %}Now you can create the factions of the event{% endblocktrans %}
{% blocktrans %}Handout{% endblocktrans %}
{% blocktrans %}Enables 'Handouts,' pre-written texts that provide information about a plot or lore{% endblocktrans %}
{% blocktrans %}Now you can create the handouts of the event{% endblocktrans %}
{% blocktrans %}Expenses{% endblocktrans %}
{% blocktrans %}Lets staff upload receipts for event expenses, tracking both the event expenses, and the amount to refund the staff{% endblocktrans %}
{% blocktrans %}Now staff members can upload expenses, and you can review them{% endblocktrans %}
{% blocktrans %}Tokens / Credits{% endblocktrans %}
{% blocktrans %}Allows managing Tokens and Credits, which players can use instead of money for registration fees. Credits can also be redeemed for cash{% endblocktrans %}
{% blocktrans %}Now set up the token and credits configuration{% endblocktrans %}
{% blocktrans %}Outflows{% endblocktrans %}
{% blocktrans %}Enables management of expenses paid using the organization's financial instruments{% endblocktrans %}
{% blocktrans %}Now you can create outflows{% endblocktrans %}
{% blocktrans %}Verification payments{% endblocktrans %}
{% blocktrans %}Allows you to upload financial system statements (e.g., bank statements) to match and approve corresponding wire payments{% endblocktrans %}
{% blocktrans %}Now you can verify wire payments{% endblocktrans %}
{% blocktrans %}Fiscal Budget{% endblocktrans %}
{% blocktrans %}Generates an annual summary of fiscal activity for the Italian budget report{% endblocktrans %}
{% blocktrans %}Now you can review the annual balance{% endblocktrans %}
{% blocktrans %}Payments{% endblocktrans %}
{% blocktrans %}Enables payment processing, specifying which payment methods to accept{% endblocktrans %}
{% blocktrans %}Now you can set the payment methods settings{% endblocktrans %}
{% blocktrans %}Refunds{% endblocktrans %}
{% blocktrans %}Enables members to request a refund (a money transfer from the organization){% endblocktrans %}
{% blocktrans %}Now players can create refund requests, and you can review them{% endblocktrans %}
{% blocktrans %}Opening date{% endblocktrans %}
{% blocktrans %}Lets you specify a date (and time) on which registration will open, keeping it closed until then{% endblocktrans %}
{% blocktrans %}Now you can set the registration opening date{% endblocktrans %}
{% blocktrans %}Legal Notice{% endblocktrans %}
{% blocktrans %}Adds a link to legal notices on every page, and provides a management panel link to edit the content of that notice{% endblocktrans %}
{% blocktrans %}Now you can set the legal notice text{% endblocktrans %}
{% blocktrans %}Experience points{% endblocktrans %}
{% blocktrans %}Adds support for assigning XP (experience points) to characters, which can then be used to purchase skills{% endblocktrans %}
{% blocktrans %}Now you can set the experience points settings{% endblocktrans %}
{% blocktrans %}Player editor{% endblocktrans %}
{% blocktrans %}Allows players to create and modify their own characters freely{% endblocktrans %}
{% blocktrans %}Now you can set the player editing settings{% endblocktrans %}
{% blocktrans %}Organisation tax{% endblocktrans %}
{% blocktrans %}Allows you to set a 'tax' percentage on event income that must be set aside for the organisation{% endblocktrans %}
{% blocktrans %}Now you can set the organization tax options{% endblocktrans %}
{% blocktrans %}Easter egg{% endblocktrans %}
{% blocktrans %}Occasionally shows a special page to users, based on a defined probability, and optionally assigns a result{% endblocktrans %}
{% blocktrans %}Now you can se the special page options{% endblocktrans %}
{% blocktrans %}URL shortener{% endblocktrans %}
{% blocktrans %}Adds a page where you can define shorter URLs for long links{% endblocktrans %}
{% blocktrans %}Now you can create url shortners{% endblocktrans %}
{% blocktrans %}Surcharge{% endblocktrans %}
{% blocktrans %}Enables the definition of surcharges that are added to every registration made after a specified date{% endblocktrans %}
{% blocktrans %}Now you can create registration surcharges{% endblocktrans %}
{% blocktrans %}Inflows{% endblocktrans %}
{% blocktrans %}Enables managing of entry of revenue for an event that do not originate from player registrations{% endblocktrans %}
{% blocktrans %}Now you can create inflows{% endblocktrans %}
{% blocktrans %}Carousel{% endblocktrans %}
{% blocktrans %}Introduces a new way to display past and upcoming events, inspired by popular streaming-service layouts{% endblocktrans %}
{% blocktrans %}Treasurer{% endblocktrans %}
{% blocktrans %}Lets you specify a set of users who receive payment confirmation emails for all events, instead of each event's organizers{% endblocktrans %}
{% blocktrans %}Receipt{% endblocktrans %}
{% blocktrans %}Automatically generates a customizable PDF receipt for each payment and emails it to the user{% endblocktrans %}
{% blocktrans %}Now you can create the receipt text{% endblocktrans %}
{% blocktrans %}Register of volunteers{% endblocktrans %}
{% blocktrans %}Enables a volunteer register, as required by Italian RUNTS regulations{% endblocktrans %}
{% blocktrans %}Now you can review the volunteers registry{% endblocktrans %}
{% blocktrans %}Taxes{% endblocktrans %}
{% blocktrans %}Shows the calculated tax amount on each payment{% endblocktrans %}
{% blocktrans %}Now you can set the taxes options{% endblocktrans %}
{% blocktrans %}Delegated accounts{% endblocktrans %}
{% blocktrans %}Allows a user to create 'delegated' accounts they fully manage (e.g., children), avoiding the need for separate login credentials{% endblocktrans %}
{% blocktrans %}Gift{% endblocktrans %}
{% blocktrans %}Allows players to purchase tickets as gifts. A special code is generated and provided to the gift recipient for registration{% endblocktrans %}
{% blocktrans %}Now you can select which tickets can be gifted{% endblocktrans %}
{% blocktrans %}Additional tickets{% endblocktrans %}
{% blocktrans %}Allows a user to reserve extra tickets in addition to their own{% endblocktrans %}
{% blocktrans %}Characters{% endblocktrans %}
{% blocktrans %}Enables the creation, editing, and assignment of characters to registered players{% endblocktrans %}
{% blocktrans %}Now you can create characters{% endblocktrans %}
{% blocktrans %}Template{% endblocktrans %}
{% blocktrans %}Lets you create 'template' events whose configurations and settings can be used as a starting point for other events{% endblocktrans %}
{% blocktrans %}Now you can create event templates{% endblocktrans %}
{% blocktrans %}Fiscal code check{% endblocktrans %}
{% blocktrans %}Check the validity of the fiscal code{% endblocktrans %}
{% blocktrans %}Now you can peform the fiscal code validity check{% endblocktrans %}
{% blocktrans %}Organization{% endblocktrans %}
{% blocktrans %}Manage the organization main settings{% endblocktrans %}
{% blocktrans %}Roles{% endblocktrans %}
{% blocktrans %}Assign roles to collaborators and grant access to specific functions{% endblocktrans %}
{% blocktrans %}Configuration{% endblocktrans %}
{% blocktrans %}Manage the configuration of the activated features{% endblocktrans %}
{% blocktrans %}Features{% endblocktrans %}
{% blocktrans %}Activate features for the organization{% endblocktrans %}
{% blocktrans %}Accounting{% endblocktrans %}
{% blocktrans %}Manage organization accounting{% endblocktrans %}
{% blocktrans %}Payments{% endblocktrans %}
{% blocktrans %}Manage payments performed by players on all events{% endblocktrans %}
{% blocktrans %}Donations{% endblocktrans %}
{% blocktrans %}Manage donations performed by players{% endblocktrans %}
{% blocktrans %}Outflows{% endblocktrans %}
{% blocktrans %}Manages events or organization expenses{% endblocktrans %}
{% blocktrans %}Inflows{% endblocktrans %}
{% blocktrans %}Manages events or organization revenues{% endblocktrans %}
{% blocktrans %}Expenses{% endblocktrans %}
{% blocktrans %}Manage staff expenses based on receipts uploaded for all events{% endblocktrans %}
{% blocktrans %}Credits{% endblocktrans %}
{% blocktrans %}Manages credits used by players to cover the registration fee on all events{% endblocktrans %}
{% blocktrans %}Refunds{% endblocktrans %}
{% blocktrans %}Manage refund requests{% endblocktrans %}
{% blocktrans %}Collections{% endblocktrans %}
{% blocktrans %}Manage collections participated by players{% endblocktrans %}
{% blocktrans %}Verification{% endblocktrans %}
{% blocktrans %}Verify manually approved payments{% endblocktrans %}
{% blocktrans %}Balance{% endblocktrans %}
{% blocktrans %}Review the annual budget report{% endblocktrans %}
{% blocktrans %}Historical{% endblocktrans %}
{% blocktrans %}Review historical financial records{% endblocktrans %}
{% blocktrans %}Appearance{% endblocktrans %}
{% blocktrans %}Set visual aspect: colors, background, cover image{% endblocktrans %}
{% blocktrans %}Texts{% endblocktrans %}
{% blocktrans %}Customize textual elements of the organization interface{% endblocktrans %}
{% blocktrans %}URL shortener{% endblocktrans %}
{% blocktrans %}Manage url shortner{% endblocktrans %}
{% blocktrans %}Inventory{% endblocktrans %}
{% blocktrans %}Manage inventory and items{% endblocktrans %}
{% blocktrans %}Events{% endblocktrans %}
{% blocktrans %}Manage events{% endblocktrans %}
{% blocktrans %}Runs{% endblocktrans %}
{% blocktrans %}Manages the runs of events{% endblocktrans %}
{% blocktrans %}Pre-Registrations{% endblocktrans %}
{% blocktrans %}Manage the pre-registration of all events{% endblocktrans %}
{% blocktrans %}Deadlines{% endblocktrans %}
{% blocktrans %}Displays players overdue for payment or other deadlines for all events{% endblocktrans %}
{% blocktrans %}Send e-mail{% endblocktrans %}
{% blocktrans %}Send e-mail{% endblocktrans %}
{% blocktrans %}Membership{% endblocktrans %}
{% blocktrans %}Review all members{% endblocktrans %}
{% blocktrans %}Vote{% endblocktrans %}
{% blocktrans %}Manage player votes for the assignment of roles in the organization{% endblocktrans %}
{% blocktrans %}Badges{% endblocktrans %}
{% blocktrans %}Manage badges and assign them to players{% endblocktrans %}
{% blocktrans %}Questions{% endblocktrans %}
{% blocktrans %}Manage player questions and answer them{% endblocktrans %}
{% blocktrans %}Newsletter{% endblocktrans %}
{% blocktrans %}Displays list of emails of users{% endblocktrans %}
{% blocktrans %}Volunteers{% endblocktrans %}
{% blocktrans %}Manage volunteer registry{% endblocktrans %}
{% blocktrans %}Enrolment{% endblocktrans %}
{% blocktrans %}Display all users data{% endblocktrans %}
{% blocktrans %}Methods{% endblocktrans %}
{% blocktrans %}Configure payment methods available for players{% endblocktrans %}
{% blocktrans %}Invoices{% endblocktrans %}
{% blocktrans %}Manage invoices of payments and approve them{% endblocktrans %}
{% blocktrans %}Check data{% endblocktrans %}
{% blocktrans %}Check consistency of the members’ personal data{% endblocktrans %}
{% blocktrans %}Tokens{% endblocktrans %}
{% blocktrans %}Manages tokens used by players to cover the registration fee for all events{% endblocktrans %}
{% blocktrans %}Registry{% endblocktrans %}
{% blocktrans %}Display all users data as members registry{% endblocktrans %}
{% blocktrans %}Profile{% endblocktrans %}
{% blocktrans %}Manage fields that track players’ data{% endblocktrans %}
{% blocktrans %}Template{% endblocktrans %}
{% blocktrans %}Manage event templates used as starting points for new events{% endblocktrans %}
{% blocktrans %}Archive{% endblocktrans %}
{% blocktrans %}Display all sent e-mails{% endblocktrans %}
{% blocktrans %}Quick Setup{% endblocktrans %}
{% blocktrans %}quick{% endblocktrans %}
{% blocktrans %}Event{% endblocktrans %}
{% blocktrans %}Manage the event settings: name, description,  and other data{% endblocktrans %}
{% blocktrans %}Run{% endblocktrans %}
{% blocktrans %}Manage the run settings: date, registrations, elements visibility{% endblocktrans %}
{% blocktrans %}Roles{% endblocktrans %}
{% blocktrans %}Assign roles to staff members, and give access to specific functions{% endblocktrans %}
{% blocktrans %}Configuration{% endblocktrans %}
{% blocktrans %}Manage the configuration of the activated features{% endblocktrans %}
{% blocktrans %}Features{% endblocktrans %}
{% blocktrans %}Activate features for the event{% endblocktrans %}
{% blocktrans %}Appearance{% endblocktrans %}
{% blocktrans %}Set visual aspect: colors, background, cover image{% endblocktrans %}
{% blocktrans %}Copy{% endblocktrans %}
{% blocktrans %}Copy elements from another event{% endblocktrans %}
{% blocktrans %}Casting{% endblocktrans %}
{% blocktrans %}Assign the characters following the players' preferences{% endblocktrans %}
{% blocktrans %}Accounting{% endblocktrans %}
{% blocktrans %}Manage event accounting{% endblocktrans %}
{% blocktrans %}Payments{% endblocktrans %}
{% blocktrans %}Manage payments performed by players to cover the registration fee{% endblocktrans %}
{% blocktrans %}Expenses{% endblocktrans %}
{% blocktrans %}Manage expenses uploaded by staff members and approve them{% endblocktrans %}
{% blocktrans %}Tokens{% endblocktrans %}
{% blocktrans %}Manages tokens used by players to cover the registration fee{% endblocktrans %}
{% blocktrans %}Credits{% endblocktrans %}
{% blocktrans %}Manages credits used by players to cover the registration fee{% endblocktrans %}
{% blocktrans %}Inflows{% endblocktrans %}
{% blocktrans %}Manages event revenues{% endblocktrans %}
{% blocktrans %}Outflows{% endblocktrans %}
{% blocktrans %}Manages event's expenses{% endblocktrans %}
{% blocktrans %}Safety{% endblocktrans %}
{% blocktrans %}Review players' safety-related informations{% endblocktrans %}
{% blocktrans %}Diet{% endblocktrans %}
{% blocktrans %}Review players' dietary restrictions and allergies.{% endblocktrans %}
{% blocktrans %}Sensitive data{% endblocktrans %}
{% blocktrans %}Review players' sensitive data{% endblocktrans %}
{% blocktrans %}Questions{% endblocktrans %}
{% blocktrans %}Manage questions asked by the players{% endblocktrans %}
{% blocktrans %}Spam{% endblocktrans %}
{% blocktrans %}Displays full lists of usual players not already signed up{% endblocktrans %}
{% blocktrans %}Preaching{% endblocktrans %}
{% blocktrans %}Displays lists of players to persuade to sign up{% endblocktrans %}
{% blocktrans %}Characters{% endblocktrans %}
{% blocktrans %}Manage the event characters{% endblocktrans %}
{% blocktrans %}Plots{% endblocktrans %}
{% blocktrans %}Manage the event plots{% endblocktrans %}
{% blocktrans %}Factions{% endblocktrans %}
{% blocktrans %}Manage the event factions{% endblocktrans %}
{% blocktrans %}Quest type{% endblocktrans %}
{% blocktrans %}Manage the type of event quests{% endblocktrans %}
{% blocktrans %}Quest{% endblocktrans %}
{% blocktrans %}Manage the event quests{% endblocktrans %}
{% blocktrans %}Traits{% endblocktrans %}
{% blocktrans %}Manage the traits available in the event quests{% endblocktrans %}
{% blocktrans %}Prologues type{% endblocktrans %}
{% blocktrans %}Manage the type of event prologues{% endblocktrans %}
{% blocktrans %}Prologues{% endblocktrans %}
{% blocktrans %}Manage the event prologues{% endblocktrans %}
{% blocktrans %}Speed larp{% endblocktrans %}
{% blocktrans %}Manage the event speed-larps{% endblocktrans %}
{% blocktrans %}Check{% endblocktrans %}
{% blocktrans %}Perform check on the consistency of character sheets{% endblocktrans %}
{% blocktrans %}Progress{% endblocktrans %}
{% blocktrans %}Manage the progress steps for the writing elements{% endblocktrans %}
{% blocktrans %}Registrations{% endblocktrans %}
{% blocktrans %}Manage player registrations{% endblocktrans %}
{% blocktrans %}Tickets{% endblocktrans %}
{% blocktrans %}Manage the registration tickets{% endblocktrans %}
{% blocktrans %}Sections{% endblocktrans %}
{% blocktrans %}Manage the registration sections{% endblocktrans %}
{% blocktrans %}Form{% endblocktrans %}
{% blocktrans %}Manage the registration questions and options{% endblocktrans %}
{% blocktrans %}Surcharges{% endblocktrans %}
{% blocktrans %}Manage the registration surcharges{% endblocktrans %}
{% blocktrans %}Dynamic rates{% endblocktrans %}
{% blocktrans %}Manage dynamic installment payments for registrations{% endblocktrans %}
{% blocktrans %}Fixed instalments{% endblocktrans %}
{% blocktrans %}Manages fixed installment payments for registrations{% endblocktrans %}
{% blocktrans %}Discounts{% endblocktrans %}
{% blocktrans %}Manage registrations discounts available to players{% endblocktrans %}
{% blocktrans %}Pre-Registrations{% endblocktrans %}
{% blocktrans %}Manage the pre-registrations received{% endblocktrans %}
{% blocktrans %}Cancellations{% endblocktrans %}
{% blocktrans %}Manages registration cancellations{% endblocktrans %}
{% blocktrans %}Newsletter{% endblocktrans %}
{% blocktrans %}Displays list of emails of signed-up players{% endblocktrans %}
{% blocktrans %}Assignments{% endblocktrans %}
{% blocktrans %}Manages and assigns tasks to characters{% endblocktrans %}
{% blocktrans %}Approvals{% endblocktrans %}
{% blocktrans %}Manually approve payments received{% endblocktrans %}
{% blocktrans %}Upload Expenses{% endblocktrans %}
{% blocktrans %}Manage your event expenses and upload receipts{% endblocktrans %}
{% blocktrans %}Deadlines{% endblocktrans %}
{% blocktrans %}Displays players overdue for payment or other deadlines{% endblocktrans %}
{% blocktrans %}PDF{% endblocktrans %}
{% blocktrans %}Set the options for the automatic PDF generation of characters sheets{% endblocktrans %}
{% blocktrans %}Handout Models{% endblocktrans %}
{% blocktrans %}Manage the models for event handouts{% endblocktrans %}
{% blocktrans %}Handouts{% endblocktrans %}
{% blocktrans %}Manage the event handouts{% endblocktrans %}
{% blocktrans %}Ability type{% endblocktrans %}
{% blocktrans %}Manage the type of character skills{% endblocktrans %}
{% blocktrans %}Ability{% endblocktrans %}
{% blocktrans %}Manage the character skills purchaseable with XP{% endblocktrans %}
{% blocktrans %}Delivery{% endblocktrans %}
{% blocktrans %}Manage XP distributions for character skill purchases.{% endblocktrans %}
{% blocktrans %}Historical{% endblocktrans %}
{% blocktrans %}Display full history of player preferences on characters{% endblocktrans %}
{% blocktrans %}Statistics{% endblocktrans %}
{% blocktrans %}Displays statistics on player preferences on characters{% endblocktrans %}
{% blocktrans %}Utility{% endblocktrans %}
{% blocktrans %}Upload and host files directly{% endblocktrans %}
{% blocktrans %}Problems{% endblocktrans %}
{% blocktrans %}Manage in-game issues{% endblocktrans %}
{% blocktrans %}Lottery{% endblocktrans %}
{% blocktrans %}Select randomly lottery tickets to upgrade{% endblocktrans %}
{% blocktrans %}Workshops{% endblocktrans %}
{% blocktrans %}Manage quiz-style workshops{% endblocktrans %}
{% blocktrans %}Modules{% endblocktrans %}
{% blocktrans %}Manages modules for workshops{% endblocktrans %}
{% blocktrans %}Questions{% endblocktrans %}
{% blocktrans %}Manage questions for workshops{% endblocktrans %}
{% blocktrans %}Answers{% endblocktrans %}
{% blocktrans %}Manage answers for workshop questions{% endblocktrans %}
{% blocktrans %}Texts{% endblocktrans %}
{% blocktrans %}Customize specific texts on the event interface{% endblocktrans %}
{% blocktrans %}Navigation{% endblocktrans %}
{% blocktrans %}Customize buttons in the event navigation bar{% endblocktrans %}
{% blocktrans %}Send e-mail{% endblocktrans %}
{% blocktrans %}Send e-mail{% endblocktrans %}
{% blocktrans %}Form{% endblocktrans %}
{% blocktrans %}Manage questions and options for characters and writing elements{% endblocktrans %}
{% blocktrans %}Archive{% endblocktrans %}
{% blocktrans %}Display sent e-mails{% endblocktrans %}
{% blocktrans %}Quick Setup{% endblocktrans %}
{% blocktrans %}quick{% endblocktrans %}
{% blocktrans %}Preferences{% endblocktrans %}
{% blocktrans %}Set your personal preferences on the interface{% endblocktrans %}
