{% extends "base.html" %}
{% load i18n static %}
{% block special %}
    manage
{% endblock special %}
{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock meta %}
{% block js %}
    {% if form.load_js %}
        {% for item in form.load_js %}
            {% with template_name=item|stringformat:"s"|add:".js" %}
                {% include "elements/helpers/"|add:template_name %}
            {% endwith %}
        {% endfor %}
    {% endif %}
    <script>
    // handle bulk operations

window.addEventListener('DOMContentLoaded', function() {
    $(document).on("lm_ready", function() {

        Object.keys(window.datatables).forEach(function(key) {
            var table = window.datatables[key];
            table.on('click', 'tbody tr', function (e) {
                console.log($("#bulk").is(":visible"));
                if ($("#main_bulk").is(":visible")) {

                    e.currentTarget.classList.toggle('selected');
                }
            });

        });

    });
});
    </script>
{% endblock js %}
