{% load i18n %}
<p>Hi {{ member.name }},</p>
<p>
    I'm Mauro, the developer of LarpManager. I noticed you recently created an organization, and I just wanted to ask: is everything going smoothly?
</p>
<p>If you need help or have any questions, do feel free to contact me, I'm happy to help ^^</p>
<p>
    If you prefer, we can also schedule a short call to go over the platform together and address any questions or ideas you might have!
</p>
<p>
    And of course, any feedback is very welcome: if there's anything confusing, missing, or working particularly well, I'd appreciate hearing about it.
</p>
<p>Best regards,</p>
<p>
    <em>Mauro</em>
</p>
