{% load i18n %}
<p>Hello,</p>
<p>
    I'm Mauro, the developer of LarpManager. I noticed that you created an organization, and I wanted to check in on your experience with the platform.
</p>
<p>
    If there's anything I can adapt or develop to better match your desired workflow, please let me know, and I'll prioritize it accordingly.
</p>
<p>
    Additionally, if you'd like, I'm available for a call to walk you through the different features and answer any questions you might have - feel free to reach out!
</p>
<p>Best regards,</p>
<p>
    <em>Mauro</em>
</p>
