{% load i18n %}
<p>{% trans "Hi" %} {{ member.name }},</p>
<p>{% trans "Thanks for joining LarpManager!" %}</p>
<p>
    {% trans "Here’s your organization’s LarpManager page:" %} <a href="https://{{ assoc.slug }}.larpmanager.com">{{ assoc.name }}</a>
</p>
<p>
    {% trans "And here’s the link to manage your organization:" %} <a href="https://{{ assoc.slug }}.larpmanager.com/manage">{% trans "Management" %} {{ assoc.name }}</a>
</p>
<p>{% trans "(You might want to keep this email handy.)" %}</p>
<p>{% trans "To get started, check these out:" %}</p>
<ul>
    <li>
        <a href="https://{{ assoc.slug }}.larpmanager.com/tutorials">Tutorials</a>: {% trans "Short guides to help you set up your events" %}
    </li>
    <li>
        <a href="https://discord.gg/C4KuyQbuft">Discord</a>: {% trans "Join our Discord for help, ideas, or to report bugs" %}
    </li>
</ul>
<p>{% trans "Got questions? Just reply to this email." %}</p>
<p>{% trans "Glad to have you with us!" %}</p>
<br />
<p>
    <i>{% trans "The LarpManager team" %}</i>
</p>
