{% extends "writing_list.html" %}
{% load show_tags i18n static %}
{% block title %}
    {% trans "Characters" %} - {{ event.name }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the characters of the event" %}
{% endblock info %}
{% block nav_fields %}
    {% if user_character_max %}
        <a href="#" class="my_toggle" tog='player'>{% trans "player" %}</a>
    {% endif %}
    {% if user_character_approval %}
        <a href="#" class="my_toggle" tog='status'>{% trans "status" %}</a>
    {% endif %}
    {% if features.px %}
        <a href="#" class="my_toggle" tog='px'>{% trans "XP" %}</a>
    {% endif %}
    {% include "elements/writing/questions_nav.html" %}
    {% if features.plot %}
        <a href="#" class="my_toggle" tog='plots'>{% trans "Plots" %}</a>
    {% endif %}
    {% if features.relationships %}
        <a href="#" class="my_toggle" tog='relationships'>{% trans "Relationships" %}</a>
    {% endif %}
    {% if features.speedlarp %}
        <a href="#" class="my_toggle" tog='speedlarp'>{% trans "speedlarp" %}</a>
    {% endif %}
{% endblock nav_fields %}
{% block thead %}
    <th></th>
    <th>{{ fields_name.name }}</th>
    <th></th>
    {% if user_character_max %}
        <th class="hide player">{% trans "Player" %}</th>
    {% endif %}
    {% if user_character_approval %}
        <th class="hide status">{% trans "Status" %}</th>
    {% endif %}
    {% if features.px %}
        <th class="hide px">{% trans "XP tot" %}</th>
        <th class="hide px">{% trans "XP used" %}</th>
        <th class="hide px">{% trans "XP avail" %}</th>
    {% endif %}
    {% include "elements/writing/questions_header.html" %}
    {% if features.plot %}
        <th class="hide plots">{% trans "Plots" %}</th>
        <th class="hide stats">
            <i class="fa fa-hashtag"></i> {% trans "Plots" %}
        </th>
    {% endif %}
    {% if features.relationships %}
        <th class="hide relationships">{% trans "Relationships" %}</th>
        <th class="hide stats">
            <i class="fa fa-hashtag"></i> {% trans "Relationships" %}
        </th>
    {% endif %}
    {% if features.speedlarp %}
        <th class="hide speedlarp">{% trans "Speedlarp" %}</th>
        <th class="hide stats">
            <i class="fa fa-hashtag"></i> {% trans "Speedlarp" %}
        </th>
    {% endif %}
{% endblock thead %}
{% block tbody %}
    {% for el in list %}
        <tr id="{{ el.id }}">
            <td>
                <a href="{% url 'orga_characters_edit' run.event.slug run.number el.id %}"
                   qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
            </td>
            <td class="editable" qid="{{ name_que_id }}">{{ el }}</td>
            <td>
                <a href="{% url 'orga_characters_view' run.event.slug run.number el.id %}"
                   qtip="{% trans "View" %}"><i class="fa-solid fa-book-open"></i></a> &nbsp;
                <a href="{% url 'orga_characters_versions' run.event.slug run.number el.id %}"
                   qtip="{% trans "Versions" %}"><i class="fas fa-file-alt"></i></a> &nbsp;
                <a href="{% url 'character' run.event.slug run.number el.number %}"
                   qtip="{% trans "Gallery" %}"><i class="fa-solid fa-eye"></i></a> &nbsp;
                {% if writing_external_access %}
                    <a href="{% url 'character_external' run.event.slug run.number el.access_token %}"
                       qtip="{% trans "External access" %}"><i class="fa-solid fa-key"></i></a>
                {% endif %}
            </td>
            {% if user_character_max %}<td class="hide player">{{ el.player.show_nick }}</td>{% endif %}
            {% if user_character_approval %}<td class="hide status">{{ el.get_status_display }}</td>{% endif %}
            {% if features.px %}
                <td class="hide px">{{ el.addit | get:'px_tot' }}</td>
                <td class="hide px">{{ el.addit | get:'px_used' }}</td>
                <td class="hide px">{{ el.addit | get:'px_avail' }}</td>
            {% endif %}
            {% include "elements/writing/questions_body.html" %}
            {% if features.plot %}
                <td class="hide plots">
                    {% for p in el.plts %}
                        <a href="{% url 'orga_plots_edit' run.event.slug run.number p.1 %}">{{ p.0 }}</a>
                    {% endfor %}
                </td>
                <td class="hide stats">{{ el.plts | length }}</td>
            {% endif %}
            {% if features.relationships %}
                <td class="hide relationships">
                    {% for rel in el.source.all %}
                        <a href="{% url 'orga_characters_edit' run.event.slug run.number rel.target_id %}">{{ rel.target }}</a>
                    {% endfor %}
                </td>
                <td class="hide stats">{{ el.source.count }}</td>
            {% endif %}
            {% if features.speedlarp %}
                <td class="hide speedlarp">
                    {% for p in el.speedlarps_list.all %}
                        <a href="{% url 'orga_speedlarps_edit' run.event.slug run.number p.id %}">{{ p }}</a>
                    {% endfor %}
                </td>
                <td class="hide stats">{{ el.speedlarps_list.count }}</td>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock tbody %}
{% block additional %}
    {% if form_questions %}
        <br />
        <p id="show">
            <b>{% trans "Load list" %}</b>
        </p>
        <div class="nav fields">
            {% for key, que in form_questions.items %}
                {% if que.typ == 's' or que.typ == 'm' %}
                    <a href="#" class="load_email_que" key="{{ key }}">{{ que.display | truncatechars:25 }}</a>
                    <a href="#" class="my_toggle hide" tog='email_que_{{ key }}'>hidden</a>
                {% endif %}
            {% endfor %}
        </div>
        {% for key, que in form_questions.items %}
            {% if que.typ == 's' or que.typ == 'm' %}
                <div class="hide email_que_{{ key }}">
                    <br />
                    <h4>{{ que.display }}</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>Count</th>
                                <th>Emails</th>
                                <th>Names</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Filled dynamically by jQuery -->
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock additional %}
