{% extends "writing_list.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Factions" %} - {{ event.name }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the factions (character groups) of the event." %}
{% endblock info %}
{% block nav_fields %}
    {% include "elements/writing/questions_nav.html" %}
    <a href="#" class="my_toggle" tog='characters'>{% trans "Characters" %}</a>
{% endblock nav_fields %}
{% block thead %}
    <th></th>
    <th>{{ fields_name.name }}</th>
    <th></th>
    <th>{% trans "Tipo" %}</th>
    {% if features.user_character %}
        <th>{% trans "Selectable" %}</th>
    {% endif %}
    {% include "elements/writing/questions_header.html" %}
    <th class="hide characters">{% trans "Characters" %}</th>
    <th class="hide characters">(N)</th>
    <th></th>
{% endblock thead %}
{% block tbody %}
    {% for el in list %}
        <tr id="{{ el.id }}">
            <td>
                <a href="{% url 'orga_factions_edit' run.event.slug run.number el.id %}"><i class="fas fa-edit"></i></a>
            </td>
            <td>{{ el }}</td>
            <td>
                <a href="{% url 'orga_factions_versions' run.event.slug run.number el.id %}">{% trans "Versions" %}</a>
            </td>
            <td>{{ el.get_typ_display }}</td>
            {% if features.user_character %}
                <td>
                    {% if el.selectable %}<i class="fa-solid fa-check"></i>{% endif %}
                </td>
            {% endif %}
            {% include "elements/writing/questions_body.html" %}
            <td class="hide characters">
                {% for ch in el.characters.all %}
                    <a href="{% url 'orga_characters_edit' run.event.slug run.number ch.id %}">{{ ch }}</a>&nbsp;
                {% endfor %}
            </td>
            <td class="hide characters">{{ el.characters.all | length }}</td>
            <td>
                {% if not forloop.first %}
                    <a href="{% url 'orga_factions_order' run.event.slug run.number el.id %}">
                        <i class="fa-solid fa-arrow-up"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock tbody %}
