{% extends "utils.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Plots" %} - {{ event.name }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the event plots." %}
{% endblock info %}
{% block content %}
    {% include "elements/header/writing.html" %}
    <table id="plots" class="tablesorter mob writing">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th></th>
                {% if features.progress %}
                    <th>{% trans "Progress" %}</th>
                {% endif %}
                {% if features.assigned %}
                    <th class="hide assign">{% trans "Assigned" %}</th>
                {% endif %}
                <th>{% trans "Concept" %}</th>
                <th>(L)</th>
                {% if features.preview %}
                    <th>{% trans "Preview" %}</th>
                    <th>(L)</th>
                {% endif %}
                <th>{% trans "Sheet" %}</th>
                <th>(L)</th>
                <th>{% trans "Characters" %}</th>
                <th>(N)</th>
            </tr>
        </thead>
        <tbody>
            {% for el in list %}
                <tr id="{{ el.id }}">
                    <td>
                        <a href="{% url 'orga_plots_edit' run.event.slug run.number el.id %}"><i class="fas fa-edit"></i> </a>
                    </td>
                    <td>{{ el }}</td>
                    <td>
                        <a href="{% url 'orga_plots_versions' run.event.slug run.number el.id %}">{% trans "Versions" %}</a>
                    </td>
                    {% if features.progress %}
                        <td>{% include "elements/show_progress.html" with el=el %}</td>
                    {% endif %}
                    {% if features.assigned %}
                        <td class="hide assign">
                            {% if el.assigned_id %}{{ assigned|get:el.assigned_id }}{% endif %}
                        </td>
                    {% endif %}
                    <td>{{ el.teaser_red | safe }}</td>
                    <td>{{ el.teaser_ln }}</td>
                    {% if features.preview %}
                        <td>{{ el.preview_red | safe }}</td>
                        <td>{{ el.preview_ln }}</td>
                    {% endif %}
                    <td>{{ el.text_red | safe }}</td>
                    <td>{{ el.text_ln }}</td>
                    <td>
                        {% for name, num in el.chars %}
                            {% include "elements/comma.html" %}
                            <a href="{% url 'orga_characters_edit' run.event.slug run.number num %}">{{ name }}</a>
                        {% endfor %}
                    </td>
                    <td>{{ el.chars|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
