{% extends "writing_list.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Plots" %} - {{ event.name }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the plots of the event" %}
{% endblock info %}
{% block nav_fields %}
    {% include "elements/writing/questions_nav.html" %}
    <a href="#" class="table_toggle" tog='characters'>{% trans "Characters" %}</a>
{% endblock nav_fields %}
{% block thead %}
    <th></th>
    <th>{{ fields_name.name }}</th>
    <th></th>
    {% include "elements/writing/questions_header.html" %}
    <th class="characters">{% trans "Characters" %}</th>
    <th class="stats">
        <i class="fa fa-hashtag"></i>
    </th>
{% endblock thead %}
{% block tbody %}
    {% for el in list %}
        <tr id="{{ el.id }}">
            <td>
                <a href="{% url 'orga_plots_edit' run.event.slug run.number el.id %}"
                   qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
            </td>
            <td class="editable" qid="{{ name_que_id }}">{{ el }}</td>
            <td>
                <a href="{% url 'orga_plots_view' run.event.slug run.number el.id %}"
                   qtip="{% trans "View" %}"><i class="fa-solid fa-book-open"></i></a>
                <a href="{% url 'orga_plots_versions' run.event.slug run.number el.id %}"
                   qtip="{% trans "Versions" %}"><i class="fas fa-file-alt"></i></a>
            </td>
            {% include "elements/writing/questions_body.html" %}
            <td class="characters dot_links">
                {% for ch in el.chars %}
                    <a href="{% url 'orga_characters_edit' run.event.slug run.number ch.1 %}">{{ ch.0 }}</a>
                {% endfor %}
            </td>
            <td class="stats">{{ el.characters.all | length }}</td>
        </tr>
    {% endfor %}
{% endblock tbody %}
