{% extends "writing_list.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Traits" %} - {{ event.name }}
{% endblock title %}
{% block info %}
    {% trans "This page shows the traits of the quests for the event" %}
{% endblock info %}
{% block nav_fields %}
    {% include "elements/writing/questions_nav.html" %}
    <a href="#" class="table_toggle" tog='traits'>{% trans "Traits" %}</a>
{% endblock nav_fields %}
{% block thead %}
    <th></th>
    <th>{{ fields_name.name }}</th>
    <th></th>
    <th>{% trans "Quest" %}</th>
    {% include "elements/writing/questions_header.html" %}
    <th class="hide traits">{% trans "Traits" %}</th>
    <th class="hide stats">
        <i class="fa fa-hashtag"></i> {% trans "Traits" %}
    </th>
{% endblock thead %}
{% block tbody %}
    {% for el in list %}
        <tr id="{{ el.id }}">
            <td>
                <a href="{% url 'orga_traits_edit' run.event.slug run.number el.id %}"
                   qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
            </td>
            <td class="editable" qid="{{ name_que_id }}">{{ el }}</td>
            <td>
                <a href="{% url 'orga_traits_view' run.event.slug run.number el.id %}"
                   qtip="{% trans "View" %}"><i class="fa-solid fa-book-open"></i></a>
                <a href="{% url 'orga_traits_versions' run.event.slug run.number el.id %}"
                   qtip="{% trans "Versions" %}"><i class="fas fa-file-alt"></i></a>
            </td>
            <td>
                {% if el.quest %}
                    <a href="{% url 'orga_quests_edit' run.event.slug run.number el.quest.id %}">{{ el.quest }}</a>
                {% endif %}
            </td>
            {% include "elements/writing/questions_body.html" %}
            <td class="hide traits">
                {% for ch in el.traits.all %}
                    <a href="{% url 'orga_traits_edit' run.event.slug run.number ch.id %}">{{ ch }}</a>&nbsp;
                {% endfor %}
            </td>
            <td class="hide stats">{{ el.traits.all | length }}</td>
        </tr>
    {% endfor %}
{% endblock tbody %}
