{% extends 'utils.html' %}
{% load i18n %}
{% block title %}
    {{ name }} - {% trans "Versions" %}
{% endblock %}
{% block info %}
    {% trans "This page shows the different versions available of the character, and the differences between them." %}
{% endblock %}
{% block content %}
    {% for v in versions reversed %}
        {% if v.diff %}
            <h3>Versione {{ v.version }} - {{ v.member }} - {{ v.created }}</h3>
            <div class='diff-version plot'>{{ v.diff | safe }}</div>
        {% endif %}
    {% endfor %}
{% endblock %}
