{% extends "utils.html" %}
{% load i18n static show_tags %}
{% block title %}
    {% if eid %}
        {{ name }}
    {% else %}
        {% trans "New" %} {{ form.page_title }}
    {% endif %}
    - {{ run }}
{% endblock title %}
{% block info %}
    {{ form.page_info }}
{% endblock info %}
{% block content %}
    {% include "elements/form/sections.html" %}
    {% include "elements/form/char_finder.html" %}
{% endblock content %}
{% block js2 %}
    {% include "elements/form/max_length.js" %}
    {% include "elements/form/char_highlight.js" %}
    {% if not disable_char_finder %}
        {{ char_finder_media }}
        {% include "elements/form/char_finder.js" %}
    {% endif %}
    <script>
window.addEventListener('DOMContentLoaded', function() {
    $(function() {

        $('form').on('submit', function() {
            return confirm('{% trans "Are you really sure" %}?');
        });

        $('option:selected').each(function(){
            $(this).prop('selected',true);
        });

        $('.link_show_char').each(function(){
            v = $(this).text();
            v = v.replace('&$£', '#');
            $(this).text(v);
        });

        setTimeout(function() {
            $('.hide_later').each(function(){
                $(this).hide();
            })
        },
        500);

    });
});
    </script>
    {% include "elements/auto-save.js" %}
{% endblock js2 %}
