{% extends "base.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Ability" %} - {{ character }} - {{ run.search }}
{% endblock title %}
{% block content %}
    {% include "elements/sheet/px.html" %}
    <h2>{% trans "Obtain ability" %}</h2>
    <p>
        <i>{% trans "Select the new ability to get" %}</i>
    </p>
    <form action="{{ request.path }}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <table class="mob ">
            <tr>
                <td>
                    <select id="ability_type" name="ability_type">
                        {% for typ_id, name in type_available.items %}<option value="{{ typ_id }}">{{ name }}</option>{% endfor %}
                    </select>
                </td>
                <td>
                    <select id="ability_select" name="ability_select">
                        <option value="" disabled selected>--- {% trans "Select ability" %}</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="{% trans "Submit" %}" disabled>
    </form>
{% endblock content %}
{% block js2 %}
    {% include "elements/char_abilities.js.html" %}
{% endblock js2 %}
