{% extends "base.html" %}
{% load show_tags i18n %}
{% block title %}
    {% trans "Your characters" %} - {{ run.search }}
{% endblock title %}
{% block content %}
    {% if not char_maximum %}
        <a href="{% url 'character_create' run.get_slug %}" class="add-new">{% trans "Create new character" %}</a>
        <br />
    {% endif %}
    <div class="char-choose-grid">
        {% for el in list %}
            <div class="char-choose-card{% if el.addit.inactive == "True" %} char-choose-inactive{% endif %}"
                 id="{{ el.uuid }}">
                <div class="char-choose-cover">
                    {% if el.cover %}
                        <img src="{{ el.thumb.url }}" alt="{{ el.name }}" />
                    {% else %}
                        <i class="fa-solid fa-user"></i>
                    {% endif %}
                </div>
                <div class="char-choose-body">
                    <h3 class="char-choose-name">
                        {{ el.name }}
                        {% if el.assigned_here %}
                            <span class="char-choose-badge">{% trans "Playing in this event" %}</span>
                        {% endif %}
                    </h3>
                    {% if features.title and el.title %}<div class="char-choose-title">{{ el.title }}</div>{% endif %}
                    {% if el.teaser %}
                        <div class="char-choose-teaser">{{ el.teaser | safe | clean_tags | truncatechars:200 }}</div>
                    {% endif %}
                    <div class="char-choose-meta">
                        {% for idx, _unused in searchable.items %}
                            {% with el.fields|get:idx as field %}
                                {% if field %}
                                    {% with questions|get:idx as que %}
                                        <span class="char-choose-field"><b>{{ que.name }}</b>: {% get_character_field field options %}</span>
                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                        {% if approval %}
                            <span class="char-choose-field"><b>{% trans "Status" %}</b>: {{ el.get_status_display }}</span>
                        {% endif %}
                        {% if features.campaign and el.addit.inactive == "True" %}
                            <span class="char-choose-field">{% trans "Inactive" %}</span>
                        {% endif %}
                        {% if features.experience and exp_systems %}
                            {% for sys in exp_systems %}
                                <span class="char-choose-field">
                                    <b>{{ sys.name }}</b>: {{ el.addit|get:sys.avail_key }} / {{ el.addit|get:sys.tot_key }}
                                </span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if el.last_run %}
                        <div class="char-choose-last">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            {% blocktrans with name=el.last_run %}Last played in {{ name }}{% endblocktrans %}
                        </div>
                    {% endif %}
                </div>
                <div class="char-choose-actions">
                    {% if not el.assigned_here and el.addit.inactive != "True" %}
                        {% if can_select or can_switch %}
                            <form action="{% url 'character_assign' run.get_slug el.uuid %}"
                                  method="post">
                                {% csrf_token %}
                                <button type="submit" class="char-choose-select">
                                    {% if can_select %}
                                        {% trans "Select this character" %}
                                    {% else %}
                                        {% trans "Play this character instead" %}
                                    {% endif %}
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if features.user_character %}
                        <a href="{% url 'character_edit' run.get_slug el.uuid %}"
                           qtip="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                    {% endif %}
                    {% if exp_user %}
                        <a href="{% url 'character_abilities' run.get_slug el.uuid %}">{% trans "Ability" %}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
