{% load show_tags i18n %}
<div class="staff-list">
    <div class="orga-buttons">
        <a class="new button" href="#">{% trans "New" %}</a>
        <script>
        document.querySelector('a.new').addEventListener('click', function(event) {
            event.preventDefault();
            let currentUrl = window.location.href;
            let cleanedUrl = currentUrl.split('#')[0];
            let newUrl = cleanedUrl + 'edit/0';
            window.location.href = newUrl;
        });
        </script>
        {% if upload %}
            <a class="new button"
               href="{% url 'orga_upload' run.event.slug run.number upload %}">{% trans "Upload" %}</a>
        {% endif %}
        {% if download %}
            <form action="{{ request.path }}" method="post" class="inline">
                {% csrf_token %}
                <input type="hidden" name="download" value="1">
                <button type="submit" name="submit" value="1">{% trans "Download" %}</button>
            </form>
        {% endif %}
        {% if export %}
            <a class="new button"
               href="{% url 'orga_export' run.event.slug run.number export %}">{% trans "Export" %}</a>
        {% endif %}
    </div>
</div>
