{% load show_tags i18n %}
<div class="staff-list">
    <div class="orga-buttons">
        <a class="new button" href="#">{% trans "New" %}</a>
        <script>
        document.querySelector('a.new').addEventListener('click', function(event) {
            event.preventDefault();
            let currentUrl = window.location.href;
            let cleanedUrl = currentUrl.split('#')[0];
            let newUrl = cleanedUrl + 'edit/0';
            window.location.href = newUrl;
        });
        </script>
        <button class="my_toggle" tog='search'>
            <a href="#">{% trans "Search" %}</a>
        </button>
        {% if list %}
            <button class="my_toggle" tog='show_list'>
                <a href="#">{% trans "List" %}</a>
            </button>
        {% endif %}
        <button class="my_toggle" tog='load-form'>
            <a href="#">{% trans "Upload" %}</a>
        </button>
        <form action="{{ request.path }}" method="post" class="inline">
            {% csrf_token %}
            <input type="hidden" name="download" value="1">
            <button type="submit" name="submit" value="1">{% trans "Download" %}</button>
        </form>
        {% if export %}
            <button>
                <a href="{% url 'orga_export' run.event.slug run.number export %}">{% trans "Export" %}</a>
            </button>
        {% endif %}
        {% if features.cover and nm == 'character' %}
            <button class="my_toggle" tog='cover-form'>
                <a href="#">{% trans "Upload cover" %}</a>
            </button>
        {% endif %}
        {% if features.progress %}
            <button class="my_toggle" tog='progress-table'>
                <a href="#">{% trans "Progress" %}</a>
            </button>
        {% endif %}
        {% if features.assigned %}
            <button class="my_toggle" tog='assigned-table'>
                <a href="#">{% trans "Assignments" %}</a>
            </button>
        {% endif %}
        {% if features.progress and features.assigned %}
            <button class="my_toggle" tog='progress-assigned-table'>
                <a href="#">{% trans "Progress" %} - {% trans "Assignments" %}</a>
            </button>
        {% endif %}
    </div>
    <div class="hide search">
        <input type="text" placeholder="Search..." id="search_tbl" />
        <hr />
    </div>
    <div class="hide show_list">
        {% for el in list %}
            <a href="#{{ el.id }}">
                {% if el.search %}
                    {{ el.search }}
                {% else %}
                    {{ el }}
                {% endif %}
            </a>
        {% endfor %}
        <hr />
    </div>
    <div class="hide load-form">
        {% trans "You can upload data directly from a csv file" %}.
        <br />
        {% trans "The first line are the field names, such as 'number', 'name', 'presentation', 'text'. (Only 'number' is required)" %}
        <br />
        {% trans "If you want to download an example file, click here" %}.
        <form action="{{ request.path }}" method="post" class="inline">
            {% csrf_token %}
            <input type="hidden" name="example" value="1">
            <button type="submit" name="submit" value="1">{% trans "Loading template" %}</button>
        </form>
        <br />
        <br />
        {% trans "If you already have the file ready, upload it here (pay attention to the 'csv' format)" %}:
        <form action="{{ request.path }}"
              enctype="multipart/form-data"
              method="post">
            {% csrf_token %}
            {{ form.elem }}
            <br />
            <input type="hidden" name="upload" value="elements">
            <input type="submit" value="Submit">
        </form>
        <hr />
    </div>
    {% if features.cover and nm == 'character' %}
        <div class="hide cover-form">
            <form action="{{ request.path }}"
                  enctype="multipart/form-data"
                  method="post">
                {% csrf_token %}
                {% trans "Select a file with extension 'zip'" %}.
                {% trans "Inside this file must be the photos, named by the number of the character" %}.
                <br />
                <br />
                <table class="no_csv">
                    {{ form.as_table }}
                </table>
                <input type="hidden" name="upload" value="cover">
                <input type="submit" value="Submit">
            </form>
            <hr />
        </div>
    {% endif %}
    {% if features.progress %}
        <div class="hide progress-table">
            <table class="no_csv">
                {% for k, el in progress_steps.items %}
                    <tr>
                        <th>{{ el }}</th>
                        <td>{% key progress_steps_map k %}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr />
        </div>
    {% endif %}
    {% if features.assigned %}
        <div class="hide assigned-table">
            <table class="no_csv">
                {% for k, el in assigned.items %}
                    <tr>
                        <th>{{ el }}</th>
                        <td>{% key assigned_map k %}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr />
        </div>
    {% endif %}
    {% if features.progress and features.assigned %}
        <div class="hide progress-assigned-table">
            <table class="mob">
                <tr>
                    <th></th>
                    {% for k, el in progress_steps.items %}<th>{{ el }}</th>{% endfor %}
                </tr>
                {% for k, el in assigned.items %}
                    <tr>
                        <th>{{ el }}</th>
                        {% for kk, elel in progress_steps.items %}
                            <td>{% key progress_assigned_map kk k %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <hr />
        </div>
    {% endif %}
</div>
<div id="overlay">
    <div class="lds-roller">
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
    </div>
</div>
