{% load show_tags i18n %}
<div class="staff-list">
    <div class="orga-buttons">
        <a class="new button" href="#">{% trans "New" %}</a>
        <script>
        document.querySelector('a.new').addEventListener('click', function(event) {
            event.preventDefault();
            let currentUrl = window.location.href;
            let cleanedUrl = currentUrl.split('#')[0];
            let newUrl = cleanedUrl + 'edit/0';
            window.location.href = newUrl;
        });
        </script>
        {% if upload %}
            <a class="new button"
               href="{% url 'orga_upload' run.event.slug run.number upload %}">{% trans "Upload" %}</a>
        {% endif %}
        <form action="{{ request.path }}" method="post" class="inline">
            {% csrf_token %}
            <input type="hidden" name="download" value="1">
            <button type="submit" name="submit" value="1">{% trans "Download" %}</button>
        </form>
        {% if export %}
            <a class="new button"
               href="{% url 'orga_export' run.event.slug run.number export %}">{% trans "Export" %}</a>
        {% endif %}
        {% if features.progress %}
            <a class="new button my_toggle" tog='progress-table' href="#">{% trans "Progress" %}</a>
        {% endif %}
        {% if features.assigned %}
            <a class="new button my_toggle" tog='assigned-table' href="#">{% trans "Assignments" %}</a>
        {% endif %}
        {% if features.progress and features.assigned %}
            <a class="new button my_toggle" tog='progress-assigned-table' href="#">{% trans "Progress" %} - {% trans "Assignments" %}</a>
        {% endif %}
    </div>
    {% if features.progress %}
        <div class="hide progress-table">
            <table>
                {% for k, el in progress_steps.items %}
                    <tr>
                        <th>{{ el }}</th>
                        <td>{% key progress_steps_map k %}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr />
        </div>
    {% endif %}
    {% if features.assigned %}
        <div class="hide assigned-table">
            <table>
                {% for k, el in assigned.items %}
                    <tr>
                        <th>{{ el }}</th>
                        <td>{% key assigned_map k %}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr />
        </div>
    {% endif %}
    {% if features.progress and features.assigned %}
        <div class="hide progress-assigned-table">
            <table class="mob">
                <tr>
                    <th></th>
                    {% for k, el in progress_steps.items %}<th>{{ el }}</th>{% endfor %}
                </tr>
                {% for k, el in assigned.items %}
                    <tr>
                        <th>{{ el }}</th>
                        {% for kk, elel in progress_steps.items %}
                            <td>{% key progress_assigned_map kk k %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <hr />
        </div>
    {% endif %}
</div>
<div id="overlay">
    <div class="lds-roller">
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
        <div>
            <!-- spinner -->
        </div>
    </div>
</div>
