{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Change password" %}
{% endblock title %}
{% block content %}
    {% if validlink %}
        <form method="post" action=".">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "Submit" %}" />
        </form>
    {% else %}
        <p>{% trans "Failed password reset" %}</p>
    {% endif %}
{% endblock content %}
{% block js %}
    <script>
window.addEventListener('DOMContentLoaded', function() {
    $(document).ready(function(){
        $("br").remove();
    });
});
    </script>
{% endblock js %}
