{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Change password" %}
{% endblock title %}
{% block content %}
    {% if validlink %}
        <div class="form_container user_resize">
            <form method="post" action=".">
                {% csrf_token %}
                <table class="mob">
                    {{ form.as_table }}
                </table>
                <input type="submit" value="{% trans "Submit" %}" />
            </form>
        </div>
    {% else %}
        <p>{% trans "Failed password reset" %}</p>
    {% endif %}
{% endblock content %}
{% block js %}
    <script>
window.addEventListener('DOMContentLoaded', function() {
    $(document).ready(function(){
        $("br").remove();
    });
});
    </script>
{% endblock js %}
