{% load i18n static show_tags %}
{% if form.inventory_container_manifest %}
    <table id="inv_assignments"
           class="go_datatable dot_links"
           no_header_cols="3">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Selected" %}</th>
                <th>{% trans "Container" %}</th>
                <th>{% trans "Notes" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for el in form.container_all.values %}
                {% with idstr=el.id|stringformat:"s" %}
                    {% with sel="sel_cnt_"|add:idstr qty="qty_cnt_"|add:idstr notes="notes_cnt_"|add:idstr %}
                        <tr id="{{ el.id }}">
                            <td></td>
                            <td data-order="{% if el.selected %}1{% else %}0{% endif %}"
                                class="inp-sel">{{ form|get_form_field:sel }}</td>
                            <td>{{ el }}</td>
                            <td>{{ form|get_form_field:notes }}</td>
                        </tr>
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    <hr />
{% endif %}
<table id="inv_assignments_items"
       class="go_datatable dot_links"
       no_header_cols="{{ form.no_header_cols }}">
    <thead>
        <tr>
            <th></th>
            <th>{% trans "Selected" %}</th>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Tags" %}</th>
            {% if form.optionals.quantity %}
                <th>{% trans "Available" %}</th>
                <th>{% trans "Quantity" %}</th>
            {% endif %}
            <th>{% trans "Notes" %}</th>
            <th>{% trans "Photo" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for el in form.item_all.values %}
            {% with idstr=el.id|stringformat:"s" %}
                {% with sel="sel_itm_"|add:idstr qty="qty_itm_"|add:idstr notes="notes_itm_"|add:idstr %}
                    <tr id="{{ el.id }}">
                        <td></td>
                        <td data-order="{% if el.selected %}1{% else %}0{% endif %}"
                            class="inp-sel">{{ form|get_form_field:sel }}</td>
                        <td>{{ el }}</td>
                        <td>
                            {% for tag in el.tags.all %}{{ tag }}{% endfor %}
                        </td>
                        {% if form.optionals.quantity %}
                            <td>{{ el.available }}</td>
                            <td data-order="{{ el.quantity_assigned }}" class="inp-quantity">{{ form|get_form_field:qty }}</td>
                        {% endif %}
                        <td>{{ form|get_form_field:notes }}</td>
                        <td>
                            {% if el.photo %}
                                <img src="{{ el.thumb.url }}"
                                     class="inv_photo"
                                     alt="item photo"
                                     style="cursor: pointer"
                                     onclick="openImage('{{ el.photo.url }}')" />
                            {% endif %}
                        </td>
                    </tr>
                {% endwith %}
            {% endwith %}
        {% endfor %}
    </tbody>
</table>
<hr />
