{% load i18n %}
<script>

window['texts'] = {
    'upd': '{% trans "Your updated registration total is" %}',
    'alr': '{% trans "You have already paid" %}',
    'cre': '{% trans "The following will be used" %} {{ credit_name }}:',
    'tok': '{% trans "The following will be used" %} {{ token_name }}:',
    'pro': '{% trans "Your registration will now be saved in provisional status. It will be confirmed when your ticket payment is received." %}',
    'payment': {{ payment_feature | yesno:"true,false" }}
}
</script>
