{% load i18n %}
<script>

window['texts'] = {
    'upd': '{% filter escapejs %}{% trans "Your updated registration total is" %}{% endfilter %}',
    'alr': '{% filter escapejs %}{% trans "You have already paid" %}{% endfilter %}',
    'cre': '{% filter escapejs %}{% trans "The following will be used" %} {{ credits_name }}{% endfilter %}:',
    'tok': '{% filter escapejs %}{% trans "The following will be used" %} {{ tokens_name }}{% endfilter %}:',
    'pro': '{% filter escapejs %}{% trans "Your registration will now be saved in provisional status. It will be confirmed when your ticket payment is received" %}{% endfilter %}.',
    'payment': {{ payment_feature | yesno:"true,false" }}
}
</script>
