{% load show_tags i18n %}
<div class="nav">
    {% if features.user_character %}
        <div class="lm_tooltip">
            <a href="{% url 'character_change' event.slug run.number char.number %}">{% trans "Change" %}</a>
            <div class="lm_tooltiptext">{% trans "Edit your character's data" %}!</div>
        </div>
    {% endif %}
    {% if features.px and px_user %}
        <div class="lm_tooltip">
            <a href="{% url 'character_abilities' event.slug run.number char.number %}">{% trans "Ability" %}</a>
            <div class="lm_tooltiptext">{% trans "Buy skills for your character" %}!</div>
        </div>
    {% endif %}
    {% if features.custom_character %}
        <div class="lm_tooltip">
            <a href="{% url 'character_customize' event.slug run.number char.number %}">{% trans "Customize" %}</a>
            <div class="lm_tooltiptext">{% trans "Modify some character elements to make it yours" %}!</div>
        </div>
    {% endif %}
    {% if features.player_relationships %}
        <div class="lm_tooltip">
            <a href="{% url 'character_relationships' event.slug run.number char.number %}">{% trans "Relationships" %}</a>
            <div class="lm_tooltiptext">{% trans "Fill in your character's relationships" %}!</div>
        </div>
    {% endif %}
    {% if features.help %}
        <div class="lm_tooltip">
            <a href="{% url 'help' event.slug run.number %}">{% trans "Questions" %}</a>
            <div class="lm_tooltiptext">{% trans "Write here questions about your character directly to the authors" %}!</div>
        </div>
    {% endif %}
</div>
