{% load show_tags i18n %}
{% if features.gender %}
    <div class="go-inline">
        <b>{% trans "Gender" %}:</b>
        {% if char.gender == 'm' %}
            {% trans "Male" %}
        {% endif %}
        {% if char.gender == 'f' %}
            {% trans "Female" %}
        {% endif %}
        {% if char.gender == 'u' %}
            {% trans "Unisex" %}
        {% endif %}
    </div>
{% endif %}
{% for idx, question in questions.items %}
    {% with char.fields|get:idx as field %}
        {% if field %}
            {% if screen or field.printable %}
                <div class="go-inline">
                    <b>{{ question.display }}:&nbsp;</b>{% get_character_field field options %}
                </div>
            {% endif %}
        {% endif %}
    {% endwith %}
{% endfor %}
