{% load show_tags i18n %}
{% if show_co_creation %}
    <h2 class="c">{% trans "Co-creation" %}</h2>
    <p class="c">
        <b>{% trans "Questions" %}</b>
    </p>
    <div class="plot">{% show_char co_creation.first run 1 %}</div>
    <br />
    <p class="c">
        <b>{% trans "Answers" %}</b>
    </p>
    <div class="plot">{% show_char co_creation.second run 1 %}</div>
    {% if not staff %}
        <p class="c">
            <button>
                <a href="{% url 'character_co_creation' event.slug run.number char.number %}">{% trans "Change" %}</a>
            </button>
        </p>
    {% endif %}
{% endif %}
