{% load show_tags i18n %}
{% if faction.cover %}
    <img class="faction-logo-cover"
         src="{{ faction.cover }}"
         alt="faction logo" />
{% endif %}
{% count_sheet_titles fact.fields fact.questions screen faction.text show_text=True visibility_e_only=False teaser_content=faction.teaser show_teaser=True as title_count %}
{% for idx, question in fact.questions.items %}
    {% if question.typ == 'teaser' %}
        {% if faction.teaser %}
            <div class="go-block">
                {% if title_count > 1 %}<h2 class="c title">{{ question.name }}</h2>{% endif %}
                <div class="plot">{% show_char faction.teaser run 1 %}</div>
            </div>
        {% endif %}
    {% elif question.typ == 'text' %}
        {% if faction.text %}
            {% if title_count > 1 %}<h2 class="c title">{{ question.name }}</h2>{% endif %}
            <div class="plot">{% show_char faction.text run 1 %}</div>
        {% endif %}
    {% elif question.typ == 'e' or question.typ == 'p' %}
        {% with fact.fields|get:idx as field %}
            {% if field %}
                {% if screen or question.printable %}
                    {% if title_count > 1 %}<h2 class="c title">{{ question.name }}</h2>{% endif %}
                    {% if question.typ == 'e' %}
                        <div class="plot">{% show_char field run 1 %}</div>
                    {% else %}
                        <div class="plot">{{ field|linebreaksbr }}</div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endwith %}
    {% elif question.typ == 'file' %}
        {% with fact.fields|get:idx as field %}
            {% if field %}
                {% if screen or question.printable %}
                    <div class="go-inline">
                        <span class="hide-screen">|</span>
                        <b>{{ question.name }}:&nbsp;</b><a href="{{ field|storage_url:event }}" target="_blank">{{ field|storage_filename }}</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endwith %}
    {% else %}
        {% with fact.fields|get:idx as field %}
            {% if field %}
                {% if screen or question.printable %}
                    <div class="go-inline">
                        <b>{{ question.name }}:&nbsp;</b>{% get_character_field field fact.options %}
                    </div>
                {% endif %}
            {% endif %}
        {% endwith %}
    {% endif %}
{% endfor %}
<h2>{% trans "Characters" %}</h2>
{% for chnum in faction.characters %}
    {% with chars|get:chnum as el %}
        {% if not el.hide %}
            {% if pdf %}
                <table class="rel-item">
                    <tr>
                        <td class="rel-img-cell">
                            {% with faction.char_images|get:chnum as char_img %}
                                {% if char_img %}<img class="rel-img" src="{{ char_img }}" alt="character profile" />{% endif %}
                            {% endwith %}
                        </td>
                        <td class="rel-text-cell">
                            <p class="rel-info">
                                <span class="rel-name">
                                    <a href="{% url 'character' run.get_slug el.uuid %}">{{ el.name }}</a>
                                </span>
                                {% if el.player_uuid %}
                                    | <b>{% trans "Player:" %}&nbsp;</b>
                                    <a href="{% url 'public' el.player_uuid %}">
                                        {% if run.id in all_runs %}
                                            {{ el.player_full }}
                                        {% else %}
                                            {{ el.player }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </p>
                            {% if el.title and show_character.title %}
                                <div class="go-inline">
                                    <b>{{ writing_fields.character.names.title }}: </b> {{ el.title | safe }}
                                </div>
                            {% endif %}
                            {% if el.teaser and show_character.teaser %}
                                <div class="go-inline">
                                    <b>{{ writing_fields.character.names.teaser }}: </b> {% show_char el.teaser run 1 %}
                                </div>
                            {% endif %}
                            {% if el.factions %}
                                <div class="go-inline">
                                    <b>{% trans "Factions:" %}</b>
                                    {% for fnum in el.factions %}
                                        {% with factions|get:fnum as g %}
                                            {% if not g.typ == 'g' %}
                                                {% include "elements/comma.html" %}
                                                {{ g.name }}
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            {% else %}
                <div class="gallery single relationships">
                    <div class="el">
                        <div class="icon">
                            <img src="{% get_char_profile el %}" alt="character profile" />
                        </div>
                    </div>
                    <div class="text">
                        <h3>
                            <a href="{% url 'character' run.get_slug el.uuid %}">{{ el.name }}</a>
                        </h3>
                        {% if el.player_uuid %}
                            <div class="go-inline">
                                <p>
                                    <b>{% trans "Player:" %} </b> <a href="{% url 'public' el.player_uuid %}">
                                        {% if run.id in all_runs %}
                                            {{ el.player_full }}
                                        {% else %}
                                            {{ el.player }}
                                        {% endif %}
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                        {% if el.title and show_character.title %}
                            <div class="go-inline">
                                <b>{{ writing_fields.character.names.title }}: </b> {{ el.title | safe }}
                            </div>
                        {% endif %}
                        {% if el.teaser and show_character.teaser %}
                            <div class="go-inline">
                                <b>{{ writing_fields.character.names.teaser }}: </b> {% show_char el.teaser run 1 %}
                            </div>
                        {% endif %}
                        {% if el.factions %}
                            <div class="go-inline">
                                <b>{% trans "Factions:" %}</b>
                                {% for fnum in el.factions %}
                                    {% with factions|get:fnum as g %}
                                        {% if not g.typ == 'g' %}
                                            {% include "elements/comma.html" %}
                                            {{ g.name }}
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <hr class="clear" />
        {% endif %}
    {% endwith %}
{% endfor %}
