{% load show_tags i18n %}
{% for idx, question in char.questions.items %}
    {% if question.typ != 'e' %}
        {% with char.fields|get:idx as field %}
            {% if field %}
                {% if screen or question.printable %}
                    <div class="go-inline">
                        <b>{{ question.name }}:&nbsp;</b>{% get_character_field field char.options %}
                    </div>
                {% endif %}
            {% endif %}
        {% endwith %}
    {% endif %}
{% endfor %}
