{% load show_tags i18n %}
<h1 id="char_name">{{ sheet_char.name }}</h1>
<span id="char_present">
    {% include "elements/sheet/presentation.html" %}
    {% include "elements/sheet/fields.html" with char=sheet_char %}
</span>
{% include "elements/sheet/teaser.html" with char=sheet_char %}
<hr />
{% include "elements/sheet/texts.html" with char=sheet_char %}
{% include "elements/sheet/experience.html" %}
{% include "elements/sheet/factions.html" %}
{% include "elements/sheet/guilds.html" %}
{% include "elements/sheet/plots.html" %}
{% include "elements/sheet/quests.html" %}
{% include "elements/sheet/speedlarp.html" %}
{% include "elements/sheet/prologue.html" %}
{% include "pdf/sheets/relationships.html" %}
