{% load show_tags i18n %}
{% if features.px %}
    <h2>{% trans "Experience points" %}</h2>
    <table class="mob no_csv">
        <tr>
            <th>{% trans "Total" %}</th>
            <th>{% trans "Used" %}</th>
            <th>{% trans "Available" %}</th>
        </tr>
        <tr>
            <td>{{ character.addit | get:'px_tot' }}</td>
            <td>{{ character.addit | get:'px_used' }}</td>
            <td>{{ character.addit | get:'px_avail' }}</td>
        </tr>
    </table>
    {% if sheet_abilities %}
        <h3>{% trans "Ability list" %}</h3>
        {% for typ, ls in sheet_abilities.items %}
            <p>
                <b>{{ typ }}:</b>
                {% for el in ls %}
                    {% include "elements/comma.html" %}
                    {{ el.name }} ({{ el.cost }})
                    {% if undo_abilities and el.id in undo_abilities %}
                        <a href="{% url 'character_abilities_del' event.slug run.number character.number el.id %}"
                           qtip="{% trans "Remove" %}">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    {% endif %}
                {% endfor %}
            </p>
        {% endfor %}
    {% endif %}
    {% if character.px_delivery_list.count %}
        <h3>{% trans "Delivery list" %}</h3>
        <p>
            {% for el in character.px_delivery_list.all %}
                {% include "elements/comma.html" %}
                {{ el.name }} ({{ el.amount }})
            {% endfor %}
        </p>
        <hr class="clear" />
    {% endif %}
{% endif %}
