{% load show_tags i18n static %}
{% if show_trait %}
    {% for f in sheet_traits %}
        {% if f.rels %}
            <h2 class="c">{{ f.quest.name }} - {{ f.name }}</h2>
            {% for el in f.rels %}
                <div class="gallery single relationships">
                    <div class="el">
                        <div class="icon">
                            <div class="img_cover"
                                 style="background-image:url('{% if el.player_id > 0 %}{{ el.player_prof }}{% else %}{% static 'larpmanager/assets/blank-avatar.svg' %}{% endif %}')">
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <div class="go-inline">
                            <span class="character-name"><a href="{% url 'character' event.slug run.number el.number %}">{{ el.name }}</a> </span>
                            {% if el.title %}- <b>{{ el.title }}</b>{% endif %}
                            {% if el.pronoun %}({{ el.pronoun }}){% endif %}
                        </div>
                        {% if el.player_id > 0 %}
                            <div class="go-inline">
                                <b>{% trans "Player" %}:&nbsp;</b><a href="{% url 'public' el.player_id %}">{{ el.player }}</a>
                            </div>
                        {% endif %}
                        <div class="go-inline">
                            <b>{% trans "Factions" %}:&nbsp;</b>
                            {% for fnum in el.factions %}
                                {% with factions|get:fnum as g %}
                                    {% if not g.typ == 'g' %}
                                        {% include "elements/comma.html" %}
                                        {{ g.name }}
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                    <hr class="clear" />
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
