{% load show_tags i18n %}
{% if rel and show_addit.relationships %}
    <h2 class="c">{% trans "Relationships" %}</h2>
    {% for el in rel %}
        <div class="gallery single relationships">
            <div class="el">
                <div class="icon">
                    <div class="img_cover"
                         style="background-image:url('{% get_char_profile el %}')"></div>
                </div>
            </div>
            <div class="text">
                <div class="go-inline">
                    <span class="character-name"><a href="{% url 'character' event.slug run.number el.number %}">{{ el.name }}</a> </span>
                    {% if el.title %}- <b>{{ el.title }}</b>{% endif %}
                    {% if el.pronoun %}({{ el.pronoun }}){% endif %}
                </div>
                {% if el.player_id > 0 %}
                    <div class="go-inline">
                        <b>{% trans "Player" %}:&nbsp;</b><a href="{% url 'public' el.player_id %}">{{ el.player }}</a>
                    </div>
                {% endif %}
                <div class="go-inline">
                    {% if el.factions_list %}
                        <b>{% trans "Factions" %}:&nbsp;{{ el.factions_list }}</b>
                    {% endif %}
                </div>
                {% show_char el.text run 1 %}
            </div>
        </div>
        <hr class="clear" />
    {% endfor %}
{% endif %}
