{% load show_tags i18n %}
{% count_public_questions char.questions as block_count %}
{% if char.teaser and show_character.teaser %}
    {% if block_count > 1 %}<h2 class="c">{{ writing_fields.character.names.teaser }}</h2>{% endif %}
    <div class="plot teaser">{% show_char char.teaser run 1 %}</div>
{% endif %}
{% for idx, question in char.questions.items %}
    {% if question.typ == 'p' or question.typ == 'e' %}
        {% with char.fields|get:idx as field %}
            {% if field and question.visibility != 'e' %}
                {% if screen or question.printable %}
                    <div class="go-block">
                        {% if block_count > 1 %}<b>{{ question.name }}:</b>{% endif %}
                        <div class="plot">
                            {% if question.typ == 'e' %}
                                {% show_char field run 1 %}
                            {% else %}
                                {{ field|linebreaksbr }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endwith %}
    {% endif %}
{% endfor %}
